[2018-05-08 12:31] michalochman opened #5 "Licensing and future plans"
Hello Patrick,

I've noticed that you decided to implement your own version of React reconciler for Pixi based on [michalochman/react-pixi-fiber](https://github.com/michalochman/react-pixi-fiber).
Great! I have absolutely no problem with that, as I've released it under MIT license.
However, according to the license, you should have left the original copyright notice in any _substantial portions_ o

[2018-05-11 06:49] michalochman commented on #5
In addition to the above, I've noticed that you publicly [claim copyright ownership](https://twitter.com/patrickbrouwer/status/977860340473126913) on Twitter. Saying that you "wrote a React PIXI Renderer" is far from truth.

[2018-05-11 07:10] inlet commented on #5
Hi Michał,

Thank you for reaching out!

### Regarding copyrights

This repo isn't a clone or copy of your codebase. I did some research on React Fiber reconcilers in general and used yours (and others) as reference. Take that as a compliment :) Sorry to see you're offended.

I wrote this lib from ground up, just have a thorough look at the code. Although, we might share some common code-architect

[2018-05-11 07:10] #5 closed

[2018-05-11 07:48] michalochman commented on #5
Hi Patrick,

### What you write above is not true at all.

I think the [very first commit](https://github.com/inlet/react-pixi/commit/dacf2dc15bc4469096dd88558c525e2ad6150e24#diff-04c6e90faac2675aa89e2176d2eec7d8) speaks for itself.

#### Your repository was not written from ground up, it was a copy of my repository with slightly changed file structure, you can clearly see it from the contents of

[2018-05-11 08:47] inlet commented on #5
Hi Michał,

With all due respect, I want to reply and close this conversation.

Yes I did start forking your project, but as the commits evolves you can see clearly see that a lot has changed and the codebase is totally different now. (just have a third look 😄)

So here's my solution. Although I'm confident I'm not doing anything wrong, I truly want to help you solve this. I'm not going to delete

[2018-05-11 09:29] inlet commented on #5
Second thought, we could merge our codebase together and make this codebase leading as it's more developed.
A good solution would be to create a Github organization for it and that we're both collaborations.

Please let me know your thoughts, thanks in  advance!

[2018-05-11 11:27] michalochman commented on #5
Hey Patrick, that's exactly what I proposed in my first comment – I think having one library with the same API is enough and will better benefit open source community.

I would not say that this codebase is more developed, can you please point me to the additional features this codebase has that are hard to implement over the original code and why do you think is better as a base?

The reasons I t

[2018-05-11 11:58] inlet commented on #5
Hi Michał,

First of all, thanks for your friendly reply.

True! But before we collaborate on it together we need to be on the same page. And let's take decisions together instead of solo.

There's nothing wrong with your codebase at all, but I would have done things differently. For example testing the thing through, you've tested each individual methods on the reconciler while I test the impleme

[2018-05-11 12:25] michalochman commented on #5
If I understand correctly, you mean that you here have added basic integration tests, while my codebase only has unit tests. That's true, but copying over these integration tests would be straightforward.

I'm really interested how do you think it does that and how it's different from the original repo in this regard. Would you be so kind to elaborate?

All Pixi events are supported in the origina

[2018-05-17 14:07] EloB opened #6 "Can you provide more examples?"
This isn't a direct issue but I would love to see some more examples. Right now I have a hard time figuring about how to use `mask`.

[2018-05-18 11:21] EloB opened #7 "Stage never teardown it's application"
I noticed that my app gets slower and slower. I've looked at your code and I can't see that you dont't destroy Pixi Application on unmount.

https://github.com/inlet/react-pixi/blob/master/src/stage/index.js#L155

Maybe change to?
[code]

[2018-05-24 09:43] inlet commented on #7
Ah thanks, seems like I totally forgot to destroy it on unmount. You can create a PR if you'd like?
The stage needs to be rendered manually on unmount as it clears the pixi stage.

[2018-05-24 10:39] inlet commented on #6
There are quite some examples on https://codepen.io/collection/XPpGdb

You can easily create [custom PIXI components](https://github.com/inlet/react-pixi#custom-components) and extend custom behaviour.

Here's an example of using mask:
https://codepen.io/inlet/pen/c2034d53f6f68faf8bf19e87a3e45663/?editors=0110

I've used the requestAnimationFrame only for demo-purpose, do not use that in your code

[2018-05-24 10:39] #6 closed

[2018-05-24 12:51] EloB commented on #7
Thanks for awesome library! Dreamed about this for a long time!

https://github.com/pixijs/pixi.js/issues/4028

[2018-05-24 13:21] #7 closed

[2018-05-25 10:31] EloB opened #9 "Sprite doesn't change image on prop update"
As topic says.

Here is a simple example.
http://jsbin.com/datowucebu/edit?js,console,output

[2018-05-25 10:49] inlet commented on #9
Good one! Now it only converts the image once on creation. If you use texture it works:

http://jsbin.com/qiqebahepa/1/edit?js,console,output

A fix would be something like this:

src/components/Sprite.js

[code]

Same applies to other components like for example `NineSlicePlane`

[2018-05-25 10:52] inlet commented on #9
If you'd like you can create a PR with a fix or if you prefer I can fix it as well (would be probably somewhere next week) 😄

[2018-05-25 10:59] EloB commented on #9
Yeah I noticed that Texture worked so continued with that. Just wanted to inform that image was more or less static :)

[2018-05-25 11:02] inlet commented on #9
True, yes need to be fixed. I'll create a PR and fix this once I've time.
Thanks for pointing out though!

[2018-05-27 12:35] xaviergonz opened #10 "TS typings don't work with TS 2.8"
### Description

[code]
gives me an error that Stage is not exported

here's my tsconfig.json

[code]

### Additional info

- `@inlet/react-pixi` version: latest
- `React` version: 16.4
- `ReactDOM` version: 16.4
- `PIXI` version: latest

[2018-05-27 13:28] #10 closed

[2018-05-27 14:36] inlet commented on #9
Hi @EloB, I've just fixed the issue.

Now it updates on syntactical built-in PIXI components updates, like `image` and `draw` props.

[2018-05-27 14:42] #9 closed

[2018-06-04 16:37] EloB opened #14 "Not working with latest context api"
Using the latest React with the new context api is broken.

`react@16.3.0` Work
http://jsbin.com/joteqiluve/1/edit?html,js,console,output

`react@16.3.2` Doesn't work
http://jsbin.com/viyekexika/edit?html,js,console,output (**UPDATED LINK**)

[2018-06-04 17:51] inlet commented on #14
Both jsbin examples seems to work correctly.

The `<Stage>` is using the legacy context API which will be supported for all React 16.x versions:
https://reactjs.org/docs/legacy-context.html

You can use the `<Provider>` for exposing the `PIXI.Application`:
https://github.com/inlet/react-pixi/blob/master/README.md#access-the-pixiapplication-in-child-components

Is your problem React related or rela

[2018-06-05 09:33] EloB commented on #14
I provided wrong jsbin. I've updated the `1.6.3` link and now it's broken.

[2018-06-05 09:35] EloB commented on #14
[code]

[2018-06-08 16:16] scottkunkel opened #15 "onUnMount for Stage"
### Description
Please provide an unmount hook to clean up resources

### Steps to reproduce

1.
2.

### Additional info

- `@inlet/react-pixi` version:
- `React` version:
- `ReactDOM` version:
- `PIXI` version:

[2018-06-08 16:20] inlet commented on #14
Would you be in for fixing this and create a PR? I can fix it, but not the coming days

[2018-06-08 17:22] scottkunkel commented on #15
Sure, I am doing

export class App extends React.Component<AppProps>{

  stageMount(app: any, container: HTMLElement){
    const width =  Number(window.getComputedStyle(container).width.replace("px",""));
    const height = Number(window.getComputedStyle(container).height.replace("px",""));
    const scale = width / APP_DEFAULT.canvasWidth < height / APP_DEFAULT.canvasHeight ?
      width / APP_DE

[2018-06-08 17:39] inlet commented on #15
Sure we could add a `onUnmount` prop, but why not add those React life cycles to your class instead?

[2018-06-08 17:51] scottkunkel commented on #15
yes, that's a solution.

Thanks

[2018-06-08 17:53] inlet commented on #15
Having an unmount isn’t a bad idea, if you’re up to it you can create a PR with test ;)

[2018-06-12 14:12] inlet commented on #14
It seems that the hostconfig is changed for the reconciler, I've created a PR and will fix this asap. Thanks for pointing out @EloB !

[2018-06-12 14:14] inlet commented on #15
I'll close this issue, if you'd like the unmount in `Stage` please create a PR with some tests 🤘

[2018-06-12 14:14] #15 closed

[2018-06-13 16:12] inlet commented on #15
👍 The unmount prop is added in PR #16.

[2018-06-13 18:37] inlet commented on #14
Done! 🙌

[2018-06-13 18:37] #14 closed

[2018-06-21 16:51] bichotll opened #17 "Implementation of docz"
### Description

I'd like to contribute to the project by creating a PR that contains the documentation of this awesome project :)
This would improve the use and readability of the library.
 - With documentation of each component
 - Examples of each component
 - Can be used as github page
 - Can be used as development environment for the library. While you create the components you can see the cha

[2018-06-22 09:21] inlet commented on #17
Awesome! Yes go ahead and add the docs 🤘

I've setup github pages for this project. You can add the docs to `/docs` folder and it will be available here: https://reactpixi.org

[2018-06-22 11:06] inlet commented on #17
If I can help please let me know

[2018-06-22 11:08] bichotll commented on #17
Sure thing!
Just to let you know. I'll try to have it for next week, altho I think I will in 2 (I'll be busy next week)! 👍

[2018-06-22 11:09] inlet commented on #17
Sure, take your time 😉

[2018-07-05 11:37] EloB opened #18 "What happend with the UMD?"
UMD was removed and it's really good to have. Easier to test things with for instance https://unpkg.com/ (jsbin, jsfiddle).

[2018-07-05 11:40] EloB commented on #18
Sorry this is wrong. Forgot to add @inlet/react-pixi.

[2018-07-05 11:40] #18 closed

[2018-07-05 11:41] inlet commented on #18
👍

[2018-07-06 15:47] bichotll commented on #17
@inlet PR ready to review.
Please check the description - I have done most of the work, but there are few things that should be reviewed and done 👍

[2018-07-10 04:04] kiochan opened #20 "Are there some definitions for typescript already obsolete?"
Here is my test code:

[code]

I try to use command `tsc` to compile it, then I got this error message below:

[code]

The definition for `ReactPixi.render()` is in `index.d.ts:45`

[code]

I think because `React.createElement(ReactPixi.Text)` dose not return something in `PIXI.DisplayObject`.

So I tried to convert it it into `PIXI.DisplayObject` just like below:

[code]

It dosen't work too, bec

[2018-07-11 19:01] inlet commented on #20
Hi @kiochan,

I've created a PR with a potential fix. Could you verify it's working now?

[2018-07-11 19:20] bichotll commented on #17
Woah! Such an improvement! Thanks to you! 👍

And yeah, another good thing about it is that you can debug the library while coding it :)

[2018-07-14 08:56] kiochan commented on #20
I still got same error with your PR, then i try to copy the declaration from `@types/react` directly, it did fix the issue potentially.

[2018-07-15 12:22] inlet commented on #20
Awesome, I'll merge PR #23 now as this fixes the issue right?

[2018-07-15 13:43] kiochan commented on #20
yes it did fix the issue ;)

[2018-08-02 14:33] korroktheslavemaster opened #26 "Custom Component example in readme incorrect"
### Description
Incorrect custom component example in readme. Should not instantiate custom component with `var x = new PixiComponent(...)`, just do `var x = PixiComponent(...)` otherwise TypeError thrown by react.

### Steps to reproduce

1. Make component eg. `var CustomComponent = new PixiComponent('MyComponent', {})`

### Additional info

- `@inlet/react-pixi` version: 0.1.0
- `React` version:

[2018-08-02 14:41] korroktheslavemaster opened #27 "ParticleContainer not respecting maxSize prop"
### Description
I'm not able to get `ParticleContainer` component to work with `maxSize`. Setting the prop does not work. However using `PixiComponent` to instantiate a `PIXI.ParticleContainer` with maxSize works.

### Steps to reproduce

[code]
This renders only the first 1500 sprites (8 rows in this example). Changing `ParticleContainer` to `Container` renders all. Also using a `CustomParticleCo

[2018-08-02 14:45] inlet commented on #26
Thanks for pointing out! If you'd like you can create a PR for this?

[2018-08-02 15:23] inlet commented on #27
Will have a look, thanks!

[2018-08-14 14:06] bichotll opened #28 "Docs - Add warning (to use clear method) for Graphics component when updating draw"
### Description

We should add a warning in the Graphics component to warn the user that he may want to clear the canvas if new properties have received.

I can work on that and create a PR.

### Steps to reproduce

I created a simple example: https://codepen.io/bichotll/pen/KBYBpd?editors=0011

[2018-08-14 19:19] bobby opened #29 "Unable to unset `cursor` property"
### Description

I am trying to temporarily set the cursor style of a child element during an interaction, and then to remove the child cursor style so that the cursor's appearance reverts to that set on the parent element when the interaction is completed.  However, currently I'm unable to set the `cursor` property to `null` due to https://github.com/inlet/react-pixi/blob/master/src/utils/props.j

[2018-08-15 08:28] inlet commented on #28
I believe this should be up to the developer. PIXI memoizes the elements to rende, clears the canvas and redraw the elements back to improve performance.

If you're using the `Graphics.draw` prop, you can simply add `g.clear()` before you draw another rectangle. See this example: https://codepen.io/inlet/pen/RMLJKm?editors=0011

![image](https://user-images.githubusercontent.com/232559/44138975-f9

[2018-08-15 09:30] inlet commented on #28
Closing issue now, please let me know if you think we should reopen it.

[2018-08-15 09:46] bichotll commented on #28
Yes. I'm using `g.clear()` :)

I just think it would be helpful for the user to let them know that.
My point is: If they are not familiar enough with Pixi, they may expect that passing a new prop to the Graphics component, it would just clear the Graphics component "canvas" and write on a blank canvas (You have to explicitly call the method `.clear()` in order to have that desired behaviour).

Tha

[2018-08-15 09:49] inlet commented on #28
Good point, would be great if you add this to the README. Thanks!

[2018-08-15 09:49] bichotll commented on #28
Sure thing. I'll work on that soon-ish 👍

[2018-08-15 12:56] inlet commented on #26
Done! ✨

[2018-08-15 12:56] #26 closed

[2018-08-15 13:53] inlet commented on #29
Hi @bobby,

Thanks for pointing out, I've just merged a PR with a fix.

Here is a working demo with the patch applied (v0.1.2):

https://codepen.io/inlet/pen/11c8037ae335964a74daeeb0409f292f/

[2018-08-15 13:53] #29 closed

[2018-08-15 15:06] inlet commented on #27
Hi @korroktheslavemaster,

Unfortunately I cannot reproduce the issue, the `maxSize` limits the particles as expected.

See https://codepen.io/inlet/pen/f58ef6a0cce1918faacca5b104a770d5

It renders 10 particles instead of 20. The other way around works as well (having a maxSize higher as 1500)..  verify the amount of children: `<ParticleContainer ref={c => inspect(c.children.length)}>`

[2018-08-15 15:07] inlet commented on #27
Could you create a codepen to demo the issue? thanks in advance!

[2018-08-15 15:47] bobby commented on #29
@inlet thank you very much for the fast resolution of this issue, and for releasing the fix in a new version!

Note that the console warning is still present when setting the `cursor` value back to `null` in your codepen.  I wouldn't consider this a warning situation, but rather a normal use of the library.

[2018-08-15 15:53] inlet commented on #29
Welcome!

You are right, these warnings indicates that the value is set back to default, which is `null` for prop `cursor`. Warning messages are only shown in development though.

[2018-08-16 10:14] korroktheslavemaster commented on #27
Thanks, I'm short on time right now but will definitely try to make an
example by the weekend. Thanks for your response

On Wed, Aug 15, 2018 at 8:38 PM Patrick Brouwer <notifications@github.com>
wrote:

--
Arpit Tarang Saxena
5th Year Undergraduate Student
Computer Science and Engineering
Indian Institute of Technology, Kharagpur
Ph: +91-7407650530, +91-9717585207

[2018-08-20 10:32] EloB opened #33 "Feature request onDimensionChange"
I'm not sure if it's possible to add (maybe because of performance reasons) but it would be nice to somehow listen to a prop `onDimensionChange` or add some example how to getting the dimension from an object 😃

**Here is one use case:**
[code]

*How do I get the text dimension?*

[2018-08-20 13:33] EloB commented on #33
Thanks for quick answer! I didn't know about that TextMetrics method :) Good one! Right now it's pretty hard to get the size of an object in general. I thought there was a smarter way. But now I at least know how to do it 😅

[2018-08-20 13:34] inlet commented on #33
Totally agree! Glad it helped, I'll close this issue now 😉

[2018-08-20 13:34] #33 closed

[2018-08-20 13:55] EloB opened #34 "Multiple console.log inside latest build that floods the console"
It's killing my app 😄

You can search for `console.log` and you will find a bunch. One of the console.log contains es6 content that breaks non es6 browsers.
https://unpkg.com/@inlet/react-pixi@0.1.3/dist/react-pixi.development.umd.js

<img width="528" alt="screen shot 2018-08-20 at 15 51 30" src="https://user-images.githubusercontent.com/476567/44344582-5a7aa380-a491-11e8-8df1-20f3cbf4c42f.png">
<

[2018-08-22 19:01] smith-chris opened #35 "UglifyJs: Unexpected token: punc (})"
### Description

When I try to uglify the build I'm getting this:
[code]
That confusingly points to line:
```      console.log({hostFiber});```

It didnt happen before i started using `@inlet/react-pixi`

### Steps to reproduce

1. clone the repo (https://github.com/smith-chris/poke/tree/d6d07a556accbef4962037789049a6cc592cb681) and follow the instructions (you probs just need to `npm i`
2. run `n

[2018-08-23 13:08] inlet commented on #35
Hi @smith-chris,

I accidentally pushed a modified reconciler to v0.1.3 😱

Just pushed a new version, please update react-pixi to `0.1.4` and try again.
Let me know if this solved it, thanks!

[2018-08-23 13:09] inlet commented on #34
Oops, I accidentally pushed a modified reconciler to npm.

I just created a patch 👉 v0.1.4, please update and try again.
Sorry for any inconvenience.

[2018-08-23 13:09] #34 closed

[2018-08-23 13:10] inlet commented on #27
I'm closing this issue, please let me know if you've been able to reproduce the issue and I'll reopen it.

Thanks!

[2018-08-23 13:10] #27 closed

[2018-08-23 13:10] #35 closed

[2018-08-23 15:28] smith-chris commented on #35
Tested, uglifying works now :) thanks @inlet
Still *.es5* files are not es5 compatible. This is what es-check gives as a reason:
[code]

[2018-08-27 09:16] inlet commented on #35
Hi @smith-chris,

I think we need to redefine the output formats. Get rid of the es5 format as the umd versions is basically the same. Only having these:

- cjs
- umd
- es (module)

What do you think?

[2018-08-28 11:00] EloB opened #37 "Feature request make resolution dynamic"
Working with `resolution` really fits React. You can define components and set their sizes and let the `resolution` do it's magic.

Preferred solution would be to set the Stage to the desired dimension with static values (best practice to use the same dimension as the design files to be able to copy values) for instance `1920x1080` and use `resolution` to scale each object and canvas. On rare occa

[2018-08-28 11:58] bichotll opened #38 "How to test react-pixi components"
### Description

It would be good if we can also write on the documentation about how to test our components.
_(They print on a canvas, not change DOM elements. The changes can not be marked and asserted/checked using anything similar css rules or dom elements properties. Example: Graphics.draw method.)_
It does not seem to be as straight forward as testing normal (dom) components.

Once I know ho

[2018-08-28 17:22] EloB opened #39 "Discussion about be able to use Stage in Stage?"
It would be kind of interesting to be able to use a `Stage` within a `Stage`. By doing so you should be able to turn off `raf` on a specific branch on your React tree. What do you think? 😃

[2018-08-29 09:18] bichotll commented on #38
Alright, for the record, I figured out that I needed `canvas` installed for jsdom.

For more information:
https://github.com/jsdom/jsdom#loading-subresources

Now I'm getting `TypeError: Cannot read property 'alternate' of undefined` coming from `node_modules/@inlet/react-pixi/dist/react-pixi.production.umd.js` whenever I try to Implement the Stage component before my test...
Working on that.

[2018-08-29 13:45] bichotll commented on #38
Alright, again, for the record.

## How to test the pixi-react components comparing them to a snapshot

Here is what I did to test how the component is being printed on the canvas.

### My utils

I have installed `canvas` package (npm).

As an addition - I created a `bootstrap.js` file like the one we have in this project just to avoid the nice hello message:
[code]
I created a `react-pixi-util.js

[2018-08-29 14:10] inlet commented on #38
Hi @bichotll,

First, thanks for taking the time and to contribute!

I hope I follow you correctly, if not please let me know 😊.

#### Testing

Have you looked at the test code in this repo?
You can use jest snapshots to compare and use `.getInstance()` to retrieve the PIXI elements for internal works.

I just have'd a quick look at your example test code and you're comparing the output of a png (

[2018-08-29 15:08] inlet commented on #39
Hi @EloB,

Do you have a certain use case for it? Right now this doesn't work as the `<Stage>` renders a canvas element and use the React reconciler to inject the PIXI components.

A PIXI application regularly has one stage instance to render from. I think that the current Stage object will fit 99% of all use cases. If you need some custom logic like multiple stage objects or have custom behavior

[2018-08-29 21:13] bichotll commented on #38
Hi @inlet
There is something I should have clarified at the beginning of the post and I see I barely talked about it...😅pardon! On top of that I was also having trouble testing it.

### Test the changes on the canvas

One of the important points when talking about react pixi components is that they modify a canvas. The canvas is not like the DOM where changes are traceable like css for example.
Le

[2018-08-29 21:13] #38 closed

[2018-08-30 11:01] inlet commented on #37
Hi @EloB,

Using `key` is not preferable as it unmounts and mounts a new Stage object each time an update occurs.

Here are my findings:

**Scaling the `<canvas>`**

It's better and more performant to scale a complete canvas using css instead of the internal resolution property. The resolution property is nice to have it sharp for retina displays, although you could resize the contents of the PIXI

[2018-08-30 11:34] EloB commented on #37
That's why I said it was an ugly hack 😃

That will only scale the bitmap? So it might look crap? The `resolution` solution then `Graphics` values also scaled perfectly. 😃

I seems like Pixi always multiplies with the `resolution` anyway. So I don't understand why it should be slower... Had a look at their source code. Searched for `resolution`:
https://github.com/pixijs/pixi.js/search?p=1&q=resolu

[2018-08-30 12:27] EloB commented on #39
This could work 😃

I'm working on low CPU/GPU and on legacy webkit devices. So to be able to turn off the ticker on certain parts of the view would increase the performance a bit. Right now I use the `cacheAsBitmap` but I think the reconciliation is still inside there because some of my component listen to the ticker.

[2018-08-30 12:46] EloB commented on #39
My idea is that you can take any Component and easily render anywhere.

[code]

[2018-08-30 14:18] inlet commented on #39
Thanks @EloB for your kind words! Well, this library is a team effort. Together with people like you we can make it better. Thanks for contributing!

Now I see what you are trying to accomplish.

Problem is that the Stage object handles the reconciler and having this kind of setup mix up the renderers, which, I'm afraid, will fail.
And the default behaviour of a PIXI.Application is that it clears

[2018-09-02 12:27] smith-chris commented on #35
Just tested and it seems like umd can be used as a script tag (for those 1% of people) so yeah, I think its a good idea :)

[2018-09-06 07:47] ArtemFrantsiian opened #40 "Update typescript definition"
### Description
In [this example](https://codepen.io/inlet/pen/NYazPq) you show how work with interactive click. But if you try to do this in typescript you get an error about pointerdown and anchor. So I think that just need add pointerdown to index.d.ts for Sprite and change anchor to take number[], because when I've done this all worked.
And please add into documentation the section how works w

[2018-09-10 10:03] inlet commented on #28
Hi @bichotll,

I've added a note to the `Graphics` doc, see:
https://reactpixi.org/#/components/graphics

[2018-09-10 10:03] #28 closed

[2018-09-10 10:24] #39 closed, assigned to nobody

[2018-09-13 08:42] inlet commented on #40
I'm currently rewriting the complete definition file as it was quite a mess. 😉

[2018-09-13 11:57] #40 closed

[2018-09-13 21:37] inlet commented on #37
Yes you're right, I'm afraid using CSS might blur the canvas if you're scaling it up.

Yes it's true that the resolution is internally used to multiply it with the component dimensions, but using the resolution property for scaling things up/down doesn't feel right to me. 😉

### Solution

Ideally the `Stage` could listen for prop `resolution` change and triggers a render. But killing the interacti

[2018-09-14 12:42] EloB commented on #37
I can agree that `resolution` way of scaling things feels a bit odd but I would say it's the best way of React PIXI if you want performance! :)

[2018-09-14 12:44] inlet commented on #37
Feel free to create a PR and collaborate on it together 😉

[2018-09-17 10:54] binary-koan opened #47 "TypeScript complains when using HTML attributes on a <Stage>"
### Description

As I understand it, any HTML attributes can be passed to a `Stage` and will become attributes on the canvas it creates. However, this isn't reflected in the TypeScript type definitions so the compiler raises an error when I try to add a classname to my stage.

(Note: I'm currently working around the problem with `const HackyFixedStage = Stage as any` and the classname is correctly

[2018-09-18 13:31] inlet commented on #47
Hi @binary-koan,

Thanks! You're totally right, extending the `CanvasHTMLAttributes` might solve this issue. Will fix this soon..

Awesome!

[2018-09-19 13:44] #47 closed

[2018-09-19 13:50] inlet commented on #47
Hi @binary-koan ,

I just pushed a fix (`v0.1.7`). It's working now 🙌 thanks for the help!

[2018-09-19 14:54] binary-koan commented on #47
Awesome, can confirm it works. Thanks for the quick fix!

[2018-09-27 15:57] EloB opened #49 "Expose Provider and Consumer?"
Right now it's like impossible to only use the `render` function from `react-pixi` and have compatibility between `react-dom` and `react-pixi` because it lacks the `app` context and the exposed `Provider` is actually the `Consumer` at the moment.

[2018-09-27 17:41] inlet commented on #49
The idea behind the custom `render` method is that you decide how and what to render. This is totally separated from `react-dom`.

You can for instance create a `PIXI.Application` instance and provide that as the container. You can easily create your own provider using `React.createContext()` if that’s your thing ;)

Can you point out what you’re struggling with, maybe I can help.

[2018-09-28 09:50] inlet commented on #49
I've created an example on how to use the `render` with a custom `Provider`, it's really simple:

https://codepen.io/inlet/pen/15750647242f7c96356fef7f0ae3e551?editors=0010

[2018-09-28 09:51] inlet commented on #49
However, you can also use the `PixiFiber` if you're planning on creating your own `Stage`-like component

[2018-09-28 09:51] inlet commented on #49
I'm closing this issue, please let me know if you need help or think we should consider to reopen this issue.

Best regards!

[2018-09-28 09:52] inlet commented on #37
I'm closing this issue, again feel free to create a PR with a solution and we'll work on it together and merge it in this codebase. 😃

[2018-09-28 09:52] #37 closed

[2018-09-28 10:52] EloB commented on #49
Thanks for the fast reply. The problem isn't to create a new Context but be able to mix between the `react-dom` and `@inlet/react-pixi` renders. Right now I use `storybook` and they are using `react-dom` but my main app is only using `@inlet/react-pixi`.

My problem right now is that some of my components are using `withPixiApp` and they only work in `react-dom` render right now. If people start t

[2018-09-28 10:53] EloB commented on #49
If we expose the `Provider` and the `Consumer` is easy to be able to share in between renders.

[2018-09-28 10:56] EloB commented on #49
**Example**
[code]

**MyApp**
[code]

[2018-09-28 11:01] inlet commented on #49
The `withPixiApp` only works in conjunction with `Stage` at the moment. A simple fix would be to expose the complete `Context` as well in https://github.com/inlet/react-pixi/blob/8765102eb67eaa08283dede7264b6caaa429ff41/src/index.js#L5

[2018-09-28 11:03] inlet commented on #49
Maybe rename the current Provider. What would be a good naming? The current provider is more a consumer actually..

[code]

?

[2018-09-28 11:04] inlet commented on #49
This way the `withPixiApp` would work everywhere

[2018-09-28 11:06] inlet commented on #49
I'll create a PR for this, thanks!

[2018-09-28 12:47] EloB commented on #37
When I have some time I will try todo something :)

[2018-09-28 12:58] inlet commented on #49
I'm about to merge the PR ✨

Do you have time for a quick review?

https://github.com/inlet/react-pixi/pull/50/commits/d4535fda7fec4a1d40d640eade27fbdf2190df08

[2018-09-28 13:02] inlet commented on #49
Oh and I've also added a quick fix for [passing down ref for the withPixiApp](https://reactjs.org/docs/forwarding-refs.html):

https://github.com/inlet/react-pixi/blob/d4535fda7fec4a1d40d640eade27fbdf2190df08/src/stage/provider.js#L9

[2018-09-28 13:18] EloB opened #51 "Feature request to add zIndex"
I was thinking about `pixi-display`... Is there a easy way to use it?

https://github.com/pixijs/pixi-display

Right now I don't have that issue but it would be really good just be able to change zIndex without rearrange the react tree...

I'm not sure if this needs to be in core but it would be good to have some thoughts about it :)

[2018-09-28 13:49] EloB commented on #51
I was thinking about array key solutions but what I've understand is that `pixi-display` is the more performant solution.

[2018-09-28 14:39] inlet commented on #51
We could add `<Display>`, `<Layer>`, etc into `react-pixi`, but this definitely is a major update on the reconciliation. The idea behind React is that it handles the components in an ordered list (tree) and it defines in what order it should be rendered.

I think if we are considering implementing the `pixi.display` into `react-pixi`, there must first determine what problem we need to solve and in

[2018-10-01 04:51] animify commented on #51
+1 for this. Adding props to the sprites sounds like a good idea

[2018-10-01 15:52] rabiaasif opened #52 "Sprite does not show on stage"
<Stage width={800} height={700} options={{ antialias: true }}>

< Sprite
      x={100}
      y={100}
      image={marble} scale={scale} />

  < /Stage>

I have this inside my stage, where scale is 1:1, and marble is
const marble = 'https://s3.ca-central-1.amazonaws.com/cryptomibs/baby+marble.png'
- `@inlet/react-pixi` version:
- `React` version:
- `ReactDOM` version:
- `PIXI` version:

[2018-10-01 16:16] inlet commented on #52
Hi @rabiaasif,

Make sure to enable CORS for that image

[code]

Here's an example with another image:

https://codepen.io/inlet/pen/eeb943234413cb665b22104509c5f75e

[2018-10-01 16:16] #52 closed

[2018-10-01 18:18] rabiaasif commented on #52
Is this allowed to be used for production purposes?

[2018-10-10 21:05] weepy opened #53 "Video Textures"
I'd like to use pixi fragment shaders on a video.

How can I replicate `PIXI.Texture.fromVideo(video)` in react-pixi ?

Thanks for your hard work!

[2018-10-10 21:16] inlet commented on #53
Hi @weepy

Welcome! 😉

If you'd like to assign the texture to a Sprite, I suppose you could do something like:

[code]

But maybe we need to extend the `getTextureFromProps` with a video prop:
https://github.com/inlet/react-pixi/blob/cf8c89bcfd6620cdba0d4efc43650b8389c047d1/src/utils/props.js#L58-L66

I haven't tested this though, should work 🤞

[2018-10-10 21:42] inlet commented on #53
You can live test it here:

https://reactpixi.org/#/components/sprite

![ezgif com-optimize](https://user-images.githubusercontent.com/232559/46767710-0f894980-cce6-11e8-9072-b999c646c133.gif)

[2018-10-11 11:42] weepy commented on #53
wow pretty neat !

On Wed, Oct 10, 2018 at 10:42 PM Patrick Brouwer <notifications@github.com>
wrote:

[2018-10-16 13:33] bichotll opened #54 "AppConsumer does not work if Pixi application not has been created using Stage"
### Description

The AppConsumer returns { app: undefined } when the app is not created using <Stage /> component.

### Steps to reproduce

See example one: https://codepen.io/anon/pen/YJYxRZ?editors=0010 (Notice console.log on line 19)
See example two (original example): https://codepen.io/inlet/pen/aYLvrZ?editors=0010

### Additional info

- `@inlet/react-pixi` version:
- `React` version:
- `Rea

[2018-10-16 13:56] inlet commented on #54
Hi @bichotll,

If you're using a custom renderer (= without the `Stage`), make sure to wrap your stuff in the `AppProvider`:

[code]

You can see that the `Stage` does exactly the same:
https://github.com/inlet/react-pixi/blob/cf8c89bcfd6620cdba0d4efc43650b8389c047d1/src/stage/index.js#L150

Here's an updated version of your codepen:

https://codepen.io/inlet/pen/0d6625478cc5abb53f783e571e91b612/

[2018-10-16 13:56] #54 closed

[2018-10-16 13:57] inlet commented on #54
Is this not working? Seems to work here :wink:

[2018-10-16 13:59] inlet commented on #54
Maybe we should update the docs with an example of `AppProvider`

[2018-10-16 14:04] bichotll commented on #54
I just wanted to show the original example 👍 It works.

That could be useful in case someone comes across this issue.

[2018-10-16 14:16] inlet commented on #54
👍 thanks!

I'll update the docs

[2018-10-24 04:45] seimsel opened #55 "Consumer inside Stage"
### Description
Consumer inside Stage doesn't update.

### Steps to reproduce
[code]

### Additional info

- `@inlet/react-pixi` version: 0.1.7
- `React` version: 16.5.2
- `ReactDOM` version: 16.5.2
- `PIXI` version: 4.8.2

[2018-10-25 15:48] inlet commented on #55
Hi @seimsel,

The React's Context API should work with React-PIXI. Could you create a codepen example (or something) to demonstrate this behaviour?

Thanks!

[2018-10-26 07:31] KagamiChan opened #56 "Incompat with React 16.6.0"
### Description
version 0.2.0 works well with up to React@16.5.2, but not with 16.6.0

Error printed:
[code]

It seems to me the cause is reconciler's update, but I'm not sure with little knowledge about how it works

### Steps to reproduce
use this package with React 16.6.0, or simply update devDep's React and run the test

### Additional info

- `@inlet/react-pixi` version: 0.2.0
- `React` versi

[2018-10-26 14:42] inlet commented on #56
Yes, it looks like the react-reconciler is updated. Will fix this monday.

Have a nice weekend!

[2018-10-28 10:02] inlet commented on #55
I'm closing this issue as I'm not able to reproduce it.

Could you create an example in codepen/codesandbox/something to pinpoint the issue? Thanks!
Let's reopen this issue later on. Thanks for contributing..

ps. feel free to open a PR with a fix

[2018-10-28 10:02] #55 closed

[2018-10-28 10:06] inlet commented on #56
Hi @KagamiChan,

I've created a PR with the updated reconciler. If you have time today you can check if this works (should work 😄 ).

I'll merge this tomorrow.

[2018-10-29 03:42] KagamiChan commented on #56
It works on my app, many thanks

[2018-10-29 10:20] #56 closed

[2018-11-15 21:51] unformatt opened #59 "pixi.js dependency"
### Description
I might be missing something stupid (given my recent PR!) but `npm install @inlet/react-pixi --save` is not installing pixi.js

It's possible that `yarn` automatically installs `peerDependencies` (I didn't try) but `npm` no longer does. So maybe note this in "Install" section of README? An extra step is needed with `npm`.

### Steps to reproduce

1. `npm install @inlet/react-pixi -

[2018-11-15 21:53] unformatt opened #60 "Differences from https://github.com/michalochman/react-pixi-fiber?"
How does this module compare with https://github.com/michalochman/react-pixi-fiber? Implementation appears almost identical. Not sure which was first or if one inspired the other.

Thanks

[2018-11-16 12:41] inlet commented on #59
Hi @unformatt,

This is actual the desired behaviour as PIXI is a [peer dependency](https://docs.npmjs.com/files/package.json#peerdependencies). It's up to the developer to include PIXI.

Here's why (regarding to the npm docs):

[2018-11-16 12:42] #59 closed

[2018-11-16 12:55] inlet commented on #60
Hi @unformatt,

This repo started as a private project and I was inspired by other reconcilers (as I was and still am learning about how reconcilers work). I did review the codebase of multiple React PIXI implementations and at that time they all seem to lack in features, performance, testing, and more.. and I believed I could do better.

**TLDR;** how this lib compares to his (and others)? They b

[2018-11-16 12:55] #60 closed

[2018-11-17 01:05] unformatt commented on #59
Why is it up to the developer? Would the develop want to choose a specific version of pixi? Or is @inlet/react-pixi able to run with pixi? A note in the README would be nice to clear this up as it can be confusing to newcomers.

[2018-11-17 12:47] inlet commented on #59
Good point, I'll add it to the docs, thanks!

[2018-11-19 19:35] EloB commented on #49
Can we expose the `Context` too? xD

They added a pretty neat context thing in later React.

[code]

[2018-11-29 13:20] EloB opened #63 "Feature request: Filter Component"
It would be awesome to be able to use filters really easy. I will post more info on how we could to that later.

[2018-11-29 13:49] EloB commented on #63
[code]

[2018-11-29 13:51] EloB commented on #63
# Usage
[code]

[2018-11-29 14:07] EloB commented on #63
I don't know if there is a better way. :D

[2018-12-03 07:48] animify opened #64 "Support React Hooks"
It looks like this library does not support the new React Hooks, is it possible to support them?

When using hooks like `useContext` this is the error we're getting:

![image](https://user-images.githubusercontent.com/10724744/49359993-86d4cb80-f6e0-11e8-866f-2ffe680162ea.png)

Thanks

[2018-12-03 08:12] inlet commented on #64
Thanks, yes we need to update the reconciler. I’m planning on adding some custom hooks, which hooks do you think would be awesome to have?

An idea `useTick`:

[code]

[2018-12-03 08:47] animify commented on #64
Cool! Yeah forked it and updated react, react-dom & react-reconciler and it seems to work fine, cheers.

`useTick` sounds like a good one, can't seem to think of anything else off the top of my head right now

[2018-12-03 08:49] inlet commented on #63
Hi @EloB,

Thanks for this suggestion and your collaboration!

I love the idea of having filters based on components by simply wrapping the filter around the components.

[2018-12-03 08:51] inlet commented on #64
Awesome 🙌 I’ll update the lib with the new reconciler soon. Thanks!

[2018-12-03 08:51] inlet commented on #64
And add the test and implementation for the useTick hook

[2018-12-03 16:55] #64 closed

[2018-12-04 11:46] inlet commented on #64
With example: https://codepen.io/inlet/pen/EOMBer

[2018-12-04 12:14] animify commented on #64
@inlet doesn't seem to be exported when using Typescript? 🤔 Maybe an issue with the declaration file?

[2018-12-04 18:09] thierryc opened #66 "./components/Rectangle.js"
### Description

I try to do a custom components.
I get an error:
Attempted to assign to readonly property.

### Steps to reproduce

1. I have juste add your example. (has is)  to a simple React project.
2. I add it to the stage.

### Additional info

- `@inlet/react-pixi` version: "^0.3.0",
- `React` version: "^16.6.1"
- `ReactDOM` version: "^16.6.1"
- `PIXI` version: "^4.8.2"

[2018-12-04 18:13] inlet commented on #66
Can you tell me which example? (Reproduce step 1)

You can see a working demo here:
https://codepen.io/inlet/pen/RMLJKm

[2018-12-04 18:15] inlet commented on #64
What exactly do you see/experience? I use react pixi in a Typescript project and it works as expected

[2018-12-04 18:16] inlet commented on #64
Ah wait I need to update the type def for the hooks, that’s what you mean right?

[2018-12-04 18:16] animify commented on #64
Yep for the hooks otherwise all good!

[2018-12-04 18:18] inlet commented on #64
Awesome! I’ll add type def for hooks tomorrow

[2018-12-04 18:20] animify commented on #64
Neat, cheers man!

[2018-12-04 18:43] thierryc commented on #66
You can easily add new components to your project:

./components/Rectangle.js

[2018-12-04 19:45] inlet commented on #66
Can you create a codepen illustrating the issue? I cannot reproduce it, thanks!

[2018-12-04 19:56] thierryc commented on #66
I will do a small project to reproduce it. On Codepen your example works.

[2018-12-04 20:44] thierryc commented on #66
https://github.com/thierryc/pixipixi
On this project I don't get any error, but i don't get the red rectangle under the orange bunny too...

My current project is to build over Next.js.
I will do another test on a NEXT.js project to (try) reproduce the error.

[2018-12-04 22:01] thierryc commented on #66
I create a next.js project: https://github.com/thierryc/nextpixipixi-example
I get 2 different error. (Safari / Chrome)

<img width="1065" alt="image" src="https://user-images.githubusercontent.com/197471/49475747-06988e00-f7e6-11e8-8381-517c20237256.png">

[2018-12-04 22:02] thierryc commented on #66
no error if you use a Sprite or a Container.

[2018-12-04 22:07] inlet commented on #66
I think something else is causing the issue, if you can isolate it in a simple codepen then we can work on a fix 😉

Thanks!

[2018-12-04 22:17] thierryc commented on #66
Yes something (else) is causing the issue.

Codepen project works... but  PixiComponent do not works in a project builds on 2 of the main React frameworks.

**React app** & **Next,js**

On a very simple React app project, **the rectangle is not rendered.**
On a very simple Next.js, **PixiComponent trigger an error.**

I suspect something in the PixiComponent, I will explore... do you have any advi

[2018-12-04 22:55] inlet commented on #66
I think the problem is not React Pixi, but rendering the canvas in a node process (just a wild guess though), since nextjs is basically an express app.

You can try wrapping the pixi stuff in a [NoSSR](https://github.com/kadirahq/react-no-ssr/blob/master/README.md) component to make sure it’s only rendered on client side.

[2018-12-04 22:58] inlet opened #67 "Fix typings for hooks"
The new hooks `useApp` and `useTick` are not included in Typescript type definition.

[2018-12-04 23:06] thierryc commented on #66
True, I already do NoSSR.
[code]
This is not the origin of the issue.

Other prebuild components like works.

[2018-12-05 10:52] inlet commented on #64
And updated the docs accordingly: https://reactpixi.org/#/hooks 🙌

[2018-12-05 11:07] #67 closed

[2018-12-05 11:17] inlet commented on #64
Hi @animify, I've updated the type def and hooks is now supported!

Thanks for contrib.

[2018-12-05 11:23] animify commented on #64
Tried it out, working beautifully! Great work, cheers 🎉

[2018-12-05 11:35] inlet commented on #66
Hi @thierryc,

I've checked the create-react-app version, and you have misspelled the word `height` in jsx.

![image](https://user-images.githubusercontent.com/232559/49510982-22ee0680-f88a-11e8-8334-7f59c1c68db1.png)

Rename it to `height` and the red rectangle shows up

[2018-12-05 12:21] inlet commented on #66
And tested it with NextJS, and it seems that this is causing the issue here:
https://github.com/zeit/next.js/issues/5254

TLDR; You need to move the `components` folder to the root and it works.

[2018-12-05 12:22] inlet commented on #66
I'm closing this issue, please let me know if you still encounter issues and we can consider reopening it.

[2018-12-05 12:22] #66 closed

[2018-12-05 14:21] thierryc commented on #66
Thank you

[2018-12-10 19:17] naranjamecanica commented on #51
Just to let you know, zIndex is supported from `pixi v5`, see: https://github.com/pixijs/pixi.js/pull/5204

[2018-12-10 22:04] inlet commented on #51
Thanks @naranjamecanica! Feel free to create a PR with the implementation.

[2018-12-21 10:00] EloB opened #70 "Can you npm publish 0.4.2?"
I think you forgot to `npm publish` 0.4.2. The tag exist in git but not on npm. Latest version on npm is 0.4.1.

https://www.npmjs.com/package/@inlet/react-pixi

[2018-12-21 12:36] inlet commented on #70
Thanks for letting me know, I just published it to npm as well. Sorry for the inconvenience.

[2018-12-21 12:36] #70 closed

[2018-12-22 10:14] kennedy0527 opened #71 "implement AnimatedSprite ?"
any plan to implement AnimatedSprite?

[2018-12-23 08:39] kennedy0527 commented on #71
ok I just found [custom-components](https://github.com/inlet/react-pixi#custom-components) in doc

close this issue

[2018-12-23 08:39] #71 closed

[2018-12-23 09:06] inlet commented on #71
Yes you can use custom components to implement the AnimatedSprite.

Feel free to create a PR to support it in the lib, thanks!

[2018-12-26 00:58] mattjennings opened #72 "Update anchor type definition for Sprite"
### Description

The type definition for the `anchor` prop on Sprite is able to take an array, but the type definition requires an ObservablePoint. The following error occurs when using an array:

[code]

[An example shows using an array to set the anchor](https://codepen.io/inlet/pen/aYLvrZ?editors=1010)

### Steps to reproduce

1. Create a typescript project using `@types/pixi.js`
2. Try to add

[2018-12-26 01:08] mattjennings commented on #72
This could be an issue with the `@types/pixi.js` package, but I'm new to `pixi.js` so I'm not sure whether or not it supports arrays for anchors natively or if it's a `react-pixi` feature

[2018-12-26 20:10] mattjennings commented on #72
Awesome, thanks for the quick response. I went about updating ISprite interface [this way](https://github.com/mattjennings/react-pixi/commit/f71371758d8392b3d88d7b0b84f0f4383d88e597), let me know if you'd like me to make a PR for that. Otherwise, I'm curious how you'd do it via augmenting DisplayObject.

Merry Christmas!

[2019-01-15 16:14] EloB opened #76 "Feature idea Ticker component"
I was thinking about a `Ticker` component. This is just a concept. What do you think about it?

I've added `reduce`, `initialValue` and `data` as properties so you can simply add custom logic to your animation.

`reduce` is more or less the same type of idea of `Array.prototype.reduce`. Except that the third argument is `data` instead of `index`. I don't know if `index` is needed maybe could be ad

[2019-01-15 20:37] inlet commented on #76
Hi @EloB, great to see you are an active collab! Thanks man.

We could add a Ticker component, however I prefer to keep the lib as small and clean as possible. It's fairly easy to create a ticker using hooks: https://codepen.io/inlet/pen/f1112e5b916fe4a602e23e74f87c8192?editors=1010

I like the idea of trying to make a Ticker component that is declarative, however the ticker callback function for

[2019-01-15 20:39] inlet commented on #76
Btw. I see that I need to create a new build with updated react reconciler. Now it only supports React version `16.7.0-alpha.2`. And I need to update the `useTick` hook to listen for changes and resubscribe the event accordingly.

[2019-01-15 20:55] EloB commented on #76
Updated jsbin link above (wrong math):
https://jsbin.com/fenubetewi/edit?js,output

[2019-01-15 21:01] EloB commented on #76
Keeping libraries small made more sense before tree shaking. I really don't like the trend in package.json having 4000 dependencies but thats made just me 😄

I really like when people show good patterns how to use a technology.

[2019-01-16 09:49] EloB commented on #76
I haven't even started with hooks yet because it's alpha. 😄

I think it makes sense to provide some way of doing animation the "react-pixi" way. Using like `react-motion` is not good because it's not the same ticker as PIXI.

[2019-01-16 13:40] EloB commented on #76
I think it's good to support both render prop and hook implementations for animations. 😃

I'm not sure everyone will use hooks and I'm really interested in how it will perform. I will soon tryout hooks when it's more stable. I mainly work with low end machines with old webkit engines so it will be very interesting to see the performance. Smart TVs are sometimes really terrible at performance. Like

[2019-01-16 13:48] EloB commented on #76
By the way. A bit of topic. Looked at your sprit app. Looks really cool. Shared it with a designer friend! 👍

[2019-01-16 14:00] inlet commented on #76
With hooks you can actually create state/logic in function components. It's less error-prone because it takes care of unsubscribes automatically (if you use hooks properly of course).

Sounds like testing for Smart TV's is the best way to test performance indeed!

Second thought, let's add a Ticker component but it might be better to make it more agnostic.. and transforms data and returns it to it

[2019-01-16 14:00] inlet commented on #76
Awesome! And it uses react-pixi 🙌

[2019-01-16 14:09] EloB commented on #76
How do you do a lerp with your render prop implementation there? :)

[2019-01-16 14:12] inlet commented on #76
I guess that's our new Ticker component, but the idea is the same ;)

[2019-01-16 14:18] EloB commented on #76
Amazing! Is it possible and easy to do something like this? https://web.archive.org/web/20150316064434/http://www.flatvsrealism.com/

[2019-01-16 14:23] inlet commented on #76
Wayback machine FTW! And yes that kind of things is super easy to do with Spirit. You have a timeline editor and you can make changes anytime. Spirit uses GSAP as the rendering part and should run smoothly.

[2019-01-16 14:33] EloB commented on #76
👏

[2019-01-16 21:21] lorenzocadamuro opened #77 "Incompatibility with Redux"
I added Redux in my app but it doesn't seem to work; if I try to retrieve data from store in a children of <Stage /> I receive this error:

_Could not find "store" in the context of "Connect(Section)". Either wrap the root component in a <Provider>, or pass a custom React context provider to <Provider> and the corresponding React context consumer to Connect(Section) in connect options._

[2019-01-16 21:50] inlet commented on #77
Can you create a codesandbox/codepen example of this? Which version of React do you use?

[2019-01-16 22:36] lorenzocadamuro commented on #77
I'm using Gatsby with React 16.6.3.

Here the codesandbox [https://codesandbox.io/s/jn8y0zmj23](https://codesandbox.io/s/jn8y0zmj23) but there's a strange error of cross-origin – anyway, the code should generate the error I was talking about.

At the moment the workaround that I found is to put the Provider of Redux as Child of Stage, in this way:

`
...
<Stage {...props}>
  <Provider store={store

[2019-01-26 09:14] lostfictions commented on #77
Hey, I'm hitting something like this as well, I think. I'm not using Redux, but I bet my case is the same -- and I bet #55 is the same too. Context just doesn't seem to pass through `<Stage>`, unless you use the workaround @lorenzocadamuro describes.

If I comment out `<Stage>` like this:
![image](https://user-images.githubusercontent.com/567041/51785084-942a9700-2120-11e9-9886-94d7dc1ea117.png)

[2019-01-27 08:42] inlet commented on #77
It seems that the Context is not passed through the reconciler indeed. I guess it has something to do with the `getRootHostContext` and `getChildHostContext` in the hostconfig.

Will look into this next week, hopefully I can manage it to work. :)

[2019-01-28 15:11] bichotll opened #78 "renderOnComponentChange being ignored?"
### Description

`renderOnComponentChange` ignored?

I have the following event firing eventho I have set `renderOnComponentChange` to true
[code]

I expect the app not to render all the time.

### Demo (check console)

https://codepen.io/anon/pen/yZJXdG#anon-login

[2019-01-28 19:39] bichotll commented on #78
btw, I'm happy to help there if that is actually a bug.

I will need some tips to find out what it can be causing this issue.

[2019-01-29 05:38] inlet commented on #78
This only works in combination with `raf` set to `false`.

[2019-01-29 12:13] inlet commented on #78
The `renderOnComponentChange` prop isn't used very often.

component, right? Not in any child or grand child..

True, that's why this prop is quite useless. Maybe we need to remove this prop entirely.

a grand child? Actually, is not <Stage the responsible of communicating the
/> changes to Pixi?

Stage updates the reconciler with children then the reconciler takes over. A React parent component i

[2019-01-29 16:12] bichotll commented on #78
Right. It would be nice if it detected any change.

I see now. I got confused..I thought that Stage was communicating to the reconciler from what I saw on the code. Therefore, the events would go through it?

Right, what would be the best/cleanest way to communicate with the reconciler to know when there is a change?

My point is: it would be good (and at some point a battery saver) if the reconci

[2019-01-31 15:35] inlet commented on #78
Totally agree with you, it would be a good practise to update the renderer whenever a Pixi prop is changed. The reconciler is isolated and is not directly aware of any renderer (which is a good thing), we need to find out if there's an easy way to retrieve the renderer in order to update it.

Feel free to create a PR with the implementation :) I'd love to do it, but I won't have time on short term

[2019-01-31 16:16] bichotll commented on #78
I have other priorities atm, but I'll keep you posted if any update on the subject :) 👍

Cheers

[2019-02-12 11:35] EloB opened #81 "How to use profiler?"
I've discovered the profiler in React. https://reactjs.org/blog/2018/09/10/introducing-the-react-profiler.html

Is this possible to use with `react-pixi`?

I don't use `react-dom` renderer.

[2019-02-13 13:15] inlet commented on #81
I'm not quite sure, my guess is that it doesn't work if you're not using `react-dom` right?
One way to find out. And again, feel free to implement it 😄

Cheers

[2019-02-13 13:34] inlet commented on #76
I think we should not add a Ticker component, in my opinion it doesn't fit the declarative paradigm of React. With hooks you can mix imperative code more easily thats why a `useTick` hook is good fit to tap-in the request animation frame loop. (it takes care of lifecycle events like unsubscribing the raf listener on unmount etc).

I think solving #78 would overrule the need of this component entir

[2019-02-13 13:34] #76 closed

[2019-02-15 12:55] EloB opened #82 "Does react-pixi work with v5?"
Hello

I've just saw that pixi.js has a release candidate for v5 now. :)

Do you know if it will work out of the box?

https://github.com/pixijs/pixi.js/tree/v5.0.0-rc

[2019-02-15 13:00] EloB commented on #51
I've just read that is only changes the order and I'm not sure this would be good for react-pixi. It would be the same to change order of react elements. Looking into react-display might be necessary.
http://pixijs.download/dev/docs/PIXI.Container.html#sortableChildren

[2019-02-15 13:02] inlet commented on #82
One way to find out ☺️

Let’s use the Github issues for code issues only to keep things organised.

And of course feel free to email me for questions, suggestions, whatever.

[2019-02-15 13:02] #82 closed

[2019-02-15 13:06] inlet commented on #51
I agree with @EloB regarding the z-index.

However maybe it’s an idea to implement the layering, it has some similarities with React portal, but instead it can render display items into another layer.

Just thinking out loud. Suggestions are welcome! Thanks

[2019-02-15 13:13] EloB commented on #51
I might have to look into zIndex right now. I fade images over each other and adding/removing sprites on demand is not an option when it comes to smart tv:s. I think the most performant solution for me would be to have a pool of sprites that I have hide with `visible` and changing order with pixi-display.

Will start to investigating zIndex...

[2019-02-15 14:02] inlet commented on #51
Btw, the current version of react-pixi works with Pixi `v5`, you can use `zIndex` and `zOrder`. I've created an example here: https://codepen.io/inlet/pen/mvzzLb

[2019-02-15 14:15] EloB commented on #51
Cool :) I've already have a similar solution right now but getting rate drops when adding/removing to simulate zIndex reordering... Will see if `pixi-display` can improve the performance...

[2019-02-15 14:17] EloB commented on #82
Works according to https://github.com/inlet/react-pixi/issues/51#issuecomment-464060728

Just adds it here. If someone else have the same question ;)

[2019-02-19 08:30] bichotll commented on #77
Hi there! Just for the record. It happened the same to me. Same scenario than @lostfictions

[2019-02-19 08:36] inlet commented on #77
I know, this one has high priority

I won’t have time to fix this issue within the next 2 weeks, but please feel free to create a PR with the implementation.

Thanks!

[2019-02-22 08:06] kresli opened #83 "AppConsumer component missing in type definition"
![image](https://user-images.githubusercontent.com/3826097/53228298-ac86c680-3678-11e9-9ffc-a71ecfda824a.png)

### Additional info

- `@inlet/react-pixi` version: ^0.5.5
- `React` version: ^16.8.2
- `ReactDOM` version: ^16.6.1
- `PIXI` version: ^5.0.0-rc.2

[2019-02-22 11:14] #83 closed

[2019-02-26 11:08] EloB opened #86 "Test: update state is failing"
I forgot to tell this yesterday when I checked out `master` and ran `npm install`. The test `update state` is failing.

It failed even before my changes. https://github.com/inlet/react-pixi/commit/c64cd799c8c45c8d13edb0824c3f7a7e98720528

[2019-02-26 11:10] inlet commented on #86
All tests seems to pass here:

![image](https://user-images.githubusercontent.com/232559/53408737-8e460100-39bf-11e9-8c36-b8eec86ca508.png)

[2019-02-26 11:11] EloB commented on #86
Weird. I've just checkout the code and ran `npm install`...

[2019-02-26 11:13] EloB commented on #86
[code]

[2019-02-26 11:14] inlet commented on #86
Try:

- Remove `node_modules`
- Use node `v10` (I'm on `10.11.0`)
- `yarn install`

[2019-02-26 11:18] EloB commented on #86
Yeah with `yarn` it worked and `npm` it fails. I'm using `lerna` and used react-pixi inside packages/ so it automatically symlinks that package.

[2019-02-26 11:40] inlet commented on #86
Did you perhaps use `npm install` to install dependencies (it bypasses the lock file)? This lib uses yarn.

If you install the packages using yarn and then try `npm test`, the tests will pass. I'll commit a package lock file for npm as well, this will solve the issue

[2019-02-26 11:42] EloB commented on #86
With that solution you will have two `node_modules` folders and then you have double copies of everything. My solution right now is that I modify rollup config and build into my project node_modules folder. :D

[2019-02-26 11:44] #86 closed

[2019-02-26 11:45] inlet commented on #86
Now it has a `package-lock.json` so it supports npm as well 🙌

[2019-02-26 11:46] inlet commented on #86
`yarn install` and `npm install` both install dependencies into `node_modules`, you should end up with one single modules folder containing the modules

[2019-02-26 11:51] EloB commented on #86
You are a angel! <3

[2019-02-27 09:41] bichotll commented on #77
After looking at the `hostconfig` and playing with it, I think that may actually be related to the Stage component and the render method.
I'm gonna take a look at that now..and see if any luck.

`getRootHostContext` and `getChildHostContext` seem to be just confusing by the name given. It does not seem to have anything to do with the actual context.
See https://github.com/facebook/react/blob/maste

[2019-02-27 10:00] inlet commented on #77
The `react-reconciler` package is considered experimental and the API changes now and then. This lib is using the new `Context API` and it uses context boundaries, which seems to block contexts from outside the reconciler.

I have an hour to see if I can come up with a solution.

[2019-02-27 10:25] bichotll commented on #77
We may want to open an issue in the React repo in this case?

[2019-02-27 13:18] bichotll commented on #78
I'm a bit frustrated 😅. I could not find any way to listen to react-reconciler events. Plus, the package is barely documented.

I'll try to approach this issue from another perspective. For now, I think that the best approach is using the context, accessing the Pixi app instance and calling the render method.

There may be a possibility to implement a hoc.
Just an idea re hoc, we could try to *Pro

[2019-02-27 15:32] inlet commented on #77
Contexts are not passed through the reconcilers with the new Context API. Create a wrapper component that consumes the context and provides it again in the new reconciler context:

https://codesandbox.io/s/volq0qj7

This solution is also pointed out here: https://github.com/michalochman/react-pixi-fiber/issues/93.

I'll close this issue now as it is not related to this lib but to React Context API

[2019-02-27 15:32] #77 closed

[2019-02-27 15:43] inlet commented on #78
Haha yes I can imagine, the reconciler is actually an abstracting layer on top of your components. There is no clean and elegant way to listen for events.

Yes that would work, but then you have to manually render the stage.

Just an idea re hoc, we could try to *Proxy the child's componentDidUpdate method and then call the render method of the Pixi app instance.

ComponentDidUpdate doesn't tell y

[2019-03-04 09:31] namhd1992 opened #90 "How to click Sprite change state"
I have a Sprite and i want to click it call function change state

[2019-03-04 09:47] inlet commented on #90
See events: http://pixijs.download/dev/docs/PIXI.interaction.InteractionManager.html

Example: https://codepen.io/inlet/pen/NYazPq

[2019-03-04 09:47] #90 closed

[2019-03-11 09:17] kresli opened #91 "Typing for withPixiApp HOC not accepting additional props"
### Steps to reproduce

![image](https://user-images.githubusercontent.com/3826097/54112423-0825b380-43de-11e9-8f0e-d2a0f296db65.png)

### Additional info

- `@inlet/react-pixi` version: "^0.5.1"
- `React` version: "^16.8.2"
- `ReactDOM` version: "^16.6.1"
- `PIXI` version: "^5.0.0-rc.2"

[2019-03-11 09:31] kresli commented on #91
Maybe the type should be change to
[code]

[2019-03-11 09:46] kresli commented on #91
However the above cannot be used as decorator. If you want support decorator style
[code]
then we change type to something similar to
[code]
I'm happy to create a PR

[2019-03-11 11:15] inlet commented on #91
Hi @kresli,

Thanks! It seems the HOC typing is broken indeed. This would fix the problem:

[code]

`app` should be mandatory for the inner `WrapperComponent` as this is a required prop (passed down by the HOC).

**Note on decorators**

Unfortunately we cannot support decorators as they force the type to return `| void` and therefore cannot be used the classic way anymore, see:

https://medium.com

[2019-03-11 11:16] inlet commented on #91
Let me know if this works and I'll create a patch with the fix :)

[2019-03-11 11:37] kresli commented on #91
Thanks for quick respond. Above suggestion works like a charm.
![image](https://user-images.githubusercontent.com/3826097/54121160-a0796380-43f1-11e9-9b67-4f13d19ca1a5.png)

[2019-03-11 11:42] #91 closed

[2019-03-12 20:58] kresli opened #94 "Wrong TS definition for anchor"
![image](https://user-images.githubusercontent.com/3826097/54235436-26d49900-4509-11e9-9e94-49fc07612340.png)

Following works well
`anchor={[0.5, 0]}`
`anchor={0.5}`
`anchor={[0.5]}`

currently type comes from `pixi.js.d.ts` as `anchor: PIXI.ObservablePoint;`

### Additional info

- `@inlet/react-pixi` version: ^0.5.5
- `React` version: ^16.8.2
- `ReactDOM` version: ^16.6.1
- `PIXI` version: ^5.0

[2019-03-13 09:32] #94 closed

[2019-03-13 09:39] inlet commented on #94
Updated 🙌

I've also added comments to improve type support:

![image](https://user-images.githubusercontent.com/232559/54268766-40fb8f00-457c-11e9-9fd9-b01714f216d6.png)

[2019-03-13 09:48] kresli commented on #94
Amazing! Thank you for all your work. Side question, Is it ` | undefined` necessary here? Its already set as optional by `anchor?: `

[2019-03-13 09:50] kresli commented on #94
also you wouldn't be better to change `number[]` to `[number, number] | [number]`?

[2019-03-13 09:52] kresli commented on #94
actually I think we could ditch `[number]` anyway

[2019-03-13 10:12] inlet commented on #94
I think it's actually VSCode that explicitly show this to identify `undefined` as a valid value. It's not in the type declaration though:

https://github.com/inlet/react-pixi/blob/244becd038f8969cdcd20e434bf09e66d72e9c1a/index.d.ts#L14

Yes you are right. I'll change that as well.

I agree, but it can be a valid type.

Thanks for your collab!

[2019-03-13 11:38] inlet commented on #94
Update on the `PointLike` type, see:

https://github.com/inlet/react-pixi/blob/ff148e9b81ba35f0110e2238dd3a720e8d7579a3/index.d.ts#L14-L17

[2019-03-15 09:33] kresli opened #96 "Use Pixi Geometry in PixiComponent"
Is it possible to feed PixiComponent with other then Graphics type?

![image](https://user-images.githubusercontent.com/3826097/54421840-243e9300-4705-11e9-8748-183f5e2e6e01.png)

### Additional info

- `@inlet/react-pixi` version: "^0.5.5"
- `React` version: "^16.8.2"
- `ReactDOM` version: "^16.6.1"
- `PIXI` version: "^5.0.0-rc.2"

[2019-03-15 09:45] inlet commented on #96
Yes you can return anything as long it is a `PIXI.DisplayObject`.

A `PIXI.RoundedRectangle` is a shape, this cannot be added directly to a parent container.

[2019-03-15 09:45] #96 closed

[2019-03-20 22:11] RodrigoHamuy opened #97 "react-devtools support"
Alo. Any plans to support react-devtools?

Currently it only shows up to the canvas element.

![image](https://user-images.githubusercontent.com/2405611/54722639-d2f72f00-4b5c-11e9-9f8f-59bd881800d4.png)

I think Izzimach version of react-pixi does support this:
![react-pixi-devshot](https://github.com/Izzimach/react-pixi/raw/master/docs/react-pixi-devshot.png)

More info: https://github.com/faceb

[2019-03-20 22:22] Foxhunt commented on #97
Did you try the pixi chrome Dev tool?

[2019-03-21 15:39] inlet commented on #97
Feel free to create a PR 😊

[2019-03-26 08:49] kresli commented on #59
@unformatt its peer-dependency so you'll get warning if pixi missing. Its up to developer because developer can choose one version over other. But mostly react-pixi is just a wrapper around the pixi.js

[2019-03-26 10:22] kresli opened #98 "Running CRA throw error of missing "extras" from pixi.js v5"
### Description

[code]

- Works in Storybook
- Works with pixi.js 4
- Doesn't work with CRA (create-react-app)

### Steps to reproduce

1. `git clone https://github.com/kresli/cra-react-pixi`
2. `yarn` or `npm install`
3. `yarn start`

### Additional info (please refer to provided repository)

-  "@types/pixi.js": "^4.8.6"
-    "@inlet/react-pixi": "^0.5.7",
-    "@types/react": "16.8.8",
-    "@

[2019-03-26 10:29] inlet commented on #98
Ah yes, Pixi v5 is not fully supported yet. (nothing to do with create-react-app though)

Feel free to create a PR, should be easy to fix. Some namespaces and implementations have slightly changed.

[2019-04-05 18:55] RodrigoHamuy commented on #97
Hi guys, thanks for the answers. Not sure why but this is working fine now! (Sometimes you just need to restart DevTools, that's all). It says "TODO_NOT_IMPLEMENTED_YET", which I am not sure what it means, but this works perfectly for me. Thanks!

Also, Pixi Dev Tools is amazing, never saw that one before.

[2019-04-08 08:13] inlet commented on #97
Yes I noticed that the `react-reconciler` now supports injecting the devtools correctly, finally 🙌

Great to see it working now, I'll close this issue.

[2019-04-08 08:13] #97 closed

[2019-04-24 23:26] zmike opened #100 "crossorigin property for sprites should be exposed"
### Description
I am working on writing some react-based code with PIXI, and it would be useful if I could control the crossorigin property using react-pixi.

[2019-04-25 08:11] #100 closed

[2019-05-03 19:29] sfentress opened #102 "What's the correct way to create PIXI primitives, such as Container?"
I am looking to include [Pixi-Particles](https://github.com/pixijs/pixi-particles) in my app. To do so, I need to create a PIXI.Container, add it to the stage, and reference it directly.

[code]
I thought perhaps I could do
[code]
but of course `<Container>` is not a `PIXI.Container`.

Any help appreciated, thank you.

### Additional info

- `@inlet/react-pixi` version: 0.5.7
- `React` version: 16

[2019-05-06 10:52] inlet commented on #102
You can easily create React components from PIXI primitives using [Custom Components](https://reactpixi.org/#/#custom-components).

[2019-05-06 10:52] #102 closed

[2019-05-06 11:41] inlet commented on #102
I've created an example here:
https://codepen.io/inlet/pen/feddc8fa71e3b5afc6c3e4eda9cc83df

[2019-05-06 15:21] sfentress commented on #102
That's perfect, thank you!

[2019-05-15 21:49] chrisella commented on #98
I've got the same issue with PIXI v5, I assume this hasn't be tackled yet ?

[2019-05-16 11:41] inlet commented on #98
Hi @chrisella, I haven't got the time to make this lib PIXI v5 compliant. On the other hand it should be fairly simple. Feel free to create a PR and we'll work on it together :)

[2019-05-16 20:53] chrisella commented on #98
I did actually clone the repo and start taking a look last night, but quickly encountered issues just trying to install the npm dependencies with ```yarn``` :(
It seems you're using node-canvas-prebuilt which is 404'ing and from what I've read has been superseded, but unfortunately that means it's fairly hard for me to begin taking look without some significant time poking at the internals I suspe

[2019-05-17 09:50] inlet commented on #98
Ah I see, `canvas-prebuilt` is only needed to support canvas in jsdom. It seems that replacing this with `canvas` package should fix the issue, see https://github.com/jsdom/jsdom#canvas-support. Haven't tested it though.

I'm currently busy working on another project, but I'll give it a proper look when I have time. In meantime feel free to fiddle around and see if you get it working ☺️

[2019-05-17 10:05] alexandr-bbm opened #103 "Correct way for accessing PIXI primitive instance"
Hi, I can you please advise me on correct way of accessing PIXI primitives while using this library.

Assume I have a `Sprite` and I want to animate it by using the function from `pixi-sprite-utilities` which needs the `Sprite` instance.

Currently, I see the way of accessing it via `app` which does not seem to be a good solution, e.g. `this.app.stage.children[1]`

Is there a better way of doing t

[2019-05-17 10:52] inlet commented on #98
Btw, you can use PIXI v5 stuff by using [custom components](https://reactpixi.org/#/#custom-components). Here's an example https://codepen.io/inlet/pen/feddc8fa71e3b5afc6c3e4eda9cc83df

[2019-05-17 10:57] inlet commented on #103
Hi @alexandr-bbm, yes you can use React's `ref` (which is the preferable way):

[code]

[2019-05-17 10:57] #103 closed

[2019-05-17 11:36] alexandr-bbm commented on #103
@inlet sorry I was sure I tried this, but I rechecked and it seems to work

Thank you for the fast reply!

[2019-05-17 11:37] inlet commented on #103
Awesome! you're welcome

[2019-06-09 10:41] RodrigoHamuy opened #108 "Create a pure function instead of using classes?"
Is this possible?

Something like

[code]

Thanks

[2019-06-09 11:11] fabienjuif commented on #108
I think this is something similar you can find in the source code: https://github.com/inlet/react-pixi/blob/master/src/components/Sprite.js#L4

[2019-06-09 11:29] inlet commented on #108
You are totally free to use pure functions. If you’d like to use custom PIXI primitives you can use custom components, see [docs](https://reactpixi.org/#/#custom-components).

[2019-06-09 11:29] #108 closed

[2019-06-09 12:19] RodrigoHamuy commented on #108
Hey @fabienjuif @inlet thanks for the quick response.

I want to call react-pixi functional components as functions instead of mounting them using createElement. This is to improve performance when creating lots of instances, as showed here: https://medium.com/missive-app/45-faster-react-functional-components-now-3509a668e69f

# Using PixiComponent

My attempt to create a custom component using Pi

[2019-06-09 13:02] inlet commented on #108
Hi @RodrigoHamuy,

First, the article you are referring is quite outdated and the preferred way is using JSX syntax. Although you might gain performance using a pure function (instead of JSX) It’s not possible to change the internals as this custom renderer is basically providing a way to turn JSX into PIXI components. If you look closely you can see that the React PIXI components return strings w

[2019-06-13 20:59] rluncasu commented on #98
should be fixed by this PR https://github.com/inlet/react-pixi/pull/109
I've tested with pixijs 5.0.4 & 4.8.5 and both seem to work correctly

[2019-06-14 08:27] #98 closed

[2019-06-14 08:33] inlet commented on #98
@rluncasu just check out the [docs](http://pixijs.download/dev/docs/index.html), you can find tuts and demos there.

[2019-07-05 10:14] Tilican opened #111 "v 0.7.0 doesn't work with latest version react and pixi"
### Description

v 0.7.0 doesn't work with latest version react and pixi

[code]
and

[code]

### Steps to reproduce

1. go here : [codepen](https://codepen.io/anon/pen/ydxyej)

### Additional info

- `@inlet/react-pixi` version: 0.7.0
- `React` version: 16.8.6
- `ReactDOM` version: 16.8.6
- `PIXI` version: 5.0.4

Thx for your work

[2019-07-05 11:29] #111 closed

[2019-07-05 11:35] inlet commented on #111
Thanks for pointing out.

It seems that the new reconciler is still in alpha and breaks hooks in particular with this host config. I've set back the react-reconciler to the stable one and it should work again.

[2019-07-05 11:37] inlet commented on #111
Update to latest patch and it should work:

[code]

[2019-07-05 11:39] Tilican commented on #111
@inlet actually don't crash but don't display things ...[here](https://codepen.io/anon/pen/ydxyej)

[2019-07-05 11:49] inlet commented on #111
The default ReactPIXI components are built for PIXI `v4`. We need to upgrade them, should be to much work. They have a slightly different API.

Recommended is to use PIXI v4, but if you really want to use PIXI v5 features you can use [custom components](https://reactpixi.org/#custom-components). Here's an example with PIXI's new display API: https://codepen.io/inlet/pen/mvzzLb.

[2019-07-05 11:50] inlet commented on #111
And here's your working codepen with the latest patch: https://codepen.io/inlet/pen/a0d6f2c6f2040ebcb80597fbcf5aaa73

[2019-07-05 11:50] Tilican commented on #111
Awesome :)
thx for your work @inlet  !!!

[2019-07-05 11:51] inlet commented on #111
Welcome, and if you're up to it feel free to contribute!

[2019-07-05 12:02] Tilican opened #113 "0.7.1 cannot render Text"
### Description

It's again me !
0.7.1 cannot render <Text x={30} y={90} text="Basic text in pixi" /> L43

### Steps to reproduce

1. [https://codepen.io/anon/pen/qzMbqe](https://codepen.io/anon/pen/qzMbqe?editors=0011)

### Additional info

- `@inlet/react-pixi` version: 0.7.1
- `React` version: 16.8.6
- `ReactDOM` version: 16.8.6
- `PIXI` version: 4.8.8

thx

[2019-07-05 12:22] inlet commented on #113
You're running the production version of React and ReactDOM, but using the development version of ReactPIXI. It seems that the react-reconciler [appears to blow up](https://github.com/diegomura/react-pdf/issues/336) if it doesn't match the custom renderer environment.

Make sure to use the production of ReactPIXI and it works.

[2019-07-05 12:22] #113 closed

[2019-07-05 12:22] inlet commented on #113
Also don't forget to import the Text from ReactPIXI 😉

[2019-07-08 09:46] fabienjuif opened #115 "PIXI.js v5 / Attempted import error: 'extras' is not exported from 'pixi.js'"
### Description
Hey :wave:,

I wanted to bump PIXI.js to the v5 and I got this error at compilation:
[code]

I saw this issue: https://github.com/inlet/react-pixi/issues/98
It seems you fixed the issue and other issues related to PIXI.js v4 in last version: https://github.com/inlet/react-pixi/releases/tag/v0.7.1

But you can see, I still have the issue from #98.
Do you have an idea to get rid of i

[2019-07-08 15:46] inlet commented on #115
Hi @fabienjuif,

Thanks! It tries to resolve the `pixi.js v4` components which have different namespaces (note the `extras` error message). To solve this (just a temporary fix though) you can force `create-react-app` to use the commonjs import:

[code]

However, you won't be able to use the `Stage` object either as this uses `pixi.js v4` `PIXI.Application` which is not compatible with the new `v5`

[2019-07-08 15:48] inlet commented on #115
I can do this as well, but haven't got time the coming weeks (working on some projects). If you need it now we can work on it together. Just make a PR and I'll contribute to it.

[2019-07-08 16:16] fabienjuif commented on #115
Hey @inlet I try to take a look then, but without promising anything :)

[2019-07-11 10:48] lorenzocadamuro opened #117 "UnMount component manully"
### Description
HI, first of all thank you for the work you've done in these months.

I have a problem in removing a component rendered with the ```render``` method.

The code below should help you in understanding what I'm doing:

[code]

My problem is that I'm not able to unmount the component when the parent is removed; It continues to be alive.

Is there any way to do it?

Something like:

[co

[2019-07-11 10:56] inlet commented on #117
Hi @lorenzocadamuro, could you please create an example on codepen or codesandbox?
Btw make sure you’re using the latest versions 😉

[2019-07-11 12:15] lorenzocadamuro commented on #117
Unfortunately I can't use the last version because is not a new project.

Anyway, my question is not about a problem, but about knowing if that feature exists.

Since ```this.myComponent``` is not rendered as Component by React, but with the render function provided by ```@inlet/react-pixi```, I don't know how to unmount it when needed.

I hope it's more clear now.

[2019-07-11 12:36] inlet commented on #117
Ah I see you're using the custom render method here. I notice that we need to provide a way to clear the Fiber container from https://github.com/inlet/react-pixi/blob/19bbd6305067f2cfd399edec39f21b425b5486cf/src/render/index.js#L6

However there's a quick fix, use `PixiFiber` and create your own render method. This way you clean up the Fiber container as well.

And make sure you component opts-in

[2019-07-11 12:36] #117 closed

[2019-07-11 12:38] inlet commented on #117
Hope this helps you. Hence using the `<Stage />` component in the recommended way.

[2019-07-12 09:10] Adamfsk commented on #115
@fabienjuif This is caused by the old typings for Pixi in your v5 branch. My PR I will send through to you shortly will fix it! Just testing now to make sure it works!

[2019-07-12 13:14] Adamfsk opened #118 "enable/disable useTick test fails intermittently"
### Description
Just got this error when running the tests to publish a local version of the package. It succesfully built both before and after this failure, so seems to be an intermittent error. Since it's related to tick, it might be it's occasionally ticking more times than expected on occasion?
[code]

[2019-07-12 13:20] inlet commented on #118
It depends on the react-reconciler package. These initial tests are written a while back, but it might be better to integrate https://github.com/testing-library/react-testing-library to make testing hooks more stable.

[2019-07-15 13:13] fabienjuif opened #121 "getTextureFromProps / args"
### Description
Discussion is here: https://github.com/inlet/react-pixi/pull/116#discussion_r301320513

### Steps to reproduce
n/a

### Additional info

- @inlet/react-pixi version: 0.7.1
- React version: 16.8.6
- ReactDOM version: 16.8.6
- PIXI version: 5.0.4

[2019-07-15 14:16] inlet commented on #115
Fixed in #116

[2019-07-15 14:16] #115 closed

[2019-07-16 12:39] fabienjuif opened #123 "paste logo to have an url"
![logo](https://user-images.githubusercontent.com/17828231/61295022-6ffa6980-a7d7-11e9-9bff-e71670156cca.png)

[2019-07-16 12:39] #123 closed

[2019-07-16 15:23] #121 closed

[2019-07-16 15:40] inlet commented on #118
Fixed in #122

[2019-07-16 15:40] #118 closed

[2019-07-16 15:55] #81 closed

[2019-07-16 15:56] inlet commented on #51
We now support pixi v5 🎉

[2019-07-16 15:56] #51 closed

[2019-07-18 18:13] darklightblue commented on #115
Hi, so how do you use it? I'm trying to play around with this https://codepen.io/inlet/pen/5aaed9ddeadb4d7bb5ea435d77df397a but it seems that it is still using v4.

[2019-07-19 19:19] darklightblue commented on #78
Hello, any updates about this? I'm having an issue where I want to change the source spritesheet of my custom animated sprite component when someone clicks a button or performs an action - but I can't do it coz it can't detect if something changed. :(

I can't turn off raf too coz it will stop the sprite from animating.

[2019-07-19 21:05] inlet commented on #78
Feel free to create a PR 😊 this is still not implemented.

Although I believe that what you want is not related to this issue. Just change the source prop and you’re good to go. Create a Custom Component and you can manually catch prop changes and basically do anything you like.

[2019-07-19 21:28] fabienjuif commented on #78
@inlet can you telle me if I understand the issue topic

Right now:
1. the reconcilier role is just to map react props change to pixi real engine
2. application is rerendered at every frame (+- 60fps), even if there is no modification in children (in DisplayObjects)

What we want is that pixi rerender the tree only when a "pixi react component" prop is modified

Did I understand?

[2019-07-19 21:51] inlet commented on #78
Well the reconciler does a lot more, but basically the Stage creates a PIXI.Application which starts a ticker (raf) and rerenders the stage every frame.

However the reconciler is isolated and is not aware of any renderer, it just creates and modify PIXI primitive components. So we have to find an elegant way to access the renderer within the reconciler component tree.

Also, the internal ticker i

[2019-07-19 21:51] darklightblue commented on #78
After a couple of hours figuring out what to do.

I realized that I can use `applyProps` and put my PIXI js code - you can actually change/access the "child" via instance (first argument in `applyProps`).

Thanks by the way!

[2019-07-19 21:53] inlet commented on #78
@darklightblue you’re welcome! glad you figured it out 😉

[2019-07-20 05:35] kalbert312 opened #126 "Proper way to use canvas in v5?"
I'm upgrading from pixi v4 to v5 and I was using the `forceCanvas` app option. The official pixi docs state to use the `pixi.js-legacy` package to pull in the canvas renderer, but not entirely sure how to integrate it while still using the webgl renderer in other places. Couldn't find much documentation around it. Any tips?

### Additional info

- `@inlet/react-pixi` version: 1.0.0
- `React` versi

[2019-07-20 07:50] inlet commented on #126
According to `pixi.js-legacy` it does run on WebGL and fallback to canvas. See:
https://www.npmjs.com/package/pixi.js-legacy

In order to use it in your project, you’ll need to alias `pixi.js` to `pixi.js-legacy`.
Let me know if it works, so I can close this issue

[2019-07-20 07:55] inlet commented on #126
Webpack:

[code]

[2019-07-20 13:59] kalbert312 commented on #126
Gotcha. Thanks!

[2019-07-20 17:20] kalbert312 commented on #126
Closed it too early. I added that alias to my customized CRA webpack config and I'm getting
[code]
followed by
[code]

My CRA rescripts config:
[code]

[2019-07-21 03:23] macabeus opened #127 "Can't update very well the resolution of a stage"
### Description

I'm adding a feature to user can select the resolution of the image. So I added at `Stage` component the `resolution` option, `onMount` prop to save the `pixiApplication` and I updated the width/height to grow proportionally with the resolution:

[code]

And I added a function to be called when the resolution is changed, to update the resolution on the `pixiApplication`:

[code]

[2019-07-22 09:41] inlet commented on #127
Oh yes.. well the `resolution` part is not implemented in ReactPixi yet, simply because I don't know how to implement it correctly.

Here's a snippet from an old project (based on PIXI v4):

[code]

I know what you think haha, there must be a better way of doing this. (that's why I left out the resolution part)

And the injection point in `Stage` would be:

https://github.com/inlet/react-pixi/blob

[2019-07-23 09:22] Louis-Chen opened #128 "how to get container variable"
how to get sprite.width or sprite.height when i convert origin pixi.js code to react-pixi

origin pixi.js code
[code]

[2019-07-23 09:26] inlet commented on #128
Sorry didn’t get your question, can you please be more specific.

[2019-07-23 09:27] inlet commented on #128
What are you trying to solve?

[2019-07-23 09:40] Louis-Chen commented on #128
i trying to convert pixi example to react version
example code: https://pixijs.io/examples/#/demos-basic/container.js

i dont know how to get value when the function need  variable(ex: width,height)  by itself

ex code

pixi.js create  pixi.sprite and setting some variable

[code]

but in react-pixi
create Sprite cant get it like
[code]

so my question is how to get container width/height from its

[2019-07-23 09:55] fabienjuif commented on #126
You can read the full PR or a more accurate information here: https://github.com/inlet/react-pixi/pull/116#issuecomment-510002796

As @Adamfsk says, PIXI.js just move away from canvas since almost all navigators support WebGL.

I was worried about "aliasing" (via webpack or other) didn't work because I was not sure about the fact that pixi.js-legacy has an ISO-API to pixi.js. Or that pixi.js-legac

[2019-07-23 12:17] inlet commented on #126
Hi @kalbert312,

Here's how you can use ReactPixi with Canvas fallback support (assuming you're using webpack). Note that this is not elegant, but it works.

Create the following aliases in your webpack config:

[code]

And create a `pixi.js` along-side your webpack config:

[code]

Now, run your app with the `forceCanvas: true` option:

[code]

[2019-07-23 12:38] Adamfsk commented on #126
@inlet Unless I’m misunderstanding something, using forceCanvas would cause to always use canvas, and not use WebGL with canvas as a fallback!

[2019-07-23 12:39] inlet commented on #126
@Adamfsk I know, just to point out it works with canvas

[2019-07-23 13:36] inlet commented on #126
I'm going to close this issue as the suggested solution works:

![image](https://user-images.githubusercontent.com/232559/61716489-8ff1d600-ad5f-11e9-842c-ab7e3a1451d0.png)

[2019-07-23 13:36] #126 closed

[2019-07-23 13:44] inlet commented on #128
Use `ref` to retrieve PIXI instances:

[code]

[2019-07-23 13:44] #128 closed

[2019-07-24 02:02] Louis-Chen commented on #128
is solved

and i try useCallback

reference: https://reactjs.org/docs/hooks-faq.html#how-can-i-measure-a-dom-node

[code]

[2019-07-24 21:02] deusprogrammer opened #131 ""Uncaught SyntaxError: Unexpected token {" when running project created with create-react-app@3.0.1"
### Description

When I import Stage into a jsx component, nothing will render and I get the above error.  It looks like there is an import statement with missing white space after the import keyword.  This works fine in codesandbox, but doesn't work in a project run in create-react-app.

### Steps to reproduce

1. Create a new react app using version 3.0.1 of Facebook's "create-react-app" script.

[2019-07-24 21:08] inlet commented on #131
Please create a codepen or codesandbox.

Thanks!

[2019-07-24 21:13] Adamfsk opened #132 "Pixi peer dependency needs updating"
### Description
The latest version has the peer dependency for pixi set to pixi.js@5.0.4. There's now a new version out, so we now get unnecessary warnings for incorrect peer dependencies.

warning " > @inlet/react-pixi@1.0.0" has incorrect peer dependency "pixi.js@5.0.4".

It would be best to simplify this to something like pixi.js@^5.1.0

[2019-07-24 21:53] deusprogrammer commented on #131
Oddly in codesandbox it works.  I feel like the different is I created my app through create-react-app.  I wonder if that is causing any issues?

[2019-07-24 22:03] deusprogrammer commented on #131
I just tested it again using a project created with create-react-app.  That's what's causing the issue.  Your library doesn't seem to work with create-react-app.

[2019-07-24 22:14] deusprogrammer commented on #131
https://github.com/deusprogrammer/react-card-generator

Here, I started a github repo for it.  Clone it and run it.  I ran npm run eject to assist with debugging.

[2019-07-24 22:35] deusprogrammer commented on #131
Is it a problem with webpack perhaps?

[2019-07-24 22:41] deusprogrammer commented on #131
/* WEBPACK VAR INJECTION */(function(global) {import{Point as e,ObservablePoint as t,DisplayObject as n,Texture as r,BitmapText as i,Container as o,Graphics as l,NineSlicePlane as a,ParticleContainer as u,Sprite as c,Text as f,TilingSprite as s,DRAW_MODES as d,SimpleMesh as p,SimpleRope as m,Application as h}from"pixi.js";import y,{useContext as v,useRef as b,useEffect as g}from"react";function x(

[2019-07-24 22:50] deusprogrammer commented on #131
On Firefox it gives a different error, but same line in the bundle.js.

"SyntaxError: import declarations may only appear at top level of a module"

[2019-07-24 23:39] deusprogrammer commented on #131
Okay...found the issue.  Apparently npm was quite out of date.  I didn't know that would affect things like this.

[2019-07-24 23:43] deusprogrammer commented on #131
For some reason old npm versions don't play nice with @inlet/react-pixi

[2019-07-24 23:43] #131 closed

[2019-07-25 01:26] kalbert312 commented on #126
I need to use canvas because I'm rendering a list of them and due to the html structure, it cannot be a shared canvas. I get an error that too many WebGL contexts are open with this approach, so I need to use canvas. Alternatively, I can just convert each canvas to a data url. Haven't decided yet. Thanks for the detailed answer.

[2019-07-25 08:56] inlet commented on #132
Thanks @Adamfsk,

Fixed in this patch: https://github.com/inlet/react-pixi/releases/tag/v1.0.1
Now accepting minor and patch versions for peer dependencies.

[2019-07-25 08:56] #132 closed

[2019-07-25 09:02] inlet commented on #131
Hi @deusprogrammer,

It should work in `creact-react-app`, I've tested it yesterday and everything seems to work fine for the latest version atleast.
Can you point out where the problem relies? Which npm versions don't work?

Some things to consider:

- Use latest React & ReactDOM (16.8.x)
- Don't mixup development and production builds (for instance you're using a production build of React but us

[2019-07-25 09:26] inlet commented on #126
You're welcome, having a way to fallback to Canvas can be convenient.. so now you know you can 😉

[2019-07-25 14:28] deusprogrammer commented on #131
Love the library though :).  Thanks for your hard work.  I was running I think version 3.5.2 of npm.  After updating to npm 5.1, everything worked.

[2019-08-03 05:41] scrmea opened #134 "Support enable flag in type of useTick"
Hi,
I think the following line

https://github.com/inlet/react-pixi/blob/bd2ae9f467e1942c71db7efaa039f4d4555177a0/index.d.ts#L280

should be changed to

`export const useTick: (tick: (delta?: number) => void, enabled?: boolean) => void;`

to support passing the enabled flag to the useTick hook.
Could you change the line? I'm using the flag in a TS project.
Thanks!

[2019-08-05 11:33] inlet commented on #134
Thanks for letting me know, fixed in df2d78e1445fedf33ffac8e99e5c57b27d8f578e

[2019-08-05 11:33] #134 closed

[2019-08-29 23:40] joelstransky opened #138 "creating an AnimatedSprite component"
I'm trying to use `PixiComponent` to create an AnimatedSprite component but I'm not seeing anything on Stage nor am I getting any errors.

Here's what I've tried
[code]

and usage is:
[code]
I can't figure what I'm doing wrong. Thanks!

[2019-08-30 06:53] joelstransky commented on #138
nm, I found your codepen.

[2019-08-30 07:55] #138 closed

[2019-09-03 09:01] Adamfsk opened #139 "PixiComponent not exported by modules.js"
### Description
When trying to create a custom PixiComponent in typescript and compile using Es modules, the compiler reports that PixiComponent is not exported by modules.js

### Steps to reproduce

1. Create a typescript component targeting ESNext and create a custom Pixi component
2. Try to run the typescript compiler

### Additional info

React 16.8
Typescript 3.6
Pixi 5.0.4

[2019-09-03 09:50] inlet commented on #139
Cannot reproduce. Can you create a codesandbox example perhaps?

This works:

`tsconfig.json`:

[code]

`src/index.tsx`:

[code]

[2019-09-03 10:07] Adamfsk commented on #139
Will create a sandbox. My colleague also replicated the issue. Might be related to rollup possibly

[2019-09-03 11:59] Adamfsk commented on #139
Closing this for now, suspect it’s rollup causing the issue

[2019-09-03 11:59] #139 closed

[2019-09-04 22:40] ayeQ opened #140 "Feature request: GSAP support."
### Description
Suggested implementation of GSAP animation library.
https://github.com/bitworking/react-gsap

[2019-09-05 08:04] inlet commented on #140
Hi @ayeQ what are you suggesting? What issue are you trying to solve?

[2019-09-05 16:45] ayeQ commented on #140
Thanks for your response. There is no error. It was me..
Here is a working example: https://codesandbox.io/s/react-pixi-nightowllogic-9uv77
It wasn't working previously and must have been a late night gremlin in the code.

[2019-09-05 16:45] #140 closed

[2019-09-09 17:30] ayeQ opened #141 "GPU keeps increasing"
### Description
I have a sample project using a video camera, animated text and graphics.

The GPU starts below 20% and keeps increasing to over 50% within 5 minutes.  Is there a memory leak somewhere that I'm creating?

https://codesandbox.io/s/react-pixi-nightowllogic-q2vq5

[2019-09-10 12:36] inlet commented on #141
There are no known leaks, but can you try the following:

- Don't use the `draw` prop on `Graphics`. See https://reactpixi.org/components/graphics#props
- Run it in isolated context, not in a codesandbox as there are other resources consuming your memory and GPU.

[2019-09-11 05:20] ayeQ commented on #141
The issue was the draw prop on Graphics. Ok, so WebGL likes sprites. I'll generate a texture with the graphics and apply that to a sprite. Thanks again. GPU is stable for me. Closing.

[2019-09-11 05:20] ayeQ commented on #141
Thanks again!

[2019-09-11 07:00] #141 closed

[2019-09-26 07:55] gespispace opened #143 "Work pixi-viewport with react-pixi"
### Description
I try connect [pixi-viewport](https://github.com/davidfig/pixi-viewport) and `react-pixi` for work together, but can't.
In my [codesandbox](https://codesandbox.io/s/proud-smoke-x0v9u) work event on `drag-start`, but image won't move or zoom.

Help me get to work together these packages

### Steps to reproduce

1. try move image
2. see `drag-start` event in console

### Additional i

[2019-09-26 13:11] warrenseymour commented on #143
@gespispace How odd that I am looking at the exact same combination for the first time. Thank you providing a sandbox, it's been very useful.

I was able to get your demo to work by making the `<Text />` component a child of the `<Viewport />` - I've forked your sandbox with the required changes here: https://codesandbox.io/s/elated-liskov-pdcd6

[2019-09-26 13:47] gespispace commented on #143
@warrenseymour Thank you very much.

[2019-09-26 14:28] inlet commented on #143
Awesome guys!

[2019-09-26 14:28] #143 closed

[2019-09-30 16:54] smith-chris opened #145 "Hot module replacement (HMR) with react-pixi"
Hi all 😄,

thanks for this wonderful library! I've been using it on my pet projects (shameful pulg ;) : https://www.reddit.com/r/Gameboy/comments/d8bnnf/i_wonder_how_original_pokemon_would_look_like_on/) and its been pleasure to work with

BUT! I'd love to increase my productivity with HMR, and so I tried and I did a little progress with it today until I got to the point where mysterious knowledge

[2019-10-01 12:19] inlet commented on #145
Hi @smith-chris,

Thanks for contributing!
HMR should work, not sure why it isn't working on your side though.

Example with `create-react-app` (module.hot enabled in `index.js`):
![ScreenFlow](https://user-images.githubusercontent.com/232559/65960765-794db680-e455-11e9-8cf8-7aaf9c4c501e.gif)

<details>
<summary>Rectangle.js</summary>

[code]

</details>

As you can see it unmounts and mount back

[2019-10-03 11:27] smith-chris commented on #145
Thanks for reply @inlet!

One thing is that example you gave doesn't have any in-comoponent state and losing component's state is exactly what I'm missing in my hrm solution (you can see that I'm changing prop and it doesn't reload as well here: http://www.youtube.com/watch?v=RDdJ2nWtYl0&t=0m48s but other 3 bunnies lose their state :/)

Could you please provide example repo or steps you've taken t

[2019-10-03 16:55] classam opened #147 "Container doesn't apply scaling immediately?"
### Description

So, I have a Container inside a Stage. The stage has dynamic width and height (updating when I resize the page). The container has fixed width, height, and angle.

    <Stage
      width={width}
      height={height}
      options={{resolution: window.devicePixelRatio, autoDensity: true}}>
        <Container width={300} angle={45} height={300} position={[35, 10]}>
          <Sprit

[2019-10-04 11:32] inlet commented on #145
Hi @smith-chris,

Great to hear it works now. Yes you need to wrap it in `<Stage />` as this is the injection point for the reconciliation.

**Note**: You don't have to use the `<Stage />`, if you'd like you can create your own renderer based on `PixiFiber` which is exported as well.

Best, Patrick

[2019-10-04 11:32] #145 closed

[2019-10-04 14:39] inlet commented on #147
Actually this is the expected behaviour. Although you can set the `width` and `height` of a `<Container />`, it is not recommended. The dimensions are updated once a child is added, which results in the containment bounds.

You can see this in action here, go to https://pixijs.io/examples/#/demos-basic/container.js and paste this code and run it:

[code]

The order is important.. the React reconci

[2019-10-04 14:39] #147 closed

[2019-10-06 19:18] smith-chris commented on #145
I think I was too excited about HMR and didn't investigate further to find out that only component markup in `App.js` are properly hot replacing. After digging it for a while I figured that importing and using rhl `hot()` function (in any way actually) enables any component to have proper HMR. I've made a video demonstrating what I mean: https://youtu.be/Yp90SHA5GPs

As you can see React's `AutoCo

[2019-10-07 04:34] Bennyhwanggggg opened #148 "Animated Sprite not showing up"
### Description
Hi, I am trying to create an animated sprite by first creating an array of PIXI.Texture as written in the documentation then passing this array into the props. However, after doing this, the component is not appearing on the `Stage`

### Code
the animated sprite object
[code]

app.js
[code]

I've tried similar approach with `Sprite` and it works just fine, so not sure what should b

[2019-10-07 10:28] #148 closed

[2019-10-07 11:45] inlet commented on #145
I see, well `react-dom` is patched to support HMR, see https://github.com/gaearon/react-hot-loader#hot-loaderreact-dom and we're not using `react-dom`'s reconciliation which explains why the Pixi component isn't hot reloaded by default.

If you know how we can implement auto-HMR please let me know (or create a PR), but I think this requires some changes on the reconciliation side (only in developm

[2019-10-07 20:33] bhartlaub commented on #148
@Bennyhwanggggg : I am having what I think is the same issue; using latest (release 1.1.2).  Can you quickly describe how this issue was resolved?  With appreciation, Bob.

[2019-10-10 18:25] darklightblue opened #149 "Updating texture of AnimatedSprite doesn't work"
So before AnimatedSprite was a thing I was doing something like:

[code]

But now It seems that changing teh texture props on AnimatedSprite doesn't update the texture anymore

[2019-10-11 10:59] inlet commented on #149
I haven't tested your sample code (yet), but I'm assuming this code (above) works right? And the react-pixi component `AnimatedSprite` is not?

[2019-10-11 11:02] darklightblue commented on #149
Yes the code above works and the `AnimatedSprite` component is not - I looked on the code and https://github.com/inlet/react-pixi/blob/master/src/components/AnimatedSprite.js#L17 it seems that texture is not being passed when updating. I'm not entirely sure whether this is intended or not.

I ended up refactoring using a custom animated sprite component (refactored the one above)

[2019-10-11 11:05] inlet commented on #149
Exactly, I was looking at the same line of code 😉. If you'd like you can create a PR with the fix for `AnimatedSprite`? and I'll merge it in the codebase

[2019-10-11 11:22] smith-chris commented on #145
TL;DR
- auto-hmr with <Stage/> example: https://github.com/smith-chris/react-pixi-starter/tree/00d4e322a361ecd9bb289728073d5db57b3794ef
- auto-hmr with react-pixi render() function example: https://github.com/smith-chris/react-pixi-starter/tree/hrm-no-stage
- CRA auto-hmr: couldn't get it to work
- what changes were needed for the repo from original post (for curious ones ;)): https://github.com/s

[2019-10-11 11:58] darklightblue commented on #149
Yeah was looking into that last night but I wasn't sure enough whether that'll do the trick coz it's quite specific that texture is excluded so you might have a reason for doing that? :)

[2019-10-12 14:50] macabeus opened #150 ""pointerover" prop isn't working correctly when updates the resolution"
### Description
I'm developing a tilemap editor using this library, and the user can dragging some objects inside it.
The problem is that, when the user updates the zoom, the prop `pointerover` isn't called on the "new position" of the object.

**These photos explain better what is happen:**
When we doesn't set a zoom, we can to hover an object. You can see that it has a strong border when is hove

[2019-10-12 14:57] macabeus commented on #150
I think that this issue is important to understand better the problem: https://github.com/inlet/react-pixi/issues/127

[2019-10-14 10:16] inlet commented on #149
Well the `AnimatedSprite` component was added in PR #137, no idea why the texture isn't implemented in the applyProps, but yes please create a PR with the fix.

Thanks!

[2019-10-14 10:20] inlet commented on #150
Yes this seems to be related to #127. I'll close this issue as the fix is already suggested. Again feel free to create a PR. Thanks!

[2019-10-14 10:20] #150 closed

[2019-10-17 09:31] paolotozzo commented on #149
Hi, my bad. Fixed with https://github.com/inlet/react-pixi/pull/151

[2019-10-17 10:09] #149 closed

[2019-10-29 08:43] paolotozzo opened #155 "Support of className attribute"
### Description

I've been working on a very useful implementation of the support of 'className' in the library, meaning that we could be able to write css or sass files to define PIXI elements properties as follow

pixi.css
`pixi.rotated {
y: 150;
rotation: 60;
...
}
pixi.button {
interactive: true;
...
}
pixi.shadow-text {
   fontFamily: Arial;
   fontSize: 36;
   fontStyle: italic;
   fontWeigh

[2019-11-04 21:48] adsko opened #156 "Library with TS doesn't work"
### Description
When react-pixi is used in TS project, compiling is not working. I'm receiving error:
`ERROR in ../node_modules/@inlet/react-pixi/index.d.ts:3:28 - error TS7016: Could not find a declaration file for module 'react-reconciler'. 'D:/test/game/frontend/node_modules/react-reconciler/index.js' implicitly has an 'any' type.
  Try `npm install @types/react-reconciler` if it exists or add

[2019-11-05 08:49] #156 closed

[2019-11-05 23:25] adsko opened #158 "withFilters is missing in typings.d.ts"
### Description
withFilters util is missing in typings.

### Steps to reproduce

1. https://repl.it/@l12lpo1adamowsk/PeachpuffGeneralRobot
2.

### Additional info

- `@inlet/react-pixi` version:  5.1.5
- `React` version: 16.8.2
- `ReactDOM` version: 16.8.2
- `PIXI` version: 1.1.6

[2019-11-06 08:54] inlet commented on #158
@paolotozzo Can you add typings to `index.d.ts` for `withFilters`? Thanks! #153

[2019-11-06 09:16] paolotozzo commented on #158
@inlet Yes, I am on it.

[2019-11-06 11:23] paolotozzo commented on #155
Hi, @inlet, just to let you know that in the meantime I found myself in the flow :) and actually getting close to finish this, so I might submit a PR next week. As it is not that trivial I really hope it will be accepted

[2019-11-07 09:50] inlet commented on #158
Fixed in #159

[2019-11-07 09:50] #158 closed

[2019-11-07 09:52] inlet commented on #155
Hi @paolotozzo,

Looks absolutely interesting, please let me know how it progresses..

Thanks for all the effort!

[2019-11-07 17:54] ximing opened #160 "Sprite mark property does not work correctly"
### Description
Sprite mask not work

### Steps to reproduce
use the following demo to reproduce
https://codesandbox.io/s/romantic-browser-ddqho

### Additional info

- `@inlet/react-pixi` version:  1.1.8
- `React` version: 16.8.6
- `ReactDOM` version: 16.8.6
- `PIXI` version: 5.2.0

[2019-11-08 09:05] inlet commented on #160
Hi @ximing

The mask does work, but in your example the components (mask and masked item) are siblings and therefore it needs an extra render before you see the actual effect. You're using a ref to set the mask and refs don't trigger a render.

Here's a working example (with refs): https://codepen.io/inlet/pen/cac93cf4d47c26ba2511801b75e652b8

To solve a single render, I recommend you set the mask

[2019-11-08 09:05] #160 closed

[2019-11-09 04:19] ximing commented on #160
It is found that TS type support is missing. This PR is submitted
#162

[2019-11-13 07:40] limj0825 opened #163 "I have a problem with responsive"
Hi, i'm working with a game, i want to make a 2048 with react-pixi, but i want to use responsive stage that i can play on the phone and computer both, what component should i use or what options or javescript i should add in stage or container, thank you :)!

[2019-11-13 09:05] inlet commented on #163
Awesome! Yes it's quite easy, just set adjust the width and height of the `<Stage>` and play around with coordinates.

I've created a simple codepen example:
https://codepen.io/inlet/pen/09f6a44fb173af22a7946817ee5b834d

[2019-11-13 09:05] #163 closed

[2019-11-13 09:12] limj0825 commented on #163
thank you very much!

[2019-11-13 14:52] RodrigoHamuy opened #165 "Context update does not travel from DOM to Pixi renderer"
### Description

When you create a context outside of the Pixi Stage, its value does not update inside the Pixi Stage.

### Steps to reproduce

1. Go to https://codesandbox.io/s/react-pixi-context-example-eky26

### Expected

`PixiComponent` should render `Context value: 15`.

### Currently

`PixiComponent` renders `Context value: undefined`.

### More info

Compare `PixiComponent` with `PixiCompo

[2019-11-13 15:08] inlet commented on #165
Duplicate of #77

[2019-11-13 15:08] #165 closed

[2019-11-14 17:28] limj0825 commented on #163
Hi! i have some very easy questions again, so sorry for that.
1. how can i add sprite to stage, now i only can add in default code not use function, such like this.
`<Stage><Sprite image={require('./images/test.jpg')} x={startWidth + len * 3} y={startHeight} width={len} height={len}/>
    </Stage>`

2.when i add a sprite from function, how can i get it's id or other feature then remove it or set i

[2019-11-15 03:48] limj0825 opened #166 "Hi! i have some very easy questions again, so sorry for that."
Hi! i have some very easy questions again, so sorry for that.

1. how can i add sprite to stage, now i only can add in default code not use function, such like this.
`<Stage><Sprite image={require('./images/test.jpg')} x={startWidth + len * 3} y={startHeight} width={len} height={len}/>
    </Stage>`

2.when i add a sprite from function, how can i get it's id or other feature then remove it or set

[2019-11-15 09:22] inlet commented on #166
Hi @limj0825,

I’ll be glad to answer these kind of questions via email, but please let’s use GitHub issues for code related stuff only.

Thanks!

[2019-11-15 09:24] #166 closed

[2019-11-15 09:27] inlet commented on #166
And make sure you check out the docs (Github README and https://reactpixi.org) which should give you a better understanding of ReactPixi

[2019-11-18 21:36] paolotozzo opened #167 "Spine Component"
### Description

Hi @inlet

I'd like to add the Spine's support (http://esotericsoftware.com/) as it is a very popular tool for designers and animators in the game development world (we for example use it quite a lot) and it is already working nicely with PIXI through the pixi-spine (https://pixijs.io/examples/#/plugin-spine/dragon.js). The way is going to work it will be very easy to also add dyn

[2019-11-19 14:14] inlet commented on #167
Hi @paolotozzo, wow you're on 🔥!

Love to see the PR, thanks!

[2019-11-29 10:20] jefe-spain commented on #167
Madness @paolotozzo !! 🔥

[2019-12-02 11:41] EloB opened #169 "Feature Request: Simple interactive state component"
I was thinking if there was any simple/easy way to use like hover and active state. Right now it's a lot of code to use any of those things. It would be really nice to have something that fits the declarative world for this. My idea was something like this:

[code]

It would be really nice if it was possible to have prefix for these things like `hoverX`/`activeX`, `hoverScale`/`activeScale`, `hove

[2019-12-02 11:48] #63 closed

[2019-12-02 12:43] inlet commented on #169
Hi @EloB,

Yes that would be convenient indeed. A `Sprite` component can be anything, having another component that does only reflect events to textures is quite specific. I'd like to stay as close to the PIXI core as possible and keep the `Sprite` component generic.

Here's an example:

[code]

Question is do we have to include such a component into the lib? I'm not sure, what do you think?
And t

[2019-12-02 13:22] EloB commented on #169
Haven't tested it but I think might work... It separates all properties into `stateProps` and then merges them depending on state.

[code]

[2019-12-02 13:31] inlet commented on #169
Yes that might work as well, anyhow it's fairly easy to create an interactive component. I think this should be part of your project and not to a lib like react-pixi.

I'll close this issue for now, let me know if you think otherwise.

[2019-12-02 13:31] #169 closed

[2019-12-05 17:39] romanstan1 opened #170 "Masking Sprite component"
### Description
The image im using for the Sprite is much larger than required (910px). I need to dynamically change the height of the container, masking the image.

Does anyone know how to do this?

[code]

### Additional info

 @inlet/react-pixi: "^1.1.9"
 pixi.js: "^5.2.0"
 react: "^16.12.0"
 react-dom: "^16.12.0"

[2019-12-05 17:55] romanstan1 commented on #170
This doesn't work either as the texture remains static as the graphic moves around
[code]

[2019-12-06 11:24] inlet commented on #170
Hi @romanstan1 I've just sent you an email.

Here's an example on how to mask a Sprite:
https://codepen.io/inlet/pen/cac93cf4d47c26ba2511801b75e652b8

Please let me know if this answers your question.

Thanks!

[2019-12-06 14:10] romanstan1 commented on #170
Thank you. It does.

[2019-12-06 14:10] #170 closed

[2019-12-09 17:38] ascorbic commented on #167
Any progress on this, @paolotozzo? If not, I might give it a go.

[2019-12-09 19:03] paolotozzo commented on #167
@ascorbic Hi Matt, I got slightly sidetracked last week, but planning to finish over the course of next week

[2019-12-11 13:16] ascorbic commented on #167
I got a rough demo working yesterday. Gist is here: https://gist.github.com/ascorbic/f01009247f859f0d76b8b92d34ae87bd
Demo here: https://master.d1bkaw8b0oav5y.amplifyapp.com/

[2019-12-12 15:58] romanstan1 opened #172 "Gradient background"
Hey @inlet

Do you know how to make a vertical, linear gradient background to a Stage?

Thanks!

### Additional info

- `@inlet/react-pixi` version:
- `React` version:
- `ReactDOM` version:
- `PIXI` version:

[2019-12-12 16:01] inlet commented on #172
Hi @romanstan1 ,

Please use the Github issues for code related bugs/features.
Feel free to mail me if you have any other questions.

Thanks!

ps. Regarding your question, I've sent you an email how you can accomplish this.

[2019-12-12 16:01] #172 closed

[2019-12-12 16:02] romanstan1 commented on #172
Thank you!

[2019-12-13 15:08] besserwisser commented on #77
This might be a stupid question, but how do I pass multiple Contexts with the bridge?

[2019-12-16 14:04] EloB opened #173 "Feature request community chat"
Do we have any chat/slack/irc for react-pixi?

Where you can write questions, discuss and talk to other react-pixi developers that doesn't fit as a issue or just want to share best practices?

For instance I would like to talk about `react-spring` like how that could be used combined with `react-pixi`. It's not a "issue" and putting it up on Stackoverflow I think this library is to small to get an

[2019-12-16 15:15] inlet commented on #173
Hi @EloB

I've just created a Slack channel (and add the invite link to the docs as well).

[Join us on Slack](https://join.slack.com/t/reactpixi/shared_invite/enQtODY0OTYzNzExMTY5LTU5Yjc0YTFhZWFjNWI5YWExZDY5N2FhODBlNTIyZWUzMGMyMDExYjFmYjBhYzM0ZTM4ZTgwMDJhODRkYWIxYTU)

[2019-12-16 15:15] #173 closed

[2019-12-19 06:42] paolotozzo commented on #167
Great, my PR is almost ready, things are a bit busier than expected but as I am now left with only to write the documentation by the end of the week I'll be able to submit it

[2019-12-23 09:38] paolotozzo commented on #167
#174

[2019-12-26 06:46] sussertod891015 opened #175 "How can I use texture.frame?"
### Description

export default function ( props ){
	const { x, y, texture, name, data, } = props;
	console.log( data, name );

	const Rectangle = PixiComponent( 'Rectangle', {
		create: () => new Graphics(),
		applyProps: ( g, _, props ) => {
			console.log( props, 'props' );
			const { x, y, width, height, } = props;

			g.clear();
			g.beginFill( 0xff700b, 1 );
			g.drawRect( x, y, width, heigh

[2019-12-27 10:20] inlet commented on #175
Can you please create a codepen/codesandbox example?

[2019-12-30 11:14] inlet commented on #175
I'll close this issue for now, please let me know if you think we should reopen this issue.

Here's an example of a custom component icm graphics:
https://codepen.io/inlet/pen/RMLJKm

As you can see the props are passed through correctly.

Btw, you can use react-pixi's [`Graphics.draw`](https://reactpixi.org/components/graphics) as well to achieve something similar.

[2019-12-30 11:14] #175 closed

[2020-01-03 00:30] balgruuf opened #178 "Cannot change scale mode"
There is no way of changing the scale mode from pixi settings.

In my old code I change the scale mode like this

[code]

[2020-01-03 08:49] inlet commented on #178
Can you provide an example? You should be able to set the scale mode, here’s a codepen demo: https://codepen.io/inlet/pen/NYazPq

[2020-01-03 11:15] balgruuf commented on #178
@inlet my bad. Thanks for the reply

[2020-01-03 11:20] #178 closed

[2020-01-03 12:13] inlet commented on #178
No worries, btw here's an example of applying different scale modes to the same image:
https://codepen.io/inlet/pen/267f0bb56683a5d1102911a23ebae76a?editors=0010

[2020-01-07 01:40] karlito-who-else opened #180 "Firing resize event in pixi-viewport"
### Description
I am attempting to resize a pixi-viewport instance when the browser window is resized.  I have referred to #143 in order to initially render the viewport instance but I cannot figure out if it is possible to resize the instance after trying various approaches such as references, useEffect, a ticker, etc.

The sandbox referenced by @wms in the ticket does not work unless the `ticker

[2020-01-09 18:28] #180 closed

[2020-01-13 21:59] tigr1991 commented on #172
@inlet, Could you write answer here, please?

[2020-01-13 22:15] inlet commented on #172
Hi @tigr1991,

This is not really related to react-pixi, but to PIXI itself.
Unfortunately there is support in the Graphics API to draw gradients.

There are 2 things you could do:

1. Create an offscreen canvas to draw the gradient and use PIXI.Texture to wrap it in a texture:
Here's an example: https://codepen.io/inlet/pen/5614dbd8c2bf51f132d1aec1cd6cbf3d?editors=0010

2. This is more complex, i

[2020-01-15 08:25] #167 closed

[2020-01-15 08:26] #155 closed

[2020-01-15 12:32] inlet opened #183 "Rotation overwrites play state on AnimatedSprite"
Example:

[code]

Once the `rotation` prop is added, the rotation indeed happens but now the sprite stops animating.

[2020-01-15 12:33] #183 closed

[2020-01-15 18:18] AlexPoirier1 opened #184 "Can't access other Context inside components rendered by Stage"
### Description
The library appears to be rendering the `Context.Provider` at the root of the virtual DOM instead of as a child to the `Stage` component which makes me unable to access my other providers such as theme provider for anything that is rendered by `Stage`.
![image](https://user-images.githubusercontent.com/7539455/72459447-ce110500-3798-11ea-8c95-c5c3a08d122b.png)
In this screenshot we

[2020-01-15 19:22] inlet commented on #184
Related to #77. Limitation by the React Context API. A possible workaround is creating a bridge between the contexts.

If you have think this should be possible and I’m wrong, please contribute by creating a PR. Thanks!

[2020-01-15 19:22] #184 closed

[2020-01-15 19:59] AlexPoirier1 commented on #184
Thanks for the quick update! However I am not sure I see the limitations you speak of.

I believe I have an idea for a resolution on that issue. I will try something later this week and update with my findings.

[2020-01-15 21:40] inlet commented on #184
Awesome! Yes please keep me updated on this

[2020-01-16 16:31] EloB commented on #173
![image](https://user-images.githubusercontent.com/476567/72543478-1528f400-3886-11ea-84c7-735dc82c2722.png)

[2020-01-16 19:23] inlet commented on #173
Thanks for pointing out. I’ve updated the invite link

[2020-01-28 20:33] EloB opened #185 "Exposed eventHandlers doesn't work as excepted"
### Description
I've failed my PR. The problem right now is `eventHandlers` is set but it's used combined with `filterProps` and that isn't notified by the `eventHandlers` change. https://github.com/inlet/react-pixi/blob/35b2040277da580ef897efabb028b6b691f40a7c/src/utils/props.js#L85

We need a different solution. Any ideas?

[2020-02-06 17:19] sanbornhilland commented on #139
@Adamfsk Did you ever solve this problem? I'm also having issues with rollup + react-pixi. E.g. `Error: 'Text' is not exported by node_modules/@inlet/react-pixi/module.js`

[2020-02-06 23:21] Adamfsk commented on #139
@sanbornhilland I did find a way eventually but don’t remember the solution, but I then encountered various issues with the react-Pixi typings that made it impossible for me to use for what I wanted. Maybe something has improved in the typings now. There was an open ticket with improved but still not fully working typings back then.

[2020-02-07 07:33] inlet commented on #139
@Adamfsk can you let me know what typings are not working correctly?

[2020-02-07 09:44] Adamfsk commented on #139
@inlet I don’t remember the exact details now, but  the main issue was when making my own custom objects, typescript was throwing errors all over the place. The few solutions I found made it break at runtime instead. One of my colleagues also tried and failed to get it working. It has been months since this happened now though.

[2020-02-10 07:49] inlet commented on #184
Hi @AlexPoirier1, did you find a solution?

[2020-02-24 22:13] mimshwright opened #189 "Confusing error: PixiFiber does not support text instances."
### Description

While creating a custom component I got the error...

"PixiFiber does not support text instances. Use `<Text /> component` instead."

I found this error very confusing. I thought it meant that you cannot use pixi's Text elements within a custom component and that I should only use <Text /> if I need to create a text-based component. Took me a long time to realize this is just refe

[2020-02-24 22:32] inlet commented on #189
Hi @mimshwright,

Thanks for posting this issue. Yes text (string) as child prop is not allowed, maybe we need to add a more appropriate warning.

What do you mean by reference it?

Thanks

[2020-02-24 22:35] inlet commented on #189
React internals regarding reconciliation are called Fiber nodes, see https://blog.logrocket.com/deep-dive-into-react-fiber-internals/ that’s why it’s called ‘PixiFiber’

[2020-02-24 22:40] inlet commented on #189
Feel free to create a PR that shows a better warning regarding text nodes, thanks 🙏

[2020-02-25 14:39] mimshwright commented on #189
Regarding the name PixiFiber, all that makes sense to me. I just got a little confused because as a user, I wasn't familiar with the sub-components of the package.

I'll make a PR.

[2020-02-25 14:55] #189 closed

[2020-02-26 08:02] zenios opened #191 "Wrong typing for withFilter"
After the recent changes to withFilter hoc typing where not updated

filters?: Array<any>

should be changed to

filters?: { [key: string]: any }

https://github.com/inlet/react-pixi/blob/3132f97a3262641d16d614220b0853bd61082489/index.d.ts#L403

[2020-02-26 08:19] inlet commented on #191
Oh you’re right, totally forgot to update the type def

Will update these later today, thanks for pointing out

[2020-02-26 10:57] inlet commented on #191
🙌 Just pushed a patch (`v1.2.2`), typings are now working as expected!

1. With correct Wrapper component props:

![image](https://user-images.githubusercontent.com/232559/75338174-96fd3b80-588e-11ea-9c03-08afe743ea70.png)

2. And with correct filter props:

![image](https://user-images.githubusercontent.com/232559/75338348-daf04080-588e-11ea-82e4-122d9af5c7d3.png)

[2020-02-26 10:57] #191 closed

[2020-02-29 08:18] PByH commented on #126
Hi everyone!
I've faced with the same issue, but during jest tests launching. The reason is pixi-legacy.js has references to pixi.js.
`TypeError: Cannot read property 'AccessibilityManager' of undefined`
Here is the sample app:
https://github.com/PByH/react-pixi-fiber-ts-jest
I'm so grateful if somebody can help me with jest tests...

[2020-02-29 08:30] inlet commented on #126
The solution is mentioned above, https://github.com/inlet/react-pixi/issues/126#issuecomment-514184770

You’ll need to use `moduleNameMapper` in Jest

[2020-02-29 19:05] PByH commented on #126
Thanks for the answer!
Solution worked for me with a few differences:
my pixi.js:
`export * from 'pixi.js-stable';`
`export { renderer } from 'pixi.js-legacy';`
There is a conflict with redefine of "Application" property if I export all props from pixi.js-legacy.
Thanks a lot! :)

[2020-03-08 21:16] zenios opened #194 "Animated sprite is not exporter in typescript definitions"
Animated sprite is not exporter in typescript definitions

[2020-03-08 21:50] zenios opened #195 "Animated sprite isPlaying and initialFrame do not allow updating"
isPlaying and initialFrameof AnimatedSprite should reapply when changed

[2020-03-09 14:51] #194 closed

[2020-03-09 14:52] #195 closed

[2020-03-10 07:27] zenios opened #197 "Cannot restart AnimatedSprite"
With the recent changes
https://github.com/inlet/react-pixi/blob/0140c253877e0727603320c9606deb103084381b/src/components/AnimatedSprite.js#L20

There is not way to start the animation from the beginning.

I have to manualy mount / unmount component

[2020-03-10 07:39] inlet commented on #197
I believe this is hard to achieve without writing imperative js. Can you tell me how the API should look like? Maybe get rid of the `initialFrame` and add `startFrame` ad/or `endFrame`? If `startFrame` is set then the `isPlaying=true` starts from that frame?

[2020-03-10 07:46] zenios commented on #197
In my opinion when initialFrame is provided is like specifiying that when start go to that frame when stop also go to that frame.

If initial frame is not provided then we can use the default which is what you have now.

[2020-03-10 08:52] #197 closed

[2020-03-10 09:11] zenios opened #198 "Remove componentWillMount"
Unsafe_componentWIllMount warns when running under strict mode.
https://github.com/inlet/react-pixi/blob/6617cbd4b8f2e9f3a0b1eefbfd38f0a5f6a1d801/src/stage/index.js#L104

I understand that its there just for checks but its better to be removed and either move the invariant to the constructor or componentDidMount

[2020-03-10 09:20] inlet commented on #198
You’re right! Feel free to create a PR 👌

[2020-03-20 12:50] wildProgrammer opened #201 "React Context bug on propagating through the Stage component"
### Description
I created a provider in a **HOC** which receives the react-pixi entry point component with **Stage** element inside. Inside the **HOC** I put a context provider element. The component with **Stage** element has access to the context, but it's children don't. I had to create a new provider inside **Stage** in order to pass the context further

### Code example
[code]

[code]

[2020-03-20 12:55] inlet commented on #201
Related to #77. Limitation by the React Context API. A possible workaround is creating a bridge between the contexts

[2020-03-20 12:55] #201 closed

[2020-03-23 05:18] alziqziq opened #202 "No overload matches this call"
### Description
I just tried using your amazing component, but I got the error, even though the props I sent were numbers.

Error message :
[code]
thanks

![image](https://user-images.githubusercontent.com/36258869/77283628-67abe400-6cff-11ea-9453-995d13edbdac.png)

### Additional info
- `@inlet/react-pixi` version: 1.2.6
- `React` version: 16.12.0
- `ReactDOM` version:16.12.0
- `PIXI` version: 5.

[2020-03-23 13:21] #202 closed

[2020-03-23 13:21] inlet commented on #202
Thanks, just pushed an update

[2020-03-23 14:19] human-a commented on #98
This worked for me:
[code]
The only exception is if you wanna call ```PIXI.projection``` you have to call it like ```window.PIXI.projection```

I hope this gets fixed soon, I guess the Pixi plugins should also support ES6 modules.

[2020-03-23 14:28] inlet commented on #98
Hi @human-a,

This seems not related to react-pixi, see:
https://github.com/pixijs/pixi-projection#angularjs

[2020-03-23 14:30] human-a commented on #98
Oops, sorry I commented on the wrong repo :D

[2020-03-23 14:31] inlet commented on #98
No worries 😉

[2020-03-26 13:46] #198 closed

[2020-03-28 18:16] zenios opened #203 "Typedefs issue"
After the latest update to typedefs i keep getting errors

![Screenshot from 2020-03-28 20-15-11](https://user-images.githubusercontent.com/89569/77830420-f621ca80-7130-11ea-9d25-97b12b6124a1.png)

[2020-03-28 18:37] inlet commented on #203
Oh I haven’t type tested the `anchor` will look into it as soon as possible, thanks!

[2020-03-28 23:38] spassvogel opened #204 "Pixi viewport"
Hi, great work on the library. It looks very promising so far.

one thing I've been wondering is how would I go about implementing something like 'pixi-viewport' (https://github.com/davidfig/pixi-viewport) using react-pixi?

[2020-03-29 00:26] ygorlf commented on #204
Hi @spassvogel, you can find a example here: #143

[2020-03-29 11:21] spassvogel commented on #204
Great! Thanks. I got it working!

A small thing, to use the `useApp` hook I had to create a wrapping functional component. I was wondering if it would be possible to get a reference to the `PIXI.Application` (app) from within the `PixiComponent` directly? if not, it's not a huge deal, again, it's working like this.

[code]

[2020-03-29 20:58] ygorlf commented on #204
@spassvogel, I use the same way, creating a wrapper functional component

[2020-03-29 21:11] spassvogel commented on #204
Okay thanks!

[2020-03-29 22:28] spassvogel commented on #203
`anchor={new PIXI.Point(0.5, 0.5)}` does that work?

[2020-03-29 22:30] zenios commented on #203
Yes

On Mon, 30 Mar 2020, 01:28 Wouter van den Heuvel, <notifications@github.com>
wrote:

[2020-03-30 10:10] inlet commented on #204
@spassvogel unfortunately you cannot access the `PIXI.Application` in your `PixiComponent`. Having a wrapper is a solid solution though.

I'll close this issue as the suggestion solution works.

Thanks!

[2020-03-30 10:10] #204 closed

[2020-03-30 10:11] inlet commented on #203
I'll push a fix later today! Thanks for testing it @zenios

[2020-03-30 10:49] #203 closed

[2020-03-30 10:51] inlet commented on #203
Fixed in `v1.2.9`

[2020-03-30 11:46] spassvogel opened #205 "Assign forward ref"
I'm not inexperienced with react, but this is something that stumps me. I have created a Component that wraps around PixiViewport. Now what I would like to do is access the internal `PixiViewport` from the parent component, via a ref. Like so

(in parent)
[code]

Viewport.tsx
[code]

How would I assign `viewport` to `ref.current` ?

[2020-03-30 13:39] inlet commented on #205
Just use `ref` prop on the component to access the PIXI instance, here's an example: https://codepen.io/inlet/pen/6146b77da275dd556126e572411f8a67

[2020-03-30 13:39] #205 closed

[2020-03-30 14:26] spassvogel commented on #205
Gotcha. Thank you. I was struggling a bit with the typescript types, but it works. Thanks also for the example.

[2020-03-30 14:28] inlet commented on #205
Sure no problem!

[2020-04-03 02:14] cometkim opened #207 "Need not-bundled module for compatibility"
Hi @inlet, Thank you for the nice library!

I'm really having fun with PIXI.js in React syntax :D

# Description

react-pixi will be broken when using `react@experiemental`.

![image](https://user-images.githubusercontent.com/9696352/78297738-2cb17800-756b-11ea-9327-3edb4929c3a9.png)

because some internal signatures on React have [recently been changed](https://github.com/facebook/react/commit/2b

[2020-04-03 11:48] cometkim commented on #207
FYI, I made [a fork](https://github.com/devsisters/react-pixi) to experiment react-pixi with concurrent react, suspense for resource loaders, etc.

[2020-04-03 12:18] inlet commented on #207
Hi @cometkim

Thanks, would love to see a PR once you have a fix  :)
Yes, the `react-reconciler` updates quite often and is always a step ahead of React stable version.

If you are not able to make it work as you suggested, we can always create a npm dist `@experimental` for this.

[2020-04-07 09:54] cometkim opened #209 "Allow DOM element via Portal"
### Description

Hi again! I'm currently doing research using react-pixi, and it works pretty well :)

However, I wanna build a UI layer separately using ReactDOM and communicating via custom Portal element.

Building UI in DOM and CSS is a good way to build responsive, constraint UI. But react-pixi seems doesn't allow ~~dom element~~ only text nodes inside of `<Stage/>`.

Is it possible to allow

[2020-04-07 09:58] cometkim commented on #207
Sure, I will post here if I make anything in the folk :)

I'm currently managing a separate bundle in the folk. unbundled version works strangely in Webpack.

[2020-04-07 09:58] #207 closed

[2020-04-08 11:49] cometkim commented on #209
I've confirmed that we can use it as intended by simply adding a handle to createTextInstance.

The rootContainerInstance is passed to the dom node as is passed to ReactDOM.createPortal(), so I can use ReactDOM's implementation if the node is DOM element.

[2020-04-08 11:50] inlet commented on #209
Awesome, feel free to create a PR. Thanks!

[2020-04-09 00:43] cometkim commented on #209
I have tried yesterday, for all interfaces accessible via React and ReactDOM internals but I haven't found a way to delegate the remaining work to ReactDOM. (It was only possible to get rid of the error.)

It doesn't seem to be implemented yet.

https://github.com/facebook/react/issues/13332

This issue is an important part of the custom renderer usability, so I need to keep following.

there are

[2020-04-09 00:43] #209 closed

[2020-04-09 04:02] Camelot93 opened #210 "Pixi react how to create Sprite component with a polygon as texture"
I am trying to create a sprite component that takes a drawn polygon as texture, how can I achieve this? thanks. Below is a link to what I've posted on stackoverflow

https://stackoverflow.com/questions/61113737/pixi-react-how-to-create-sprite-component-with-a-polygon-as-texture

[2020-04-09 07:57] inlet commented on #210
Hi @Camelot93,

Please use Github issues for code related issues, you can ask for these kind of questions in our Slack channel: https://reactpixi.org/#were-on-slack

To answer your question, there are 2 ways:

- Preferred way, use `Graphics` and draw the polygon
- Or if you'd like to map a texture from the graphics, you can use: https://pixijs.download/dev/docs/PIXI.Graphics.html#generateCanvasTex

[2020-04-09 07:57] #210 closed

[2020-04-09 10:50] Camelot93 commented on #210
Hello Patrick,

I'm sorry for that, I wasn't aware, Because I will bee implementing
multiple graphics and animating them I believe implementing them as sprites
will optimize its performance ( correct me if I'm mistaken).
Would it be possible to have a small example if it is not asking for too
much, the link you sent is not clear enough.

Thanks

On Thu, Apr 9, 2020 at 3:58 AM Patrick Brouwer <noti

[2020-04-09 11:10] inlet commented on #210
I've created an example:

https://codepen.io/inlet/pen/7db008b0c461b3baaa58ff529951f9d1

This one uses an offscreen canvas to generate the texture from.

But an easier way is to use the `PIXI.Graphics` instead and use `cacheAsBitmap`:

[code]

[2020-04-09 11:15] Camelot93 commented on #210
Is it as efficient as using sprite, in short, will it support multiple
shapes and will the animation be fast?

I'm asking this because I have read this lately

*Use with caution, the draw method is costly. If the component needs to
update frequently it might be better to use a cached texture instead.*

*Make sure to call g.clear() if you'd like to redraw the graphics.
Alternatively, you can set pr

[2020-04-09 11:25] Camelot93 commented on #210
I was just reading this,
I do not know to what extent "element does not change often" is measured,
in my case there are drag and drops, resizes as well as limited animations,
looped animations and sequenced animations

 cacheAsBitmap boolean overrides
<http://pixijs.download/dev/docs/PIXI.Container.html#cacheAsBitmap>

When cacheAsBitmap is set to true the graphics object will be rendered as
if it

[2020-04-09 14:03] spassvogel opened #211 "Lifetime of PIXI app"
Hello,

What is the lifetime of the PIXI.Application in `react-pixi`? Does it get created when a `<Stage>` element is mounted? Is there some way to persist it?

https://codepen.io/spassvogel/pen/gOaOWZR?editors=1111

I'm wondering because in my app  I'm creating and tearing down PIXI stages all the time. It would be nice to persist the loader cache for example. This pen seems to suggest there is a

[2020-04-09 21:05] inlet commented on #209
Bummer, yes I think the "Bridge" option might be a good fit.  Keep me posted once you've found a good solution.

Thanks!

[2020-04-09 21:11] inlet commented on #211
Hi @spassvogel

As you can see in the source:

https://github.com/inlet/react-pixi/blob/69781938004cb58ed2e4c85034b51d2b180306e2/src/stage/index.js#L105-L110

the `PIXI.Application` is created on mount and killed on unmount. Use [custom options](https://pixijs.download/dev/docs/PIXI.Application.html) to your needs.

If you'd like to persist the loader cache, I'd suggest to use the shared loader in

[2020-04-09 21:11] #211 closed

[2020-04-09 21:15] inlet commented on #210
shapes and will the animation be fast?

Yes.

in my case there are drag and drops, resizes as well as limited animations,
looped animations and sequenced animations

It refers to redrawing a `Graphics` instance. For sequenced animations I'd suggest using an `AnimatedSprite` instead.

[2020-04-09 23:30] Camelot93 commented on #210
Thanks a lot Patrick thats really nice of you, I hope you don't mind if I
keep your contact, its my 4th day learning Pixi I've just been programming
for a year now and with this project I will be having a lot on my hands.

On Thu, Apr 9, 2020 at 5:16 PM Patrick Brouwer <notifications@github.com>
wrote:

[2020-04-10 03:26] Camelot93 commented on #210
Sorry to disturb you again Patrick but using cachedBitmap prevents
options={{resolution}} from working, is there a workaround?

On Thu, Apr 9, 2020 at 7:30 PM Camille <camillebasbous@gmail.com> wrote:

[2020-04-10 07:27] cometkim commented on #209
@inlet Just implemented a simple bridge to outside root, and works well 👍

https://github.com/devsisters/react-pixi#ui-portal

I'll post a codepen demo soon after modifying the deployment settings a bit.

[2020-04-10 07:41] cometkim commented on #209
Hmm... context or suspense still doesn't work via a bridge. I'm still looking for a way to pass it from React internals.

[2020-04-10 08:07] inlet commented on #209
Context simple doesn’t work, this is a limitation of the React Context API. Not sure if the Suspense API is part of ReactDOM, but my first guess would be that is should work with custom renderers

[2020-04-10 10:06] spassvogel commented on #211
Thanks! Setting `sharedLoader` to `true` did the trick.

[2020-04-10 10:47] spassvogel opened #212 "(typescript) expose IContainer"
Im using typescript to create a new PixiComponent. However I can't figure out how to set the types of the Pixi component I'm exposing.

Here I have my `ParticleEmitter`, it's on top of a `PIXI.ParticleContainer` so I want  all the properties of `Props` and `PIXI.ParticleContainer` to be known. I got it to work by duplicating the types `PointLike`, `WithPointLike`, `InteractionEvents`, `Container`

[2020-04-12 17:09] cometkim commented on #212
@spassvogel You can extract the props type from the component definition.

Here's example:
[code]

Or use a type library for it `yarn add @cometjs/react-utils`

https://github.com/cometkim/cometjs/blob/master/packages/react-utils/src/common.ts

[2020-04-12 17:22] cometkim opened #213 "TypeScript IntrinsicElements"
### Description

I recently working on improving React library type definition on DefinetlyTyped.

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/43759

And this also affects react-pixi.

TypeScript has its own logic that references the IntrinsicElements declaration for host elements. So custom renderers should provide a definition for the default tag provided by host under `JSX.Intrinsic

[2020-04-12 18:39] inlet commented on #213
Hi @cometkim

Can you point out what should be fixed in react-pixi?

Thanks

[2020-04-12 19:15] spassvogel commented on #212
Thanks @cometkim !

[2020-04-12 19:15] #212 closed

[2020-04-12 19:46] cometkim commented on #213
@inlet react-pixi should provide information about host elements under JSX.IntrinsicElements namespace.

for example:

[code]

So ts user can use `ElementRef<typeof Container>` to infer `ReactPIXI.ContainerClass` instance type. (and more use cases available with intrinsic types)

For more information: https://www.typescriptlang.org/docs/handbook/jsx.html#intrinsic-elements

[2020-04-12 19:49] cometkim commented on #213
An example in react-three-fiber: https://github.com/react-spring/react-three-fiber/blob/9b18a52fef/src/three-types.ts#L65-L293

[2020-04-12 19:51] cometkim commented on #213
Using a ref in react-pixi seems to give the pixi object, not a react element. It is better to provide such information through type.

[2020-04-13 10:28] inlet commented on #212
@spassvogel

That does work indeed. Actually @cometkim type `PropsOf` is so commonly used that React has this baked in (does practically the same):

[code]

[2020-04-13 10:43] inlet commented on #213
Hi @cometkim,

Thanks for pointing out.

However there's a difference in comparison with the react-three-fiber lib.

By declaring the `IntrinsicElements` you don't have to import the named JSX and elements will be automatically be resolved based on its type:

Example `react-three-fiber`:

[code]

However, with `react-pixi` you need to import them, there are no `IntrinsicElements`:

[code]

Correct

[2020-04-13 11:09] cometkim commented on #213
React uses IntrinsicElements for more purposes. For example:

[code]

Here, the "real" type of ref seems to be a `PIXI.DisplayObject` instance (I'm not sure if it's what you intended).

![image](https://user-images.githubusercontent.com/9696352/79116093-882d0280-7dc2-11ea-9ceb-d139aa588408.png)

This will be good to be documented and type definitions are better.

[2020-04-13 11:19] inlet commented on #213
Maybe it's my lack of knowledge, but isn't a React `ref` for retrieving the actual instance? For ReactDOM it refers to the actual DOM element as for React-Pixi it's the actual PIXI instance.

You're right about the `useRef` part, is it as simple as adding the types to `IntrinsicElements` to solve this? Can you make a PR?

Thanks!

[2020-04-13 11:43] cometkim commented on #213
It is right because of the <Container> is the "Intrinsic elements" for react-pixi, not just a regular class/functional component (except <Stage>?) but react-pixi's components use regular module syntax for its usage, so I think it's a bit confusing.

Yeah, I will file a PR for it after the DefinitelyTyped/DefinitelyTyped#43759 being merged.

[2020-04-13 12:14] inlet commented on #213
Awesome, thanks

[2020-04-13 16:23] ferdaber commented on #213
You cannot add JSX constructors that resolve to value types (instead of strings)  into `IntrinsicElements`. What @inlet said is correct that if you need to import `Container`, it cannot go into `IntrinsicElements` because TypeScript will never look there for props comparison.

[2020-04-14 14:54] cometkim commented on #213
@ferdaber But I still can type check for props using imported `Container` class, and React use IntrinsicElements for ElementRef right?

[code]

My goal is just to get this to work and react-pixi should provide IntrinsicElements for this case.

I'm referring here to more use cases of the IntrinsicElements in React, not the original intent. I think not only TypeScript core, but also React definition

[2020-04-14 14:56] cometkim commented on #213
I'm wondering how RN is dealing with this.

[2020-04-14 15:06] inlet commented on #213
I'm closing this issue as `IntrinsicElements` do not apply for `react-pixi`.

There's no way you can get `PIXI.Container` from the imported `Container` as the Container only include JSX props and is not aware of any PIXI instance.

This is how you can use refs:

[code]

[2020-04-14 15:06] #213 closed

[2020-04-14 15:06] inlet commented on #213
Please let me know if you have a solid solution and we can reopen this issue.

Thanks!

[2020-04-14 15:29] ferdaber commented on #213
@inlet when passing a ref into `Container` from react-pixi, do you get the component instance, or the instance of `PIXIContainer`? I saw in the type definitions that `Container` is a class component, so if the reconciler is similar to react-dom, then I figured that you get the component instance 🤔

Given the above, in runtime wouldn't your above example actually give you an instance of `Container`

[2020-04-14 15:31] cometkim commented on #213
Ok... I didn't expect to bind PIXI types manually, but please give me a good place to document it. I will send a PR.

I still believe that type definition is a good place to clarify it. You can also hide internal props like `addChild` and `destroy` that probably break the reconciler.

[2020-04-14 15:35] cometkim commented on #213
![image](https://user-images.githubusercontent.com/9696352/79243720-f9e37a00-7eb0-11ea-8f3e-27bccf639c04.png)

And the example will gonna fail type checking anyway.

[2020-04-14 15:42] inlet commented on #213
Sure, if you know how we can make this work!

[2020-04-14 15:43] inlet commented on #213
Given the above, in runtime wouldn't your above example actually give you an instance of Container instead of PIXIContainer in the ref?

The class comp in type def is just to support JSX types, as this is a custom renderer ref always returns PIXI instances

[2020-04-14 15:43] cometkim commented on #213
@ferdaber Container is not actually a React.Component in react-pixi, it's PIXI.Container in runtime but using the component type definition for faking JSX intrinsic.

[2020-04-14 15:47] ferdaber commented on #213
I'm more investigating what the actual type is, and just by running the codepen examples, it seems that the emitted ref type is actually a `<container>` DOM element. Some of the other components do not emit refs at all (not even invoking the ref callback that I pass in), and others are emitting class instances. So it seems to be inconsistent depending on the component. That said, even shoving the

[2020-04-14 15:49] cometkim commented on #213
Weird, because it was PIXI.DisplayObject in my test above

https://github.com/inlet/react-pixi/issues/213#issuecomment-612856703

[2020-04-14 15:54] ferdaber commented on #213
In the example of your previous comment, are you using react-dom or the custom reconciler?

[2020-04-14 15:56] inlet commented on #213
@ferdaber:

Stage is the only component that does render a `canvas` element as this is the root and rendered in ReactDOM. From there the custom renderer (react-pixi) takes over..

and all components return their PIXI instance. Just check out the codepen examples.

[2020-04-14 15:57] cometkim commented on #213
Like I said, after https://github.com/DefinitelyTyped/DefinitelyTyped/pull/43759 merged, extends JSX.IntrinsicElements and It will work.

Another remaining work is to find out all the types returned in the actual runtime.

[2020-04-14 16:20] ferdaber commented on #213
Oh I see it now, I didn't realize in the examples the `Text` components were wrapped in functions.

Anyways, I disagree with adding these into `JSX.IntrinsicElements` but that's the prerogative of this library's maintainers (since these are augmentations anyways).

One issue I do see is that all of these components in this current library's type definitions are defined as classes which will confli

[2020-04-14 16:23] inlet commented on #213
@ferdaber thanks! Will look into it

[2020-04-15 09:25] cometkim commented on #209
https://codesandbox.io/s/react-pixi-portal-lsgh1?file=/src/index.js

@inlet I added shared context implementation for the Portal API.

Demo: https://codesandbox.io/s/react-pixi-portal-lsgh1?file=/src/index.js

[code]

So users can optionally specify the contexts to "capture" on the bridge, and these context values will automatically be forwarded when rendering.

[2020-04-15 09:28] inlet commented on #209
Nice work @cometkim !

[2020-04-15 09:43] inlet commented on #213
@ferdaber just pushed a patch:

https://github.com/inlet/react-pixi/blob/eebbf7657258b83e1ef9548e0f2457616962cb80/index.d.ts#L254-L264

Does work now!

![image](https://user-images.githubusercontent.com/232559/79323284-48733180-7f0e-11ea-9616-1c28d8900c8f.png)

[2020-04-15 10:26] inlet commented on #213
@cometkim & @ferdaber

I also added support for getting the ref instance via `PixiRef`:

https://github.com/inlet/react-pixi/blob/1ecc964d375cd2d070a432e2015eb1e72e3b0416/index.d.ts#L411-L413

![image](https://user-images.githubusercontent.com/232559/79327115-33010600-7f14-11ea-95bb-656e6c4aec63.png)

[2020-04-15 13:11] ferdaber commented on #213
@inlet thank you for the changes, I'm assuming your test environment above is not using strict nulls?

Also the new `PixiRef` helper type may not be necessary with @cometkim's latest update to React's own types, they can just use `React.ElementRef<typeof Container>` and it should work just fine.

[2020-04-15 15:08] cometkim commented on #209
There are some limitations in reading the context.

- As long as it is done (semi-)automatically, it might not be optimized through observedBits.
- Context values can only be read during component (portal) rendering (cannot be any other place like inside hooks, etc.)

I am wondering if there is a better interface than this. @inlet Do you have any opinion here?

[2020-04-15 15:43] inlet commented on #213
@ferdaber yes strict null checks are enabled, why?

Ah cool! Looking forward to the update, when is it available?

[2020-04-15 16:09] ferdaber commented on #213
The inferred type of `c` in your screenshot is `PIXI.Container` but it should be `PIXI.Container | null`.

[2020-04-16 08:52] zenios opened #214 "ParticleContainer is declared as ChildlessFC component"
After the type definition changes, ParticleContainer is declared as childless component which i think is wrong. any child should be added to the container directly

[2020-04-16 08:55] inlet commented on #214
Oops, you’re right 😉

Will change that, thanks!

[2020-04-16 12:09] #214 closed

[2020-04-16 12:10] inlet commented on #214
Pushed a new update with the fix

[2020-04-16 12:54] inlet commented on #213
I've updated the `PixiRef` and it works with `"strictNullChecks": true` as well.

![image](https://user-images.githubusercontent.com/232559/79458402-09b6a780-7ff2-11ea-8347-4d0dc91ff2f2.png)

Any ideas when `React.ElementRef` works with this?

[2020-04-16 13:07] ferdaber commented on #213
It should actually just work in its current version just by inspecting the changes you made to your own types. Did you try it out?

[2020-04-16 13:12] inlet commented on #213
Unfortunately `React.ElementRef<typeof Container>` does not work. It returns `undefined`

[2020-04-16 13:12] inlet commented on #213
Anyway, I'll leave the type `PixiRef` as it does work as it should be

[2020-04-16 14:31] ferdaber commented on #213
Oh congrats! You found an unrelated bug in `React.ElementRef` 😅 I'll have to fix that.

[2020-04-21 22:22] spassvogel opened #215 "Typescript issues in 1.2.17"
Two things stand out to me in the 1.2.17 release,

1. `export const Sprite: _ReactPixi.ChildlessFC<_ReactPixi.ISprite>;`

It seems to me that a Sprite can have children, no? https://pixijs.download/dev/docs/PIXI.Sprite.html#addChild

2. `  type IGraphics = Container<PIXI.Sprite> & { `

This should be `Container<PIXI.Graphics>` I think.

[2020-04-21 22:31] inlet commented on #215
Oops you are totally right, do you have time for a PR? Else I can update it tomorrow

[2020-04-21 22:38] spassvogel commented on #215
Yeah working on it now. Actually I think all the pixi components can have children?

[2020-04-21 22:40] inlet commented on #215
Yes I believe you’re right. Change them all and remove the `Childless` type entirely

[2020-04-21 22:42] spassvogel commented on #215
#216

[2020-04-21 22:43] inlet commented on #215
I’ll merge it tomorrow morning

[2020-04-21 22:47] spassvogel commented on #215
Good night and thx!

[2020-04-21 22:47] #215 closed

[2020-04-23 21:56] lewispeel opened #217 "Incorrect render for repeated pointerover/pointerout"
### Description

I've create a very simple application with a custom component that changes colour when you hover over it. If you hover over then off the component everything is fine for the first 12 times but on the 13th the colour states are reversed. It's very strange... not sure if I'm doing something wrong but it's probably the simplest component I could make!

Here's a Codepen demonstrating

[2020-04-24 08:22] inlet commented on #217
This is the expected behavior.

The `draw` call gets executed every frame, make sure to clear it first before redrawing.

[2020-04-24 08:22] #217 closed

[2020-04-24 10:13] inlet commented on #217
Keep in mind that this might be an expensive operation as it gets drawn every frame. There's a PR with a fix to render it based on the React cycle here: #187

[2020-04-25 17:52] lewispeel commented on #217
Ah ok, thanks for the explanation!

[2020-05-05 13:14] andreademasi opened #218 "What is the correct way to pass a Sprite to a displacementFilter?"
I'm trying to use a displacementFilter, this is my code:

[code]

But i get the error `Cannot set property 'renderable' of undefined`, maybe i'm missing something because i'm trying to pass the sprite through a React Ref.
What is the correct way to pass a Sprite to a displacementFilter?

### Additional info

- `@inlet/react-pixi` version: ^1.2.19
- `React` version: ^16.12.0
- `ReactDOM` version: ^

[2020-05-05 16:01] inlet commented on #218
Hi @andreademasi,

Oops, it seems the `withFilter` didn't take constructor arguments into account. I've just pushed a fix and now the filter prop can have a `construct` property, which basically expects the constructor params.

For example:

[code]

__Note__: The Displacement filter needs a sprite as a reference and it needs to be added to the scene else you'll get the `no renderable` error. Use a

[2020-05-05 16:01] #218 closed

[2020-05-07 09:13] andreademasi commented on #218
Thanks for the fast fix @inlet . I was wondering if you can help me with understanding how to manipulate PixiFilter parameters. I'm trying to achieve a "ripple effect" on a image that follows mouse pointer, however nothing happens on screen. Here's my code:

[code]
I'm not sure if i should use react state for the sprite and filter props or just simple variables. Could it be that the custom raf is

[2020-05-07 09:58] zenios opened #219 "Change to container definition breaks textStyle"
With the latest changes to typescript defintions for Container i cannot apply text style any more

![Screenshot from 2020-05-07 12-56-55](https://user-images.githubusercontent.com/89569/81281378-6f7ed800-9062-11ea-9cbc-2ac95cf6104a.png)

[2020-05-07 14:07] AskAlice opened #220 "Reconciler implemented improperly?"
### Description
I've noticed I can't access any contexts within the pixi fiber, and I managed to get this to throw when updating this component as a result of a theme preference change

react-pixi is throwing the ReactError that caused this full page exception

![image](https://user-images.githubusercontent.com/1855905/81303817-76ddbb80-9039-11ea-8619-8b1d9f171269.png)

### Steps to reproduce

thi

[2020-05-08 04:57] aktriver commented on #219
I’m having the same problem since v1.2.19.
v1.2.18 is ok.

This commit may be causing.
https://github.com/inlet/react-pixi/commit/18a8fc7ffe411ace9fa0f181f032c009ee3eafe7

[2020-05-08 05:56] inlet commented on #219
Thanks for letting me know, will look into this today! You can expect a fix soon

[2020-05-08 06:02] aktriver commented on #219
Thanks.
I found that `FunctionType<IText>` returns “style”.

[2020-05-08 12:32] inlet commented on #219
Thanks @aktriver

![image](https://user-images.githubusercontent.com/232559/81405590-403a9a80-9138-11ea-8ab0-9fecdab7a472.png)

The idea of removing all Function members does not work if a type is assigned to `any`.
No clue why they add the `any` type here though.

Anyways, I'll remove the FunctionTypes check entirely to make it work.

[2020-05-08 12:42] inlet commented on #219
Just pushed a fix

[2020-05-08 12:42] #219 closed

[2020-05-08 12:44] inlet commented on #220
Duplicate #77.

Limitation by the React Context API. A possible workaround is creating a bridge between the contexts.

[2020-05-08 12:44] #220 closed

[2020-05-19 02:38] ArielFrischer commented on #52
I'm running into this issue as well, it seems like `react-pixi` is making an `XMLHttpRequest` to the image url without any `Access-Control-Allow-Origin` header. For most requests this works fine in my application but only react-pixi is giving this error.

We use react-pixi as shown below, imgSrc is just the s3 url to a jpg. We've tried allowing any origin, that did not work.
[code]
### Error Messa

[2020-05-19 02:59] ArielFrischer opened #225 "CORS Errors"
### Description
I'm running into this issue, it seems like `react-pixi` is making an `XMLHttpRequest` to the image url without any `Access-Control-Allow-Origin` header. For most requests this works fine in my application but only react-pixi is giving this error.

We use react-pixi as shown below, imgSrc is just the s3 url to a jpg. We've tried allowing any origin, that did not work.
[code]
### Err

[2020-05-20 07:41] inlet commented on #225
Hi @ArielFrischer,

Thanks for contributing.

As you can see the `react-pixi` lib on itself does not do the request but instead it uses PIXI's `Texture.from` to obtain the texture for the Sprite:

https://github.com/inlet/react-pixi/blob/0b87568a21a73f6ef1e862f9473a5fbc510cb7b8/src/utils/props.js#L81

And the default behaviour of PIXI is with `crossorigin` enabled, see:
https://pixijs.download/dev

[2020-05-20 07:41] #225 closed

[2020-05-20 21:12] ArielFrischer commented on #225
@inlet ,
Thank you so much for the very useful information we will attempt to try out a couple new cors configurations (adding `<AllowedHeader>*</AllowedHeader>` unfortunately did not do the trick). If I could see the cors configuration for that s3 bucket that would be great. We will also try creating textures manually as you've explained and will get back with results. Thanks again for the help a

[2020-05-20 21:51] ArielFrischer commented on #225
Looking more deeply at stack overflow answers for similar errors with s3 cors, I've found that adding these three lines to s3 cors configuration seemed to do the trick:
[code]
Also disabling chrome's browser cache worked as well, but that is not a real solution.

[2020-05-22 08:14] inlet commented on #225
Great! and thanks for sharing

[2020-05-25 23:15] inlet commented on #78
Finally got time to implement this feature 🙌

Only need to add some tests and update the docs accordingly.

[2020-05-26 10:42] #78 closed

[2020-05-26 10:49] bichotll commented on #78
Amazing! Thank you! :)

[2020-06-05 10:08] #127 closed

[2020-06-09 11:10] zenios opened #229 "Errors with latest updates"
Hi i tried react-pixi 4.00 and i get the following errors

[code]

After searching around looks like this issue presents when creating multiple reconcilers which is what react-pixi 4.0 is doing

Here is another project that had the exact same issue. It includes a PR on how they fixed the issue

https://github.com/vadimdemedes/ink/issues/139

Also injectDevtools should change from

[code]
to
[code]

[2020-06-09 13:34] inlet commented on #229
Thanks @zenios!

Will look into it :)

[2020-06-09 15:45] inlet commented on #229
Thanks! Just pushed a fix and it works now!

[2020-06-09 15:52] zenios commented on #229
This is only one part of the problem

There is still an issue with creating multiple reconcilers.

Look at the pr of the other project

[2020-06-09 16:01] inlet commented on #229
interesting that there can only be one reconciler 🧐

Will look into it tomorrow and see if I can come up with a solution

[2020-06-10 11:14] #229 closed

[2020-06-10 11:17] inlet commented on #229
Pushed a fix, I needed to rewrite some core reconciler logic.

Now it uses the same PixiFiber instance and emits changes via custom events (instead of eventMap handlers).

[2020-06-17 09:19] #185 closed

[2020-06-19 16:47] filipesmedeiros opened #233 "Server side rendering"
### Description

Hey! Is there a way to use this with server side rendering? (Next.js for example)

I've tried also checking for the window object before rendering the Stage, but it just does stuff before I even get there.
Even if I do something like `{false && <Stage/>}` it throws that window is undefined, so I can't even use `useEffect` to check if I'm in the browser.

Any help? Thanks!

### Add

[2020-06-19 16:49] inlet commented on #233
Wrap a `NoSSR` around it and you’re set:

[code]

[2020-06-19 16:49] #233 closed

[2020-06-19 16:51] filipesmedeiros commented on #233
Amazing, thanks!

[2020-06-20 00:48] filipesmedeiros commented on #233
On a second note, this actually isn't working for me. Wrapper in a `NoSSR` but I still get the error that:

![image](https://user-images.githubusercontent.com/26208850/85187529-19739600-b298-11ea-9151-b94ac6279759.png)

[2020-06-20 08:08] inlet commented on #233
Importing PIXI evaluates the window object right away, dynamic importing is the way to go 👍

[2020-06-22 12:57] spassvogel opened #234 "Typescript error with children"
After updating to 6.14.5 I am experiencing a lot of TS issues with embedding react pixi elements within a container

[code]

- `@inlet/react-pixi` version: 6.14.5

[2020-06-22 13:00] inlet commented on #234
Hi @spassvogel,

The latest version of `@inlet/react-pixi` is `v5.0.0`.
Can you share your tsconfig?

[2020-06-22 13:03] inlet commented on #234
Note that v5 is only compatible with PIXI v5.3+

[2020-06-22 13:17] spassvogel commented on #234
Sorry about that. I thought I had updated @inlet/react-pixi but I didnt. Seems to be working now. Apologies

[2020-06-22 13:17] #234 closed

[2020-06-22 13:22] inlet commented on #234
Ah, great to hear it's not broken 😓

[2020-06-27 08:33] mikecann opened #235 ""ignoring prop" warnings?"
# Description

I am getting a bunch of these warning `ignoring prop: mask, from null to null for AnimatedSprite`

![chrome_2020-06-27_16-29-46](https://user-images.githubusercontent.com/215033/85918269-c56a4200-b893-11ea-94f7-aea684a2c442.png)

Im not sure why or what to do about them.

### Steps to reproduce

The code looks like this:

[code]

### Additional info

- `@inlet/react-pixi` version: 5

[2020-06-27 10:28] inlet commented on #235
Hi @mikecann

Good point, a `null` value is a possible value for prop `mask`. Right now we prompt these warnings to tell the user a possible invalid value is set. At runtime we don’t know the valid types for a prop.

I can create a PR which bypass the mask null value.

[2020-06-28 00:36] mikecann commented on #235
Cool, ill take a look at your PR once you have done it because I get a bunch of these warnings for other valid values. Ill submit PR's for these values when I come across them.

[2020-06-29 12:33] inlet commented on #235
I've pushed a patch. It's now fixed in `v5.0.1`

[2020-06-29 12:33] #235 closed

[2020-07-01 22:05] ldd commented on #197
I'd also like to know how to handle this. I ended up using a ref:

[code]

Let me know if there's a better way

[2020-07-02 07:28] inlet commented on #197
Use `initialFrame`

[code]

[2020-07-02 19:32] ldd opened #236 "add custom PIXI.Application passed to Stage"
### Description
Currently, `Stage` creates its own PIXI.Application each time it is mounted. [react-pixi-fiber](https://github.com/michalochman/react-pixi-fiber) lets you pass a PIXI.Application as a parameter.

So my feature request would be to add that possibility

### Additional info

- `@inlet/react-pixi` version:  5.0.1
- `React` version: 16.13.1
- `ReactDOM` version: 16.13.1
- `PIXI` version

[2020-07-02 20:19] inlet commented on #236
👍 Feel free to create a PR, I’ll close this issue as nothing is broken

[2020-07-02 20:19] #236 closed

[2020-07-21 19:44] SukantPal opened #238 "Why force autoDensity = false on users?"
https://github.com/inlet/react-pixi/blob/c049ca6c52bcc765add26c88cf18eec0fca93aac/src/stage/index.js#L122

### Description

We need `autoDensity` to be true, so that calling `app.renderer.resize` works; without it, the renderer will not update the CSS dimensions of the canvas and it will be stuck at 800x600 display-size:

https://github.com/pixijs/pixi.js/blob/30f6033bf1b758c8ad7907bb57f7b8424aeba

[2020-07-21 19:45] SukantPal commented on #238
The fix would be to place `autoDensity: false` before expanding the options:

[code]

But, it is `false` by default anyway in PixiJS.

[2020-07-21 20:08] inlet commented on #238
The reason why the `autoDensity` is set to false is because the interaction manager needs to reset on resolution change.

[2020-07-21 20:10] inlet commented on #238
However I totally agree with you that `renderer.resize` should be responsible for changing the width and height including setting the css styles.

I’ll look into this asap. Thanks!

[2020-07-27 10:34] #238 closed

[2020-08-02 19:35] SukantPal opened #240 "Plugins API"
### Description

I was looking for a way to supply custom plugins for `PIXI.Application` and `PIXI.Renderer`. Do you think this will be a viable feature? I can create a PR for you if we settle the design of it.

I'm the main maintainer of [pixi-batch-renderer](https://github.com/pixijs/pixi-batch-renderer), [pixi-essentials](https://github.com/SukantPal/pixi-essentials), [pixi-ui](https://github.c

[2020-08-03 12:47] inlet commented on #240
Hi @SukantPal,

Thanks for reaching out and filing this feature request. I have zero experience with renderer/system plugins, but it seems quite powerful.

It might be a viable feature, but I'm not sure if it should be embedded in this project. It does come with a layer of complexity, which is something I try to prevent. What do you think? Or maybe as an add-on, you can easily tap into anything wi

[2020-08-03 14:01] stanecli opened #241 "Example code not working"
### Description
Hi, I just installed the library, hoping it would enhance my new game, only to find out that not even the examples are working.. It could be just a typins issue, but life is too short to figure out other coders' mindset, so please, if you could look at it with latest Create React App + react-pixi and mitigate the issues?

Thanks

### Steps to reproduce

1. `npx create-react-app tes

[2020-08-03 15:14] inlet commented on #241
Unfortunately I cannot reproduce this issue.

1. `npx create-react-app my-app --template typescript`
2. `yarn add pixi.js @inlet/react-pixi`
3. create a component `myComponent.tsx`:

[code]

No type errors occur, to verify it's working the typescript compiler doesn't complain either:

`npx tsc -p . --noEmit`

[2020-08-03 15:15] inlet commented on #241
Which examples do you refer to?

[2020-08-03 16:12] stanecli commented on #241
Thanks for the quick answer. I don't know what happened, but it started working eventually. I guess my IDE was trolling me again.

[2020-08-03 16:12] #241 closed

[2020-08-03 16:14] stanecli commented on #241
The library is great btw, I love it. Cheers!

[2020-08-06 11:54] Scipion opened #242 "Integration with react-redux"
### Description

Usual project structure with react-redux in it with a `<Provider>` component, is not propagating the store to the children components.
The index.js should looks like this:
[code]

Once exists a component connected as in `connect()(MyComponent)`, react-redux throws the error:
[code]
The root component is actually wrapped in a `Provider` but checking the stack trace I can see how th

[2020-08-06 11:56] inlet commented on #242
Duplicate #77

[2020-08-06 11:56] #242 closed

[2020-08-06 12:41] mikedreambooth opened #243 "Unable to set Sprite size when using image data URL"
### Description
When an image as a base 64 data url is passed to the Sprite the width and height props have no effect on the size of the sprite.

### Steps to reproduce

Load an image from a base64 data URL and the sprite remains the original size of the image even though the width and height is set differently.

`<Sprite image = {base64DataUrl} width = {100} height={100}/>`

I get a sprite at the

[2020-08-06 13:18] inlet commented on #243
Related to PIXI, see https://github.com/pixijs/pixi.js/issues/6229

[2020-08-06 13:18] #243 closed

[2020-08-06 13:30] mikedreambooth commented on #243
Hey @inlet . Thanks for replying. I saw that but didn't think it was related. The image loads from the URL just fine. It's just the width / height properties that don't seem to be getting applied.

[2020-08-06 13:34] inlet commented on #243
It’s related, width and height on an image url works as expected. Creating a texture from the base64 image solves this issue. See solution in the comments

[2020-08-09 15:32] SukantPal commented on #240
@inlet What are we thinking here?

[2020-08-10 13:22] inlet commented on #240
Would you be willing to create a PR for this? Thanks!

[2020-08-10 14:03] SukantPal commented on #240
Of course. I’ll work on this and see what I can do.

[2020-08-10 14:04] inlet commented on #240
Awesome! Thanks for collab on this

[2020-09-03 20:54] sanbornhilland commented on #173
The link is dead again. Funny enough I got here with interest into the same thing as @EloB so I'm curious if the `react-spring` integration got off the ground.

[2020-09-03 21:02] sanbornhilland opened #244 "Usage with React Spring"
### Description
I'm wondering if anyone has done any work on using `react-spring` with `react-pixi`. I've been really happy using `react-pixi` but I'm not looking to add some complex animations and leveraging `react-spring` would be very useful. It's been easy so far to use the old renderprops style from `react-spring` but there are a few reasons one might want to use the newer `react-spring` hook

[2020-09-06 13:12] inlet commented on #173
Hi @sanbornhilland the link listed on https://reactpixi.org/ should work

[2020-09-06 13:26] inlet commented on #244
Hi @sanbornhilland,

I haven’t create an integration for react spring yet, feel free to create a PR and we collab on it together.

I’m not familiar with the `react-spring` codebase either, let’s hope integrating this is straight forward.

[2020-09-14 22:04] sanbornhilland commented on #244
Okay. I just briefly started looking into it and surprisingly my initial quick attempt at copying threejs stuff didn't just work :p. I'm likely going to move slow on this because I'm juggling a number of competing concerns at the moment but if I make any progress on it I'll make a PR and would be happy to collaborate.

[2020-09-14 22:10] sanbornhilland commented on #244
BTW, @EloB I found [this thread](https://github.com/react-spring/react-spring/issues/901#issue-550315448) on the `react-spring` repo and I'm wondering if you got anywhere with the advice they provided, particularly on following the `konva` target: https://github.com/react-spring/react-spring/blob/v9/targets/konva/src/index.ts

It looks like we have similar aims so if you have started some of this

[2020-09-17 09:00] inlet commented on #244
I just created an integration for react-spring based on the konva target. Expecting to release it somewhere next week.

I think of exporting it as follow, what do you think @sanbornhilland:

[code]

[2020-09-17 13:40] sanbornhilland commented on #244
Wow, you turned that around quickly 👍

I think the second option you suggested would be better for two reasons.

1. It matches what `react-spring` does so it's familiar to users
1. It clearly separates the `animated.Sprite` from the existing `Sprite`. I think that's useful because you may be using both in the same context and so it's just easier to avoid name collisions if they're namespaced like

[2020-09-17 13:42] inlet commented on #244
Thanks! the second option it is :smile:

[2020-09-21 15:35] akryvasheyeu opened #245 "Dependency vulnerability: node-fetch Denial of Service"
### Description

Hi. fbjs depends on the old version of node-fetch (fbjs > isomorphic-fetch > node-fetch). Also fbjs looks dead and hasn't been updated for along time. I only found using `invariant` func from fbjs. Is it possible to move (or implement) this function to react-pixi repository and also remove fbjs dependency?

https://www.npmjs.com/advisories/1556

[2020-09-22 12:13] inlet commented on #245
Thanks, yes I'll fix this in #246

[2020-09-22 14:14] inlet commented on #244
PR 👉   #246

As `react-spring` impacts the import cost quite a bit (~25kb), I opted for:

[code]

It's not merged yet with master, thus available from `@latest`.. but you can try and play around with it by installing the npm dist-tag `react-spring`:

[code]

[2020-09-23 11:12] inlet commented on #240
I'll close this issue for now and reopen it once we work on a PR. Thanks!

[2020-09-23 11:12] #240 closed

[2020-09-23 11:14] inlet commented on #245
Fixed

[2020-09-23 11:14] #245 closed

[2020-09-23 11:15] inlet commented on #244
Fixed in #246

[2020-09-23 11:15] #244 closed

[2020-09-24 04:46] ajitid opened #247 "[Questions] Animation using react-spring"
### Description

I have few questions around using `react-pixi` with `react-spring` v9.

1. There are multiple packages of React Spring available, which one should I pick, `@react-spring/web`, `@react-spring/core` or `@react-spring/native`?
2. When used in TypeScript, it warns that spring props are not assignable to components of this library as property coming from spring has type `SpringValue<nu

[2020-09-24 08:10] inlet commented on #247
Hi @ajitid,

ReactPixi is web based, you'll need the web package. Just install `npm install react-spring@next` and you're set. See documentation: https://reactpixi.org/react-spring

Thanks for pointing out! I'll look into this, think I need the update the types for animated components :wink:

[2020-09-24 09:38] inlet commented on #247
I've pushed an update, types are fixed in `5.1.4`.

[2020-09-24 09:38] #247 closed

[2020-09-24 13:52] ajitid commented on #247
Uh oh, seems like types of components exported from `@inlet/react-pixi/animated` have got lost somehow. I can see props for `Stage` but not for rest of the components.

![Props' type of Sprite from animated package could not be inferred](https://user-images.githubusercontent.com/26769888/94154049-1b528400-fe9b-11ea-9bd2-ce10545a7d1e.png)

[2020-09-24 14:01] inlet commented on #247
Stage is one of the components that is not wrapped in `animated()`.

Have you installed `react-spring@next`? (currently `v9.0.0-rc.3`).

Here the typings are working correctly:

![image](https://user-images.githubusercontent.com/232559/94155282-0ec03280-fe7f-11ea-8372-23980e566f60.png)

Show type def for scale:

![image](https://user-images.githubusercontent.com/232559/94155350-239cc600-fe7f-11ea-

[2020-09-24 14:19] ajitid commented on #247
Thanks, it worked! I had to remove `@react-spring/web` from my dependency list and install `react-spring` instead.

[2020-09-29 00:33] zeyi1 opened #248 "How to pass a fragment shader to Container component?"
Say I have a fragment shader named fragShader, and I create a filter with

[code]

Is this the correct way to pass the filter?

[2020-09-29 07:15] inlet commented on #248
See https://pixijs.download/dev/docs/PIXI.DisplayObject.html#filters

Pass in an array:

[code]

[2020-09-29 07:15] #248 closed

[2020-10-01 01:44] zeyi1 commented on #248
Hello,
I have another question, how can I update a variable that is used in the shader with useTick? I am getting the following error: "Invariant Violation: No Context found with `PIXI.Application`. Make sure to wrap component with `AppProvider`".

`
const App = () => {
  const fragShader =
  `
    #ifdef GL_ES
    precision mediump float;
    #endif

    uniform float time;

    void main() {

[2020-10-02 18:58] Habberlabber opened #249 "Stage + Sprites are 2x on 4K monitor"
### Description

I just started using react-pixi after building a crude prototype in vanilla Pixi and stumbled upon some unexpected behaviour.
Thought I misconfigured something, but found the same behaviour on the demo page.

Whenever I start/reload my application (or the demo page) on my 4k monitor the stage and its contents is 2x the size that I defined. On my 1080 monitor it numbers are correct

[2020-10-02 19:06] Habberlabber commented on #249
And as soon as I posted I found the solution myself!
I simply needed to pass the resolution in the options prop...

`<Stage width={100} height={100} options={{ resolution: 1 }}></stage>`

Hope this end up helping other people! :)

[2020-10-02 19:06] #249 closed

[2020-10-02 21:59] AskAlice opened #250 "ResizeTo option always errors now, as react always returns `window` as an object"
### Description
https://github.com/inlet/react-pixi/blame/7b10107e73c16541712ba63f9ee6f88e6f179b73/src/stage/index.js#L72

This has been erroring since the commit on this line.

### Steps to reproduce

1. add resizeTo in your stage options
2. set resizeTo to `window`, `global.window`, `document.getElementById('root')`, or `document.getRootNode()`
3. watch as line 72 of stage/index.js is hit as it

[2020-10-03 20:43] ajitid commented on #250
Turns out [the condition](https://github.com/inlet/react-pixi/blame/7b10107e73c16541712ba63f9ee6f88e6f179b73/src/stage/index.js#L71) itself needs to be boolean opposite as `invariant` runs if condition is not met (is falsy).

So

[code]

needs to be

[code]

[2020-10-05 11:46] #250 closed

[2020-10-05 11:48] inlet commented on #250
Thanks @ajitid that was indeed the case. Just pushed an update.

Btw, make sure to add `{ autoDensity: true }` if you'd like to enable auto resolution.

[2020-10-05 11:51] inlet commented on #249
@Habberlabber Setting the resolution works, but you can always set `{ autoDensity: true }` to enable auto resolution, it even works when switching between high/low res monitors.

[2020-10-09 18:53] AskAlice commented on #126
Is there any way to do this without ejecting my create-react-app ? I'd rather not have to touch webpack directly. is there a way that pixi could depend on both and fill in as needed?

[2020-10-09 19:21] inlet commented on #126
Have you tried rewire? https://medium.com/deskera-engineering/creating-path-aliases-in-create-react-app-with-react-app-rewired-c2cde81b472

[2020-10-09 19:41] AskAlice commented on #126
I don't think rewire works for me as i use CRA 3.x

I tried rescripts but I can't seem to make a config that follows the structure of this comment https://github.com/inlet/react-pixi/issues/126#issuecomment-514184770

[2020-10-10 15:19] Xaaq commented on #250
Hi @inlet,

I want to report that in the newest release (that is `5.1.5`), when providing `options` prop to `Stage` without specifying `resizeTo` attibute it prints out warning in the console:
[code]

In release `5.1.4` it doesn't cause any warnings.

Sample code to reproduce the problem:
[code]

[2020-10-10 15:40] Xaaq opened #251 "Unmounting <Stage> prints warning"
### Description
When trying to conditionally render `<Stage>` component the first unmounting operation causes following warning to be printed in the console:
[code]

Mount operations do not cause any warnings - only unmounts do that. Warning only appears on the first unmount operation - subsequent unmounts don't print any warnings.

### Steps to reproduce
1. Add conditional rendering of `<Stage>`

[2020-10-10 18:09] AskAlice commented on #250
I think the prop validation is a bit overkill given it works when you specify it regardless of the warning

[2020-10-10 18:43] zelksnug commented on #250
Nah, having prop validation is fine. @inlet missed putting an early return for `undefined` case before calling `invariant`.

[code]

👆 It is [present for `view`](https://github.com/inlet/react-pixi/commit/8dab337696ea865d0a67ecd3a5ec1af6ed97b039#diff-ec7947dd9ccc887abc867073e32ae2a7R79) but not for `resizeTo`

[2020-10-11 09:56] inlet commented on #250
Thanks @zelksnug, I’ll create a patch with a fix soon

[2020-10-11 13:37] inlet commented on #250
I've just released a new patch `v5.1.6`. The prop `resizeTo` now only validates when set.

Thanks for contributing!

[2020-10-11 14:40] #251 closed

[2020-10-11 14:48] inlet commented on #251
Hi @Xaaq thanks for letting me know! I've just pushed an update and I'm happy to inform you that this is now fixed in `v5.1.7`. It turns out that `injectIntoDevTools` needs to be called just once and as you can see the devtools is now correctly in sync:

![ScreenFlow](https://user-images.githubusercontent.com/232559/95681685-975e0300-0be1-11eb-822a-0165b0c77193.gif)

[2020-10-11 14:53] Xaaq commented on #251
Thank you very much!

[2020-10-12 17:15] AskAlice commented on #126
@inlet is this something that you truly believe to rest on the hands of react-pixi's users? Do you think that it's possible that react-pixi could provide a native solution to this issue?

[2020-10-12 17:57] inlet commented on #126
@AskAlice if you have a rock solid solution for this I’m all ears 😉 feel free to collab on this

[2020-10-12 17:58] AskAlice commented on #126
I feel you on that, simply inquiring if you thought it was possible at that level

[2020-10-12 18:02] inlet commented on #126
However, maybe there’s a solution! We could create a legacy export as well:

[code]

What do you think?

[2020-10-13 05:32] AskAlice commented on #126
That sounds plausible, the only thing is I think it would make sense to have primitives for both types and then a component that joins them with a fallback to prevent unnecessary exceptions/passing the backwards-compatibility logic onto the user

[2020-10-13 05:39] inlet commented on #126
Can you please explain what you mean by having primitives and a component that joins them?

[2020-10-13 14:17] inlet commented on #126
You can now use canvas support without having to create aliases in your project. Thanks @AskAlice!

See [release v5.2.0](https://github.com/inlet/react-pixi/releases/tag/v5.2.0)

[2020-10-13 14:34] inlet commented on #126
That's exactly what pixi-legacy does, it tries WebGL first and and falls back to canvas.

Here's a codebox example:

https://codesandbox.io/s/pixi-legacy-f1ksf?file=/src/App.js

[2020-10-13 15:36] inlet commented on #126
Oh thanks so much! 🙏  you rock!

[2020-10-13 16:32] AskAlice commented on #126
I've noticed that the useTick hook doesn't work with this for some reason.

`No Context found with `PIXI.Application`. Make sure to wrap component with `AppProvider`

Perhaps the legacy stage component isn't exporting an app provider?

[2020-10-13 16:33] AskAlice commented on #126
![image](https://user-images.githubusercontent.com/1855905/95889359-8aefbc80-0d3f-11eb-81d0-e1eecf3b44e1.png)
appears to be at these lines if it helps

[2020-10-13 16:34] AskAlice commented on #126
I believe it to be here
https://github.com/inlet/react-pixi/blob/7b10107e73c16541712ba63f9ee6f88e6f179b73/src/hooks/useTick.js#L9

[2020-10-13 17:23] inlet commented on #126
I’ll look into this tomorrow

[2020-10-14 09:08] inlet commented on #126
@AskAlice I cannot reproduce this issue, see https://codesandbox.io/s/pixi-legacy-f1ksf?file=/src/App.js.

Can you isolate the problem, share your code through codesandbox or something?

[2020-10-14 09:39] AskAlice commented on #126
Ahh I've figured it out. It seems every react-pixi component needs to be imported with the `/legacy` suffix. Not just the canvas 😅

[2020-10-14 22:33] AskAlice commented on #126
This is so satisfying to see be semi-usable on a raspberry pi running chromium https://giant.gfycat.com/ParchedTeemingBison.webm

[2020-10-15 07:09] inlet commented on #126
Looking good @AskAlice!

[2020-10-22 03:44] focux opened #253 "Not working on React 17"
### Description
When I try to render any React Pixi component using React 17, I get the following error:
[code]

If I use React 16 then I don't get this error, that's why I know it's related to the new React's version.

### Steps to reproduce

1. Install and use React 17
2. Render any React Pixi Component

### Additional info

- `@inlet/react-pixi` version:  5.2.0
- `React` version: 17
- `ReactDOM

[2020-10-22 09:28] inlet commented on #253
Thanks for letting me know, we need to update the lib to make it compatible with the newest React version.
I'll look into this later today.

[2020-10-22 14:26] #253 closed

[2020-10-25 02:09] focux commented on #253
That was fast! Thank you so much for maintaining this library, I love it.

[2020-10-28 12:42] willmartian opened #255 "Not detecting WebGL in Firefox on Linux"
### Description

My browser (Firefox Developer Edition on Linux) supports WebGL, as per https://get.webgl.org/
However, when I run react-pixi I get the following error:

![image](https://user-images.githubusercontent.com/17113462/97437042-506a5000-18f9-11eb-8f8d-9e2f9b0a70c3.png)

### Additional info

- `@inlet/react-pixi` version: 6.0.0
- `React` version: 17.0.1
- `ReactDOM` version: 17.0.1
- `PI

[2020-10-28 12:48] willmartian opened #256 "TypeError: can't access property "current", container is undefined"
### Description

First time using this library, I am getting the attached error:

![image](https://user-images.githubusercontent.com/17113462/97437360-b9ea5e80-18f9-11eb-8619-3a30027a6666.png)

I am running the following react-pixi code in a create-react-app project:

[code]
### Additional info

- `@inlet/react-pixi` version: 6.0.0
- `React` version: 17.0.1
- `ReactDOM` version: 17.0.1
- `PIXI` ve

[2020-10-28 13:11] inlet commented on #255
I'll close this issue as this is not related to ReactPixi but PIXI itself.

Check if these examples work:
https://pixijs.io/examples
https://codepen.io/inlet/pen/PoNXZvZ

[2020-10-28 13:11] #255 closed

[2020-10-28 13:23] inlet commented on #256
Hi @willmartian,

Unfortunately I cannot reproduce this issue, here's a working CRA:
https://codesandbox.io/s/react-pixi-test-tdr13

It looks like you're using an older version of ReactPixi that is not compat with React 17, make sure you have `@inlet/react-pixi@v6+`

[2020-10-28 13:23] #256 closed

[2020-10-29 18:17] kennycrosby commented on #77
Any update on this? Running into this issue with React Context api.

[2020-10-30 21:04] femetrie opened #257 "willUnmount not called for PixiComponents that are children of a Container"
### Description

When unmounting a component tree, nested custom `PixiComponent`s don't have their `willUnmount` method called. This is critical for wrappers like pixi-viewport, which need to be destroyed explicitly or else they will leak event listeners that will crash on subsequent usage.

### Steps to reproduce

Run the code below and see that the "Never called" line is indeed, never called.

[

[2020-11-02 14:50] inlet commented on #257
Hi @femetrie,

Unfortunately I cannot replicate the issue.

I've created two examples to demo this:

**Using state:**
https://codesandbox.io/s/react-pixicustom-componentunmount-4l4nw?file=/src/App.js

**Using the unmountComponentAtNode as described above:**
https://codesandbox.io/s/react-pixicustom-componentunmount2-y2p3k?file=/src/index.js

Please note that you're using an older version of ReactP

[2020-11-02 14:50] #257 closed

[2020-11-02 15:10] femetrie commented on #257
@inlet thanks so much for making that demo, I should've done that. I was able to fork your demo and add a `<Container>` wrapper to produce the bug: https://codesandbox.io/s/react-pixicustom-componentunmount-forked-se8iy.

![2020-11-02 09 09 14](https://user-images.githubusercontent.com/8063225/97883950-1b8c3d80-1ceb-11eb-9ded-c9cba3d01d69.gif)

[2020-11-02 15:15] inlet commented on #257
you're welcome, no worries at all.

Ah I see, so whenever you wrap it in a container it doesn't trigger the unmount.. 🤔
I'll have to dig into that, thanks for pointing out

[2020-11-02 15:58] inlet commented on #257
Thanks so much for discovering this! It turns out we don't unmount native subcomponents, I'll will fix this!

[2020-11-02 16:39] inlet commented on #257
Hi @femetrie I've pushed an update with the fix 🙌

[2020-11-03 00:25] femetrie commented on #257
Amazing! Really appreciate the fix. _Loving_ react-pixi. I moved a large codebase to it and it's performing incredibly well.

[2020-11-06 14:13] spassvogel opened #259 "TypeError: Cannot read property 'alternate' of undefined"
## Description

Since updating to react-pixi 6.02 I'm getting an error with `fiber` being undefined:

<img width="777" alt="image" src="https://user-images.githubusercontent.com/985892/98375202-1b20d900-2042-11eb-9702-12ee632fa78d.png">

[code]

### Additional info

- `@inlet/react-pixi` version:  "^6.0.2"
- `React` version: "17.0.1"
- `ReactDOM` version: "16.13.1"
- `PIXI` version: "5.3.3"

[2020-11-06 14:16] inlet commented on #259
Update ReactDOM to v17 and the issue is gone ✨

[2020-11-06 14:16] #259 closed

[2020-11-06 19:21] spassvogel commented on #259
Indeed. Thanks! 👍

[2020-11-06 19:32] spassvogel opened #260 "useTick causes error on unmount"
Ever since updating to react-pixi 6 I'm seeing an error in the console  after unmounting a component that uses the `useTick` hook. It seems to implly that `app.ticker` is `null` somehow.

Could it be that PIXI application is torn down (at least partially) _before_ this useEffect cleanup inside useTick runs? Perhaps you can  suffice with `app.ticker?.remove(tick);`?

### Description
<img width="457

[2020-11-06 21:33] inlet commented on #260
Thanks Wouter, I’ll have a look at it monday morning 😉but it might indeed be possible that the PIXI.Application is destroyed. Are you running it in any framework? (CRA, Gatsby,Next,...)

[2020-11-06 23:24] spassvogel commented on #260
Yes using CRA. Again, I think it might be just a null check on `ticker`..

[2020-11-07 07:35] inlet commented on #260
Yes I believe you’re right! If you have time it would be great if you could create a PR with the fix 😁 else I’ll update it monday

[2020-11-10 22:17] AskAlice commented on #126
@inlet My package versions are identical, i've double checked with npm ls, etc, and I copied the src you put in that codesandbox example of the legacy code, but I've been getting this.

I can't replicate this on codesandbox, but I've got this happening consistently even when i delete my node_modules.

no pixi.js in dependencies

"@inlet/react-pixi": "~5.2.0",
    "pixi.js-legacy": "~5.3.3",
    "r

[2020-11-11 12:46] Adamfsk commented on #126
`npm ls pixi.js

-- pixi.js-legacy@5.3.3
-- pixi.js@5.3.3`

You probably shouldn't be importing pixi.js AND pixi.js-legacy - they both declare the same classes to the global namespace (assuming you are not using ES modules), and with how they are ordered alphabetically what will import first is pixi.js-legacy, which will then be overwritten by the WebGL-only pixi.js classes.

Remove pixi.js (npm u

[2020-11-11 13:08] inlet commented on #126
@Adamfsk is right, if you target for canvas make sure to import the legacy only

[2020-11-11 13:10] jdim opened #262 "Subscription on instance events in didMount"
Hello, first thanks a lot for creating this awesome library.

### Description
I use `pixi-viewport` and want to be able to view the current zoom value and reset it.
So I try to implement `onZoomChange` prop for component created with PixiComponent, but how call this handler?
[code]
To reset the zoom value I plan to use `applyProps` with the new zoom prop. Is it the right way?

[2020-11-11 14:48] inlet commented on #262
Hi @jdim

You're welcome!

See https://github.com/inlet/react-pixi#custom-components, in order to handle prop updates you'll need to use the `applyProps`, example:

[code]

[2020-11-11 14:48] #262 closed

[2020-11-11 14:49] inlet commented on #262
btw, you can ask these kind of questions in our Slack channel and leave Github issues for bug issues and features. Thanks!

[2020-11-11 18:19] AskAlice commented on #126
pixi.js is a dependency of pixi.js-legacy, so i believe that is impossible to actually uninstall.
pixi.js hasn't been in my package.json since react-pixi 5.2.0 came out.
[code]
[code]
[code]
and in my browser still
[code]

[2020-11-11 18:44] inlet commented on #126
Can you reproduce the issue on codesandbox? Remove the package/yarn .lock file and try re-installing them?

As you can see, the only diff with legacy is that we alias pixi to pixi-legacy, see https://github.com/inlet/react-pixi/blob/master/rollup.config.js#L83

[2020-11-12 05:12] AdrienLemaire opened #263 "Differences with react-pixi-fiber"
I'm currently evaluating what game engine to integrate with my react application, and pixijs looks like a great option.

But I'm unclear as to how react-pixi and [react-pixi-fiber](https://github.com/michalochman/react-pixi-fiber) from @michalochman differ, other than react-pixi being the first to support React 17.

Can someone highlight the pros and cons of both libraries ?

[2020-11-12 06:25] inlet commented on #263
Hi @AdrienLemaire,

There are a bunch on react pixi renderers out there, they all serve one purpose which is render pixi apps the React way.

I’ll close this issue, we have a Slack channel where we can continue these kind of conversations. Let’s use Github issues for bug/feature reports. Thanks!

[2020-11-12 06:25] #263 closed

[2020-11-12 10:44] #260 closed

[2020-11-12 11:29] JohannesKlauss opened #264 "6.0.3 crashes yarn install"
### Description
Updating to 6.0.3 crashes the yarn postinstall step.

### Steps to reproduce

1. use 6.0.3
2. Run yarn install

Error:

[code]

### Additional info

- `@inlet/react-pixi` version:  6.0.3
- `yarn` version: 1.22.4
- `OS`: macOS: 10.15.7

[2020-11-12 11:33] inlet commented on #264
Oop forgot to add the `postinstall.js` to npm files.. just a sec

[2020-11-12 11:35] inlet commented on #264
Fix is on its way 😉

[2020-11-12 11:54] kafinsalim opened #265 "Uncaught TypeError: Cannot read property 'alternate' of undefined"
### Description

Hi!, thanks for making this library.
I have an exact same error like in this example https://codesandbox.io/s/react-pixi-nightowllogic-forked-sz4fx?file=/package.json, which I got from the example here https://codesandbox.io/examples/package/@inlet/react-pixi. At first the example repo also has some error nothing works then I updated react-pixi + another dependencies to latest. No

[2020-11-12 12:02] inlet commented on #265
You'll need to upgrade to React 17 :wink:

[2020-11-12 12:02] #265 closed

[2020-11-12 12:08] inlet commented on #264
Done!

[2020-11-12 12:08] #264 closed

[2020-11-13 06:00] AdrienLemaire opened #266 "resource hooks"
Creating hooks to load resources could reduce the amount of code needed.

Here's an example `useResources` I made while following [the LearningPixi tutorial](https://github.com/kittykatattack/learningPixi#creating-sprites-from-a-loaded-texture-atlas)

[code]

Still learning the basics of Pixi, but I assume we could also have `useSpritesheet` and `useTexture`.

While looking at [your flying plane e

[2020-11-13 07:34] inlet commented on #266
Yes hooks are amazing! However no need to implement this in react-pixi as these are decorative hooks.

Anyway thanks for sharing!

[2020-11-13 07:34] #266 closed

[2020-11-13 08:12] inlet commented on #266
I've added this to the React Pixi codepen collection: https://codepen.io/inlet/pen/wvWRLGL

Thanks!

[2020-11-17 08:39] AdrienLemaire opened #267 "Support pixi-tiled"
# Description
I need to load [Tiled](https://www.mapeditor.org/) maps in my application, and found that [pixi-tiled](https://github.com/eXponenta/pixi-tiled) supports Pixi.js v5.

Unfortunately, it doesn't seem to work. [Reading the code](https://github.com/eXponenta/pixi-tiled/blob/f1e02e549cba4009ee3b5afebf9ef61443c63b85/src/index.ts#L29), I tried the following:

[code]

Error:
![](https://i.img

[2020-11-17 13:34] inlet commented on #267
[code]

`useApp` does not exist in `pixi.js` but in this lib `@inlet/react-pixi` :wink:

[2020-11-17 13:34] #267 closed

[2020-11-18 00:07] AdrienLemaire commented on #267
@inlet fixed the example, this was a typo obviously, else it would have thrown a different error). You are really quick to close issues.
Pixiv5-tiled works fine with Pixi.js v5, not with `@inlet/react-pixi`, and I do not have the skills to fix your repository code atm...

[2020-11-18 06:59] inlet commented on #267
It would be helpful if you could create a sample on codesandbox/codepen to pinpoint the issue. This would save me time.

Thanks in advance!

[2020-11-20 12:30] AdrienLemaire commented on #240
I'm seeing a `@pixi-essentials/react-bindings` package.  @SukantPal Does that mean that you did the integration from your library ?

[2020-11-20 15:18] SukantPal commented on #240
@AdrienLemaire I did not actually. That package just contains a &lt;Transformer /&gt; component for the @pixi-essentials/transformer package.

[2020-11-22 11:43] ratinac-nikola opened #268 "Cannot run getting started example when creating project with create-react-app"
### Description
Using react-pixi out of the box with create-react-app doesn't work. I was following the guide of getting started with [react-pixi](https://reactpixi.org/). Installed the react-pixi package and modified the `App.js` to look like the one in the **Usage** section of the getting started guide and I am getting 2 errors when I run the dev server:

1. Error: WebGL unsupported in this brow

[2020-11-22 12:34] inlet commented on #268
Here's a working codesandbox example: https://codesandbox.io/s/cra-react-pixi-0r43d?file=/src/App.js

Make sure to include `pixi.js` to your dependency.

[2020-11-22 12:34] #268 closed

[2020-12-04 22:32] iggyZiggy commented on #268
![image](https://user-images.githubusercontent.com/4414394/101221554-33f3cd00-3688-11eb-8680-88ce415d9663.png)

not really a working example on codesandbox. I'm also having this same issue locally

[2020-12-04 23:31] mtwzim opened #269 "mouseover + mouseout with setState with problems"
### Description

Hello guys, I have a react application that uses the Graphics component, together with the events: mouseover and mouseout, and also the setState on them, however this causes several calls on it, how can I do this correctly?

### Steps to reproduce

1. Create a react app
2. Add Graphics with mouseover and mouseout, and inside of this setState

### Prints
![image](https://user-image