[2020-12-04 23:34] inlet commented on #268
@iggyZiggy can you create a codesandbox demo? It should work

[2020-12-04 23:36] inlet commented on #269
Simply memoize the callbacks will solve it

[2020-12-04 23:36] #269 closed

[2020-12-05 00:06] mtwzim commented on #269
You can give-me a example?

[2020-12-05 10:14] iggyZiggy commented on #268
it's copy pasted code from the main site, under https://reactpixi.org/pixi-legacy
i have deleted pixi.js and installed pixi.js-legacy as well but it doesn't work, every example throws that error too

[2020-12-05 10:16] inlet commented on #268
https://codesandbox.io/embed/pixi-legacy-f1ksf?codemirror=1

[2020-12-05 11:51] iggyZiggy commented on #268
i'm giving up, i'll just use canvas directly, this is a nightmare.

For some reason, it works on that last link, but when i copy it locally, each file exactly like in the example, make sure package versions are the same, it doesn't. Tried creating new react app, tried in the old one and nothing.

[2020-12-05 12:03] inlet commented on #268
@iggyZiggy Sorry to hear that, would love to help you but unfortunately I cannot reproduce the issue.

Thanks!

[2020-12-07 13:53] inlet commented on #269
https://codepen.io/inlet/pen/5dda7fcdb4a9c1650766fd1d9a4a7ad5

And good to know is that you can manually change the way the interaction manager handle pointer events, see https://pixijs.download/dev/docs/PIXI.InteractionManager.html#moveWhenInside

[2020-12-07 15:14] mtwzim commented on #269
Thank's for you response, anyway, on the weekend i got it using the **useReducer** hook, so my problems has ended.😀
And... sorry for not update this issue.

[2020-12-07 15:16] inlet commented on #269
no worries, glad you've worked something out!

[2020-12-14 20:19] achuinard opened #270 "Spritesheet usage unclear"
I am somewhat new to Pixi so apologies if this is a basic question, but I am unsure what the best way to include spritesheets. It'd be awesome if the `<Stage>` component took a `spritesheets` prop (i.e. ['assets/spritesheet1.json', 'assets/spritesheet2.json'] and then all of those textures were immediately available for use. Right now, it seems I have to do some work in onMount and onUnmount, then

[2020-12-17 10:30] inlet commented on #270
Hi Anthony,

Textures is a topic on its own, they can be interchanged to multiple components, cached, reused and preloaded in multiple ways. For this reason it isn't implemented in this lib as it cannot be used in a standardized React way (load, unload/cleanup in reconciliation).

Anyways, it's quite easy to create a spritesheet loader that fit your needs, here are examples:

https://codepen.io/in

[2020-12-17 10:30] #270 closed

[2020-12-18 21:47] potdemort opened #271 "Auto density issue"
Hello! First of all, thanks for you great library!  Amazing work 👏
### Description
Decided to update to the latest version of the library and got an unexpected behaviour after that.
Starting from [v5.0.2](https://github.com/inlet/react-pixi/releases/tag/v5.0.2) my app became zoomed a lot. I assume there are some troubles with resolution.

According to your release note I assumed that I should be a

[2020-12-21 13:43] inlet commented on #271
Hi @potdemort,

You're absolutely welcome! 😉

We've done quite some improvements on handling the resolution, have you tried `v6.0.6` (LTS) perhaps?

Btw, it's totally fine to use a custom app and assign it to the `AppProvider` (like in your example), but we've added some fixes in the `Stage` component that handles resolution changes better:

**Auto update resolution based on media query**

https:/

[2020-12-21 13:43] #271 closed

[2020-12-22 07:18] AdrienLemaire commented on #205
@spassvogel can you share your typescript example?
I'm also struggling with that

  Type 'MutableRefObject<undefined>' is not assignable to type 'RefObject<Sprite>'.
    Types of property 'current' are incompatible.
      Type 'undefined' is not assignable to type 'Sprite | null'.

[2020-12-22 10:25] spassvogel commented on #205
[code]

[2020-12-22 18:38] potdemort commented on #271
Hey @inlet,

Actually, I'm using the `<Stage/>` component, it is located in my `<Viewport/>`. Sorry for missing that.

It turned out my assumption was correct, my app configuration is ignored somehow. So I just cleared it and managed to fix the issue by supplying `autoDensity: true` to my `<Stage/>` component. Here is my stage configuration:
[code]
BTW I've also installed `v6.0.6` (LTS) as you pro

[2020-12-26 11:37] ash-r1 opened #272 "Sprite never re-render after its texture has loaded"
### Description

When I add a `Sprite` with a large-sized image by user-interaction, it never shows the image.
Because it has no-image (black) before rendering, and it never re-render after `app.loader` load the texture.

I think it's nice if it's automatically managed by react-pixi.

### Steps to reproduce

Clone & run this repo: https://github.com/ash-r1/react-pixi-repesesent-issue

### Addition

[2020-12-26 14:03] inlet commented on #272
Hi @ash-r1

It would be easier for me if you could create a codesandbox example :wink:

Because it has no-image (black) before rendering, and it never re-render after app.loader load the texture.

Changing the image prop should render it with the new image texture.

True, this is a limitation of PIXI's shared loader, best practise is to create a new loader.

Thanks!

[2020-12-27 01:37] ash-r1 commented on #272
Hi @inlet

okay, I made a codesandbox one.
https://codepen.io/ash-r1/pen/MWjOzRM

btw, I mention the `Sprite` component now, but the `Text` component also has a problem.
It should show "Showing" after you clicked, but it disappears.

[2020-12-27 10:50] inlet commented on #272
Just had a look at your code, and I see what's causing the issue.

Although you can set a width and height on a `<Container>` it is not recommended as the content in it will stretch.. the children get rendered first thats why this artifact will only appear after a second render.

Remove the width and height from the Container will solve it.

[2020-12-27 10:50] #272 closed

[2020-12-27 10:52] inlet commented on #272
And for Sprite, replace your code with this and it will work as well:

[code]

[2020-12-30 05:31] ash-r1 commented on #272
Thanks a lot.
By removing height/width from `<Container>`, it works well.

[2021-01-07 14:58] toreal opened #274 "useTick use too many resource"
### Description

I try to make an animation as following. But it will use too many memory resources to make Chrome crashed.
[https://youtu.be/73x6a7oOU98](https://youtu.be/73x6a7oOU98)

[](url)

### Steps to reproduce

[code]

### Additional info

- `@inlet/react-pixi` version: 6.0.6
- `React` version: 17.0.1
- `ReactDOM` version: 17.0.1
- `PIXI` version: 5.3.7

[2021-01-07 15:12] inlet commented on #274
Can you please share a codepen/codesandbox example with this so I can have a look at it.

`useTick` uses PIXI's shared ticker, nothing fancy here. I don't know what your `DOTDATA` looks like, but keep in mind that iterating over each point in a game loop might be expensive. At least that is something I'd look first in order to pinpoint the issue.

I'll close this issue for now as I'm most certain

[2021-01-07 15:12] #274 closed

[2021-01-08 08:29] toreal commented on #274
Thank you for your quick reply.
I have implemented a sample in codepen.
Please take a look.
I am not sure what happened, But I saw a lot of _tick in the call stack.
Could you kindly point me a direction on how to solve this problem?
Thanks.
[image of call stack ](https://www.flickr.com/photos/191693082@N04/50813142391/in/shares-3J7yP8/)

[codepen sample](https://codepen.io/toreal/pen/vYXrqGr)

[2021-01-08 12:17] inlet commented on #274
Although I haven't got much time to dig into your code, I forked it and changed the code a little so it doesn't crash. Now we're updating xy all together in a single call and within a setState callback.

The animation runs but it contains some js errors as you can see in the console.

Hopefully this helps you!

https://codepen.io/inlet/pen/c1a178549e1a24da5bc1a92ab03dc314?editors=1010

[2021-01-08 13:43] toreal commented on #274
Thank you for your time to dig into my code.  However, since the js error, the code did not run to the crash point. I already correct the js error and the code still crashed as before.

[https://codepen.io/toreal/pen/vYXrqGr](https://codepen.io/toreal/pen/vYXrqGr)

[2021-01-08 14:17] inlet commented on #274
Sure, you're welcome!

You're right I think I forgot to implement some if-statements from continuing the animation. However, the execution of the code in `useTick` is responsible for crashing the app. Maybe referring to pointers that are not there?

Just to demo that useTick works as expected, I created a little physics demo (to help someone out on Slack):

https://codepen.io/inlet/pen/da2813628e1

[2021-01-08 14:57] toreal commented on #274
When I use Safari, sometimes it has the chance to finish the animation.  Meanwhile, it will display a lot of memory being used by this program.  Thus, it may not be the null pointer case. I think "useTick" works fine, but the function is fired at a fixed rendering rate. Thus, if we work on many things in this function that will make the system has a lot of unfinished jobs waiting in the queue to c

[2021-01-08 15:28] inlet commented on #274
The PIXI.Ticker uses requestAnimationFrame and waits for the browser to render

Performance-wise it's always good to keep the logic in the game loop as "cheap" as possible.

Given the fact that it does run correctly in the first sequence, try to find and debug why it crashes the remaining part of the animation.

[2021-01-08 16:01] toreal commented on #274
Thank you for being such an inspiration. I will continue to keep trying.

[2021-01-08 16:19] inlet commented on #274
Thanks and you're most welcome :wink:

Good luck!

[2021-01-14 21:25] WestonN opened #275 "Any issue with mounting a component with a stage and unmounting repeatedly?"
## Issue

**Disclaimer**
This isn't an issue so much as it is me looking for information having not found it much elsewhere.

**Description:**
I'm using react pixi for a project I'm working on and I was curious if there is any performance issues with mounting and unmounting a pixi stage on and off.

**Reason for questioning:**
I also use spine in my project and have had issues with spine's webgl i

[2021-01-19 21:59] JosephClay opened #276 "could not resolve dependency: react-spring"
### Description

Running an npm install results in an error resolving the peer dep `react-spring`:

[code]
peerDependencies list react-spring version "9.x" which doesn't have a target in npm: https://www.npmjs.com/package/react-spring

### Steps to reproduce

1. Run: `npm install pixi.js @inlet/react-pixi`

### Additional info

- `@inlet/react-pixi` version: 6.0.7
- `React` version: n/a
- `ReactDO

[2021-01-20 12:34] inlet commented on #276
Hi @JosephClay

Thanks! I just pushed an update (`v6.09`) where I stripped out the logs as the log statements are a bit confusing.
You can safely ignore any `WARN` message as `react-spring` is an optional peer dependency.

![image](https://user-images.githubusercontent.com/232559/105175380-1d181580-5b24-11eb-9fd1-7a1a1ea8a514.png)

[2021-01-20 12:34] #276 closed

[2021-01-20 15:55] JosephClay commented on #276
Thank you @inlet

I've narrowed the issue to [`npm@7.x` handling of peerDependencies](https://blog.npmjs.org/post/626173315965468672/npm-v7-series-beta-release-and-semver-major)

The install works using `npm i --legacy-peer-deps pixi.js @inlet/react-pixi`, but continues to break with the same error without the legacy flag

[2021-01-20 16:01] inlet commented on #276
I'm not using npm@7 at the moment, maybe that's causing the issue. The latest version of npm, at time of writing, is `6.14.11`.   Good to know that a future release of npm might break this behaviour. Thanks for letting me know and if you find a solution please let me know.

Thanks!

[2021-02-08 01:02] AdrienLemaire opened #277 "Release notes"
Please add release notes when releasing a new version, this would be very appreciated to understand what has changed.

![](https://i.imgur.com/OQawQXn.png)

[2021-02-08 06:12] inlet commented on #277
Hi @AdrienLemaire ,

Normally I do create release notes, but for these patch releases I decide to skip them because they are small bug fixes.

[2021-02-08 06:12] #277 closed

[2021-02-10 16:49] eai04191 opened #278 "Stage types are lost when using TypeScript and Dynamic Import in Next.js."
First of all, thank you for maintaining this amazing library!

### Description

No problem when importing as usual.

![image](https://user-images.githubusercontent.com/3516343/107541398-6ed72b80-6c0a-11eb-9253-166f081a5af2.png)

In Next.js, needs to use Dynamic Import to prevent SSR.
Doing so will result in a Stage type loss and a type error.

![image](https://user-images.githubusercontent.com/351

[2021-02-11 15:00] inlet commented on #278
Thanks @eai04191

The problem is that next's `dynamic` import doesn't preserve typings. What you could do is wrap it in a separate component, here's an example: https://codesandbox.io/s/next-js-react-pixi-jcmt1

[2021-02-11 15:00] #278 closed

[2021-02-28 22:32] Ultre00 opened #281 "Context not accessible inside Stage"
I am trying to access a context where my game data will be stored. However this context is not accessible from children wrapped inside the ```Stage``` Component.

Setup:
[code]
Console log works fine here:
[code]

But this doesn't work:
[code]
Also I have never used PixiJS before and this is a first of using React in combination with TypeScript. If it is not possible to store game data with a cont

[2021-03-01 12:15] inlet commented on #281
Duplicate #77

Unfortunately customer reconcilers cannot access its parent Context. This is a well known React issue, however you can bypass this with a simple Context Bridge component like this:

[code]

[2021-03-01 12:15] #281 closed

[2021-03-07 20:09] svendrendall opened #282 "Incorrect types"
### Description
Hello! 👋
I'm unable to migrate to the PIXI v6 probably because of the incorrect library types. I get the following error for the most of components:

  Property 'any property' is incompatible with index signature.
    Type 'any type' is not assignable to type '((event: InteractionEvent) => void) | undefined'.

The error happens as soon as you add at least one property to a componen

[2021-03-07 21:48] inlet commented on #282
Yes I’m aware of this, I’ll update the types once I have the time (probably early this week). Please feel free to create a PR with the updated types, thanks!

[2021-03-08 10:00] inlet commented on #282
Fixed in `v6.2.1`

[2021-03-08 10:00] #282 closed

[2021-03-16 20:14] adsko opened #283 "disabled raf and optimizations"
### Description
Hi, I've analysed an issues with a performance when a raf is disabled. Based on react-pixi code, when any component has changed, there is dispatched: '__REACT_PIXI_REQUEST_RENDER__' and there is a listener which calls render on an app.

This method generates a large perfomance issue. I've written simple react component:

[code]
Which calls render on PIXI ticker, if any component ha

[2021-03-18 12:13] Heilemann opened #285 "react-spring@9.x dependency isn't released yet"
<img width="570" alt="CleanShot 2021-03-18 at 08 13 24@2x" src="https://user-images.githubusercontent.com/203049/111624260-d5c7a180-87c1-11eb-89b9-d2189b7fdb05.png">

[2021-03-18 15:52] inlet commented on #285
Just update an update, should fix this. Can you please let me know how it goes. Thanks!

[2021-03-18 15:52] #285 closed

[2021-03-19 17:11] inlet commented on #283
Hi @adsko,

Firstly, in general the `__REACT_PIXI_REQUEST_RENDER__` event is only used internally and you shouldn't have to listen to it, unless you know what you're doing and want to have full control of reconciliation updates.

Secondly, the `renderOnComponentUpdate` does not exist, I think you mean `renderOnComponentChange`?

So when does the `__REACT_PIXI_REQUEST_RENDER__` event gets triggered

[2021-03-19 17:11] #283 closed

[2021-03-19 17:57] Heilemann commented on #204
@spassvogel Can you show what your usage of this implementation looks like? I'm trying to get it running but so far it renders, but there's no interaction on the viewport as far as I can tell.

[2021-03-19 19:57] adsko commented on #283
@inlet
I still think that disabled raf generates performance issues.

Check out this code:

[code]

I've changed your example, and I've added an external event hub (like redux, rxjs Subject, etc).
Every click on the square generates 10x reconcilation updates. Without REACT_PIXI_REQUEST_RENDER and enabled renderOnComponentChange, it calls 10x render for every click!

So, I think raf={false} should

[2021-03-19 21:00] inlet commented on #283
Maybe I’m not seeing the picture here, but the fact that it’s rendering multiple times has nothing to do with ReactPixi or disabling raf. It’s just the way you use React. Can you please elaborate why you think it has performance issues? Thanks

[2021-03-19 21:22] adsko commented on #283
@inlet I've preprared second one example based on your example (change only JS to run it):

(See that i've removed render on update event, enabled renderOnComponentChange and I've added global event hub)
[code]

When you check browser console. you'll see log when Renderer.prototype.render is called, and time (in ms) since last render.

See that every click on the box calls render function 10 times

[2021-03-19 22:16] inlet commented on #283
So the performance issue only arise when setting the `renderOnComponent` to `true` right? Right now every commit request renders via a raf. I can see how I can integrate the debounce into the Stage component. That might solve the issue. What do you think?

[2021-03-19 22:46] adsko commented on #283
@inlet Yes, combination `raf `to `false `and `renderOnComponentChange `to `true `generates that problem. I'm not sure if `debounce `(which works on `setTimeout`) will be better than local PIXI ticker. With the ticker, solution will look like:

[code]
In my opinion the ticker is not heavy for CPU itself, but I leave a decision to you.

In addition, it would be greate to have possibility to handle i

[2021-03-20 14:50] inlet commented on #283
Adding a listener for ticker to render the  stage looks like a good solution indeed..

will push it later today, thanks for collab!

[2021-03-20 15:16] Heilemann commented on #143
@wms @inlet @gespispace In this setup—which I've copied and gotten to work—how do I run methods on the viewport?

[2021-03-20 15:51] inlet commented on #283
Yes I've pushed an update, this is now fixed 🙌

Thanks for contributing!

If I now tap into the render and benchmark the performance:

[code]

you can see that the render call is optimized:

![ScreenFlow](https://user-images.githubusercontent.com/232559/111875911-72de3200-899c-11eb-8cb9-68c3104f9118.gif)

[2021-03-20 20:32] mrbjjackson opened #286 "npm warnings and errors trying to install react-pixi 6.3.0"
### Description
Hi,
I'm trying to install React Pixi on my Gatsby.js project. I am using the latest version of Gatsby.

I've just tried to `run npm i @inlet/react-pixi` and I'm getting the following in my terminal (see below).

It's the first time I've seen this kind of error and I'm not quite sure what it all means.

Please can you advise me on what to do?

Thanks very much.
Ben

[code]

### Step

[2021-03-20 20:43] inlet commented on #286
Sorry to hear that @mrbjjackson.

I guess this has something to do with the DNS lookup? Your console tells it cannot resolve modules, are you connected to the internet and/or are you on a different npm registry or behind a NAT proxy/firewall?

I don’t believe this is related to this lib, so I’ll close this issue.

[2021-03-20 20:43] #286 closed

[2021-03-20 20:45] inlet commented on #286
Related https://stackoverflow.com/questions/64573177/unable-to-resolve-dependency-tree-error-when-installing-npm-packages

[2021-03-20 20:47] inlet commented on #286
You could remove your lock file (package or yarn), optionally remove the node_modules folder and try reinstalling the packages `npm install`

[2021-03-20 23:11] mrbjjackson commented on #286
Hi @inlet Thanks for getting back to me so quickly. I'm definitely connected to the internet etc. All other modules are installing just fine. I tried removing the node_modules and package lock file and reinstalling and I'm still getting the same error.
I have tried using the --force tag and it seems to be working so far (it hasn't broken my site). Fingers crossed the react-pixi stuff works as it s

[2021-03-20 23:18] inlet commented on #286
You’re welcome!

I haven’t seen anyone filing an issue about this before and I’ve up grades the package in multiple projects without any issues (although I’m using Yarn) 😉

[2021-03-21 02:13] mrbjjackson opened #287 "self is not defined (using react-pixi in a Gatsby project - possible SSR bug)"
### Description
Hi @inlet . It's me again sorry to post twice in quick succession.

I've installed react-pixi (using --force as we discussed). However now, when I run gatsby develop I get an error (see below).

I think this error is caused by server-side rendering (i.e. something to do with there not being a window object). Do you think this is the case? I don't suppose you can you suggest a work

[2021-03-21 09:02] inlet commented on #287
Duplicate #233

[2021-03-21 09:02] #287 closed

[2021-03-21 09:03] inlet commented on #287
https://www.gatsbyjs.com/docs/using-client-side-only-packages/

[2021-03-21 09:52] sangdth opened #288 "Can not re-export directly from react-pixi"
### Description
Re-export directly from `react-pixi` get error from vite.

### Steps to reproduce

1. Clone this project `gh repo clone sangdth/test-re-export`, run `yarn dev`
2. You will see `The requested module '/node_modules/.vite/@inlet_react-pixi.js?v=2a73f26b' does not provide an export named 'Container'` (Which does not happens with other lib like `@rmwc/button`, tested)

### Additional in

[2021-03-21 10:53] inlet commented on #288
That’s because pixi.js is a peer dependency

[2021-03-21 10:53] #288 closed

[2021-03-21 10:55] inlet commented on #288
Please let me know if this problem persist and please make a PR with a fix 😉

[2021-03-21 12:48] sangdth commented on #288
Thanks, I've tried to `yarn build` and the problem is still there. But I checked and saw the `react-pixi` actually had the const export with named `Container`, so I think this is the problem with `vite`.

[2021-03-21 12:53] inlet commented on #288
And why would that be a problem?

[2021-03-21 16:59] inlet commented on #287
Thanks for the donation 🙏 you rock!

[2021-03-22 07:28] sangdth commented on #288
Honestly I don't know :D

This is caused problem:
[code]

But this one WORKS FINE:
[code]

:D

[2021-03-22 08:02] sangdth commented on #288
@inlet , may I ask, do I need to have `react-spring` in dependencies?

[2021-03-22 08:39] inlet commented on #288
Not sure why, but if the latter works stick with that right?

It’s a peer dependency, so only include it if you’re using react-spring

[2021-03-22 20:52] sangdth commented on #288
Thanks for your time. Big kudos to your library btw. <3

[2021-03-26 02:08] AdrienLemaire opened #289 "How can we extend the type of app.loader ?"
### Description

`app.loader.resources[0].metadata` has type **IResourceMetadata**
[code]
I'm using that `imageMetadata` key to store project-related informations
[code]

And I'd like my loader resources to be typed with ProjectResource out of the box.
[code]

Right now, I have to cast the type everytime I use useApp, as follow:
[code]

Do you have any suggestion to get the types set correctly ?
C

[2021-03-26 08:36] inlet commented on #289
Hi @AdrienLemaire,

I’ve been playing with this as well.

But if we have a more thorough look at metadata we can say that it’s related to a specific resource.. (not to all) but at level we don’t know what resources are available to us and potentially different resources could have different metadata set to it.

If it was intended to type resource meta I believe the types of `PIXI.Application` woul

[2021-03-26 08:36] #289 closed

[2021-03-30 09:20] AdrienLemaire opened #290 "AnimatedSprite should support FrameObject[]"
Error received
[code]

Documentation: https://pixijs.download/dev/docs/PIXI.AnimatedSprite.html#constructor

An AnimatedSprite can accept either a list of Texture of a list of [FrameObject](https://pixijs.download/dev/docs/PIXI.AnimatedSprite.html#FrameObject)

Please remove the invariant error when calling `<AnimatedSprite textures={frameObjectList} />`
Thanks!

[2021-03-30 13:39] inlet commented on #290
Good point! I'll update the invariant check

[2021-03-30 15:22] #290 closed

[2021-03-30 15:24] inlet commented on #290
Fixed, strangely `PIXI.AnimatedSprite.FrameObject` does not exist.. so instead I check for the owner properties to be valid

[2021-03-31 01:01] AdrienLemaire commented on #290
Thank you !

[2021-04-08 09:16] AdrienLemaire opened #291 "react-pixi breaks with react concurrent"
### Description
With react concurrent (0.0.0-experimental-172e89b4b built from v17.0.2), I'm getting the following error whenever I go to a page using react-pixi in components with effects

This is the same error as in #56.

### More context
Related to [this slack discussion](https://app.slack.com/client/TRTCSS69L/CRT2JTG3Z).
I have a component that needs 2 seconds to render 20 thousand children (

[2021-04-08 15:01] inlet commented on #291
This is an expected behaviour. react-pixi uses fb's `react-reconciler@latest`.
Once the react concurrent version (0.0.0-exp...) will be merged into the stable (latest) release, I can update this lib accordingly.

I'll close this issue for now. If you like you can create a PR where you use the experimental `react-reconciler@0.0.0-172e89b4b` and implement the concurrent details for react-pixi.

[2021-04-08 15:01] #291 closed

[2021-04-16 12:36] ashlite opened #293 "Integrating React-pixi with Meteor-React"
So I build a meteor-react app for a simple game and add react-pixi to it. React-pixi v6.5.0, react v17, pixi v6, meteorjs.
I tried following the documentation, and try with the simple stage component. Then I get this error
![image](https://user-images.githubusercontent.com/78148802/115024667-98525300-9eea-11eb-8b8c-e1c9fcf283bb.png)
There is no other react-pixi component I use for now because I ca

[2021-04-16 12:39] inlet commented on #293
Hi @ashlite could you create a codesandbox example?

[2021-04-16 12:58] ashlite commented on #293
I don't have codesandbox for now.
You can easily duplicate this by creating meteor-react project base on this doc https://react-tutorial.meteor.com/simple-todos/01-creating-app.html

then just change the App.jsx in imports/ui
[code]

Try it using fresh install meteor js + react-pixi + pixi.js

[2021-04-16 13:38] inlet commented on #293
I have not installed Meteor on my local machine, so I cannot test it here.. but regarding to the error message it looks like you're not using the latest React version (v17.0.2).

The react-reconciler package is considered experimental and changes over time, that's why the latest version of react-pixi is always in sync with the latest version of React.

To use an older react-reconciler implementati

[2021-04-16 13:38] #293 closed

[2021-04-17 16:38] ashlite commented on #293
default meteor create will adding react v16
But even though I install the latest react version (v17), it still producing the same error.

[2021-04-18 13:09] gp3098 commented on #90
Based on your example, I successfully triggered the click event
By the way, the document  address has changed
https://pixijs.download/dev/docs/PIXI.InteractionManager.html
thank you !

[2021-04-19 00:27] pynixwang opened #294 "[Feature Request] Add layout system"
https://github.com/lunarraid/react-pixi-layout

this package has layout but no hook.

[2021-04-19 00:32] pynixwang commented on #294
through `typeflex` a `yoga` port

[2021-04-19 06:08] inlet commented on #294
Hi @pynixwang

Thanks for sharing! I don’t have any plans for integrating layout really. This would have a huge impact on the footprint and I believe it’s better to separate the desired layout logic into another package.

However don’t let me stop you, you can easily extend react-pixi and combine it with layout as this lib exports all the components you need.

Please feel free to create another np

[2021-04-19 06:08] #294 closed

[2021-04-22 16:05] NatTuck commented on #286
I get this same issue on a fresh create-react-app app. Running yarn once to resolve the dependencies fixes it for npm as well.

[2021-04-24 22:44] Specy opened #295 "Question about using react fragments"
I have a component which calls another component that returns an interactive container, I've added a click listener to this container and it seems to work, but then I had to add another element other than this container so I used a fragment (<>) to group the two components, at that point the click event stopped working, so the question being, since we have to specify when an element is interactive

[2021-04-25 11:21] inlet commented on #295
Can you create an example in codepen or codesandbox?

[2021-04-25 11:49] Specy commented on #295
https://codesandbox.io/s/fervent-lichterman-5x8vv?file=/src/App.js

top square has element that fills X and registers clicks, the second which has no children filling x, doesn't register any clicks

[2021-04-27 10:35] inlet commented on #295
PIXI's interaction manager calculates the bounding rects of its children to register click events. This is the expected behaviour.

Here's the demo in plain PIXI:
https://www.pixiplayground.com/#/edit/xTTZGTcLufmLcSdMkARgM

[2021-04-27 10:35] #295 closed

[2021-05-04 08:55] Zamiell opened #297 "Should basic shapes be included in the library?"
Hello, and thanks for react-pixi. My question is as follows:

- PixiJS offers [Rectangle](https://pixijs.download/dev/docs/PIXI.Rectangle.html) and [Circle](https://pixijs.download/dev/docs/PIXI.Circle.html), which are obvious building blocks for most people's applications.
- However, react-pixi does not provide these, and expects end-users to manually create them in their own components.
- Vojtec

[2021-05-04 10:04] inlet commented on #297
Hi James,

In PIXI they are not renderable components, but code utils describing a space/area. So in native PIXI you have to draw them yourself as well.

Yes great resource, but also outdated as we've progressed on this library for more than a year now. ReactPixi now provides [props helpers](https://reactpixi.org/custom-components#props-helper) which helps you reduce boilerplate but still give you

[2021-05-04 10:04] #297 closed

[2021-05-04 10:37] inlet commented on #297
Here's a demo of how to draw Rectangles in ReactPixi: https://codepen.io/inlet/pen/c96945b105130375372b927c12b61243

Although you could use `PixiComponent` it's actually easier to use a simple `Sprite` like this:

[code]

[2021-05-04 15:37] Zamiell commented on #297
Thanks for the quick response, I will take a look.

[2021-05-09 12:17] zcaudate opened #298 "Question: using react-pixi in react-native with expo-gl"
is it possible to run the renderer on react native  with the expo-pixi library?

https://github.com/expo/expo-pixi

[2021-05-09 12:19] inlet commented on #298
I haven’t tried it, but my guess is it doesn’t work

[2021-05-09 12:19] #298 closed

[2021-05-18 12:29] lucas-jones commented on #38
@bichotll This was super useful. Thank you.

[2021-05-21 00:14] AdrienLemaire opened #299 "Uncaught Error: Could not find ID for Fiber "Canvas""
### Description
We've been noticing this warning for the past couple days, but cannot figure out what this is about, what problems it's creating and how to solve it.

![](https://i.imgur.com/Y54C4ez.png)

Might you have any idea about it ?

### Additional info

- `@inlet/react-pixi` version: 6.5.2
- `React` version: 17.0.2
- `ReactDOM` version: 17.0.2
- `PIXI` version: pixi.js-legacy@6.0.4

[2021-05-21 00:42] AdrienLemaire commented on #299
@inlet got it. The issue started after upgrading the chrome plugin [React Developer Tools](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi).
Can you look into this ? I guess it fails to understand how to read fibers generated by react-pixi

[2021-05-21 00:43] AdrienLemaire commented on #299
Or maybe they already fixed it here ? https://github.com/facebook/react/commit/132b72d7b668cbdabb06a44bd62979b212fc8b6d#diff-0b1d99a530095ba9262958e2fc44878dedef4e175ed45ec3df3982e5b64538c1R12

[2021-05-21 08:06] inlet commented on #299
Thanks! I'm experiencing the same thing 😞

The react-reconciler is not updated so that cannot be the issue..

I've updated my extensions but react-devtools are still on `4.13.3`:
![image](https://user-images.githubusercontent.com/232559/119104079-235bc700-ba1c-11eb-9067-6fe7e7d15a3d.png)

Hopefully they fixed this in the new release

[2021-05-21 15:05] inlet commented on #299
Just updated react devtools to `4.13.4` but no luck.

All examples on [react-fiber-tree](https://docs.pmnd.rs/react-three-fiber) outputs the same `Could not find ID for Fiber` warning.

I guess we'll need to wait for a fix

[2021-05-23 14:35] vocksel opened #300 "Nothing rendering when using react-spring"
### Description

I've been unsuccessful getting react-spring to render Sprites while following the react-pixi documentation. As such, I've dug through issues on this repo and came across the codepen example [here](https://github.com/inlet/react-pixi/issues/244#issuecomment-696749836), which works in the codepen sandbox, but copying the same code verbatim locally does not render the Sprite.

App.js

[2021-05-23 15:53] BasixKOR commented on #299
My components fail with warnings like below and I think this might be the cause of it, since I can see the `Could not find ID for Fiber` message too.

[code]

[2021-05-23 16:40] inlet commented on #300
It should work, here's a super simple example:

[react-spring-example.zip](https://github.com/inlet/react-pixi/files/6528497/react-spring-example.zip)

[2021-05-23 16:40] #300 closed

[2021-05-23 16:47] inlet commented on #299
Somehow the `Could not find ID for Fiber` error is gone. @AdrienLemaire can you verify it's working on your end?

[2021-05-23 17:28] vocksel commented on #300
Got it thank you! Was a dependency issue with react-spring.

[2021-05-23 23:01] AdrienLemaire commented on #299
Looks fine. Now running react devtools 4.13.4 (5/20/2021)

[2021-05-24 06:02] #299 closed

[2021-05-25 01:43] AdrienLemaire commented on #299
hmmm... I can see again warnings in my local env
![](https://i.imgur.com/HyqEVNg.png)

Still using the same packages version as mentionned above, and React Developer Tools
4.13.4 (5/20/2021)

[2021-05-25 07:17] inlet commented on #299
It's not related to react-pixi really, I get the same error when using react-dom in conjunction with `<Suspense>`. Seems like a bug in react devtools

[2021-05-26 13:23] inlet commented on #299
@AdrienLemaire there's been another update, I've updated to `4.13.5` and now the warning is gone. Can you verify this?

[2021-05-27 02:26] AdrienLemaire commented on #299
LGTM

[2021-06-04 08:15] ivgtr opened #301 "Error when using Text components in @inlet/react-pixi/animated"
### Description
When I try to use the Text component in @inlet/react-pixi/animated, an error message appears and I cannot use it.
Of course the Text component imported from @inlet/react-pixi works.

This is the simplest code to reproduce.
`App.tsx`
[code]
- codesandbox: [link](https://codesandbox.io/s/inspiring-silence-grj88?file=/src/App.tsx)

I'm sorry if there is a problem with my implementatio

[2021-06-04 09:28] inlet commented on #301
Fix is on its way

[2021-06-04 11:15] #301 closed

[2021-06-04 11:17] inlet commented on #301
It works in `@inlet/react-pixi@6.5.3`

[2021-06-04 11:46] inlet commented on #301
Here's a demo https://codepen.io/inlet/pen/f926a4cbb39f6bba757cc46ee15f2245?editors=1010

[2021-06-04 11:47] ivgtr commented on #301
Cool!!
This fix works correctly in my project.
Thank you for the quick fix, @inlet .

[2021-06-13 13:13] adsko opened #303 "Do not destroy children which are not created by react"
### Description
Currently, a code to remove a component from a tree looks like this:
[code]

It makes an issue with pixi components, which manages children on its own.
See issue: https://github.com/pixijs/spine/issues/389

Pixi spine makes children on its own and destroy them in destroy method. Because of it, there is no way to manage component like this in react-pixi, because react-pixi will call

[2021-06-14 09:01] inlet commented on #303
Fixed in new release, see [Docs - Custom Component](https://reactpixi.org/custom-components).
All you need to do is set `preventAutoDestroy: true` and you're good to go

[2021-06-14 09:01] #303 closed

[2021-06-14 09:51] adsko commented on #303
@inlet I think, children destroy also should be affected by this flag.

We don't know if everything is added to children (some components may be in memory).

[2021-06-14 09:53] inlet commented on #303
This is also handled by the reconciler, see

https://github.com/inlet/react-pixi/blob/4b81c3f28960a7dfd6add578460887c0e6e29f69/src/reconciler/hostconfig.js#L33-L38

[2021-06-14 10:02] adsko commented on #303
@inlet But you assume that every pixi component to destroy is in children array. Some of them may be in memory, see: https://github.com/pixijs/spine/blob/b50a4bfc01be727f86b74ddb2963b0363f5d8a3f/packages/base/src/SpineBase.ts#L745

Some containers and sprites are stored in class fields. Because of it, there may be memory leak if we enable "preventAutoDestroy".

It would be nice to have second flag

[2021-06-14 10:11] inlet commented on #303
what about we provide a `config` object like this?

[code]

[2021-06-14 10:13] adsko commented on #303
@inlet It makes sense to group it in object.

[2021-06-14 10:14] inlet commented on #303
Add a patch now

[2021-06-14 10:39] inlet commented on #303
done!

[2021-06-14 10:44] inlet commented on #303
Hopefully this fix helps you

[2021-06-22 10:04] 0xdevalias commented on #77
In case anyone else stumbles here from Google/etc, `react-pixi-fibre` now lists this in it's 'caveats' section of the README:

- https://github.com/michalochman/react-pixi-fiber#react-context-api-limitations

This links to the following React issue:

- https://github.com/facebook/react/issues/13336

Which seems to have been closed by this PR:

- https://github.com/facebook/react/pull/13728

Which

[2021-06-26 14:22] samanrnr opened #306 "Error: Expected subtree parent ... with react 18 alpha"
### Description
Stage component does not work with react 18

is there any way to solve this problem before releasing new update?

### Steps to reproduce

1.
2.

### Additional info

- `@inlet/react-pixi` version: 6.6.2
- `React` version: 18.0.0-alpha-73ffce1b6-20210624
- `ReactDOM` version: 18.0.0-alpha-73ffce1b6-20210624
- `PIXI` version: 6.0.4

[2021-06-26 14:27] inlet commented on #306
This is because we depend on `react-reconciler`, once React 18 gets stable we can update the host config to meet the new `react-reconciler` api

[2021-06-26 14:27] #306 closed

[2021-06-29 02:31] AdrienLemaire opened #307 "pixi build size with webpack"
### Description

**tldr: react-pixi imports all the pixi.js code, which is not friendly to code split chunking tools. Please consider improving this issue.**

I've noticed that the webpack chunk containing the pixi code is by far the largest in my codebase at a whooping 630.54 KB when gzipped.

![](https://i.imgur.com/qrfeceL.png)

The same `core.js` file seems to be duplicated 10 times.

When che

[2021-06-29 05:53] inlet commented on #307
In react-pixi we don’t do `import * from 'pixi.js'` but only import what’s needed.

Also regarding using legacy pixi, you only have to install `pixi-legacy` and import your components with `import { Stage } from '@inlet/react-pixi/legacy'`, see https://reactpixi.org/pixi-legacy

React-pixi uses Pixi as a peer dependency.

Hope this helps! Please let me know if I can be of any help

[2021-06-29 06:22] AdrienLemaire commented on #307
@inlet your code shows

If you import from `pixi.js` instead of `@pixi/app` like in [useApp](https://github.com/inlet/react-pixi/blob/adea51a87e663c5cf30af8e095052fbac2813e85/src/hooks/useApp.js#L3):

[code]

the `pixi.js` file is loaded, and the following requires are executed:

[code]

This will bundle all these packages in a single chunk, when all we needed was `@pixi@app`.

[2021-06-29 06:28] inlet commented on #307
Right, thanks! We could optimize this better indeed.

Although this will probably break the legacy support like we have now.

[2021-06-29 06:34] inlet commented on #307
Btw when initiating a `<Stage>` a  `PIXI.Application` will be created and you’ll need all the things (interaction, loaders, ..)

I believe importing directly from pixi.js isn’t a bad thing

[2021-06-29 06:39] AdrienLemaire commented on #307
According to [this article](https://medium.com/anvoevodin/how-to-set-up-pixijs-v5-project-with-npm-and-webpack-41c18942c88d), the minimum required would be:

[code]

Interaction doesn't seem mandatory, and I actually don't use it myself (using `react-use-gesture` instead).
I understand that this is not a trivial change for `@inlet/react-pixi`.

[2021-06-29 06:47] inlet commented on #307
Yes we do need interaction, I.e all display events are controlled with the interaction manager. I believe it’s not that simple, if we want to provide a solution that fits all needs we need to stick to the implementation we have. (importing from pixi.js).

Although I do understand that in your situation it would be nicer if it doesn’t bundle other (unused) pixi modules.

[2021-06-29 06:49] inlet commented on #307
I’ll close this issue for now, please let me know if you have a solution to this problem without compromising used features, thanks!

[2021-06-29 06:49] #307 closed

[2021-07-03 06:25] Aleksey-Danchin opened #308 "Migration time to React 17"
### Description

it's time to transfer the project to react 17.

### Steps to reproduce

`npm install @inlet/react-pixi`

### Additional info

- `@inlet/react-pixi` version: 6.6.2
- `React` version: 17.0.2
- `ReactDOM` version: 170.2
- `PIXI` version: ^5

[code]

[2021-07-03 07:36] inlet commented on #308
Can you be more specific?

This works up to the latest stable release of React.

Try installing in a clean folder to isolate the problem. What node version are you on?

I’ll close this issue as I cannot reproduce this issue

[2021-07-03 07:36] #308 closed

[2021-07-03 07:55] Aleksey-Danchin commented on #308
https://www.loom.com/share/69ae900611374f07845a20915c83b0aa

[2021-07-03 08:04] inlet commented on #308
Sorry the link doesn’t work

[2021-07-03 08:11] Aleksey-Danchin commented on #308
https://www.loom.com/share/8a70b45746f648ca96a482e6a1b41a10

[2021-07-03 08:49] inlet commented on #308
Super weird, does it work when installing in a clean folder?

Can you please try:

Remove the package lock and installing

or

installing it with yarn

[2021-07-05 09:41] inlet commented on #308
Hi @Aleksey-Danchin,

I just want to let you know that I've fixed this, you can now import the package correctly with:

[code]

Thanks!

[2021-07-05 11:45] cjds commented on #204
@Heilemann I just tried the exact implementation and it works including dragging. A caveat maybe not mentioned is that the dragging doesn't seem possible if all the elements are in the part of the viewport you can see on screen

[2021-08-04 03:18] CreativeTechGuy opened #309 "Incorrect type for useTick callback"
### Description

The type for `useTick` as seen [here](https://github.com/inlet/react-pixi/blob/master/index.d.ts#L428) indicates that the argument to the callback function `delta` could possibly be undefined. Referencing the pixi source type [TickerCallback](https://github.com/pixijs/pixijs/blob/170e890aad69828c394417cafbb3c0a0d928e8d3/packages/ticker/src/Ticker.ts#L5) it shows that `dt` is alway

[2021-08-04 04:03] CreativeTechGuy commented on #309
Also, I think there's some missing functionality also. In `pixi` the ticker listener is called with `this === Ticker` to allow the ticker handler function to access other properties of the ticker object (such as `elapsedMS`, `FPS` and more).

In the current implementation of `useTick` the callback cannot access `this`. I'd like to have access to that to match the functionality of Pixi.

[2021-08-04 05:15] CreativeTechGuy opened #310 "Expose more private types"
### Description

When creating React components that wrap react-pixi components while using TypeScript, it's sometimes necessary to use Types that are currently only available in the private `_ReactPixi` namespace. For example [InteractionEvents](https://github.com/inlet/react-pixi/blob/master/index.d.ts#L161-L165) is useful when creating a component that will pass any event handlers to an interac

[2021-08-04 14:05] inlet commented on #309
Good point! We can add the ticker instance as the second argument as the hook will be often used with dash array function.

Feel free to create a PR, thanks!

[2021-08-04 14:10] inlet commented on #310
Sure, feel free to create a PR with the exported types

[2021-08-04 21:10] inlet commented on #309
Fixed in the new release https://github.com/inlet/react-pixi/releases/tag/v6.6.4

[2021-08-04 21:10] #309 closed

[2021-08-05 02:49] CreativeTechGuy commented on #309
Oh dang you are fast. I didn't get a chance to reply. haha

I was going to ask why you wanted to pass a second argument instead of using `.apply` but I see you did both! Wonderful. 😄

[2021-08-06 09:27] inlet commented on #310
Fixed in #311

[2021-08-06 09:27] #310 closed

[2021-08-15 16:15] linonetwo commented on #263
Maybe you can enable Github discussion?

[2021-09-08 05:41] AdrienLemaire opened #312 "Support graphics-extra"
### Description

A lot of [Graphics](https://pixijs.download/dev/docs/PIXI.Graphics.html) methods have the warning

It would be nice if react-pixi Graphics component could use graphics-extra if that package has been npm installed.

Until then, how do you recommend to do something like drawStar  ?

[2021-09-08 05:48] AdrienLemaire commented on #312
Reading the code, I understood that we only need to call `import '@pixi/graphics-extras';` and Graphics will be mutated with the extra methods. Unrelated to react-pixi

[2021-09-08 05:48] #312 closed

[2021-09-24 12:40] hevans90 opened #313 "Routing back and forth between a <Stage> causes WebGL errors"
### Description

I am using a basic `<Stage>` component, and then using `useApp` to manually write a lot of procedural galaxy/star generation stuff. It's great and works fine until you route away from the component and then route back to it.

### Steps to reproduce

1. install `react-router-dom` and route between a component containing `<Stage>` and another component, more than once.

### Addition

[2021-09-24 12:42] hevans90 commented on #313
I have tried manually calling `app.destroy(true, true)` in a `useEffect`'s return function, but this threw errors as I assume `<Stage>` has code to tear down the app after the component is unloaded.

[2021-09-24 13:12] inlet commented on #313
Hi @hevans90,

Yes if you use the `<Stage>` component you cannot call `destroy` manually as the instance will be controlled by React's lifecycle events (mount, update, unmount) and destroyed automatically on unmount.

This webgl context issue arise if you create multiple `<Stage>` components, meaning you'll have basically 2 different renderers/webgl contexts.

I have no idea how to fix this really

[2021-09-24 13:20] hevans90 commented on #313
Wait, doesn't this mean that `<Stage>` can't be used at all when using `react-router-dom` and moving between pages?

[2021-09-24 13:22] inlet commented on #313
It's not really related to react-pixi, but to pixi itself.. if you create multiple `Application`s with webgl renderers, you'll starting to receive these warnings. The `<Stage>` component creates an `Application` at mount and destroys it at unmount

[2021-09-24 13:32] inlet commented on #313
Can you isolate the issue and create an example on codesandbox?

[2021-09-24 14:26] hevans90 commented on #313
https://github.com/pixijs/pixijs/issues/2233#issuecomment-449105397 this is the only solution I can find, which unfortunately basically invalidates your idea of destroying the app on unmount :(

[2021-09-24 15:35] hevans90 commented on #313
So it turns out that I was using this library: https://www.npmjs.com/package/pixi-stats which was causing the issue. Turns out my FPS counter used a canvas itself that was messing with PIXI's CONTEXTIDs.

Sorry for the false report. Closing this, as routing works fine :)

[2021-09-24 15:35] #313 closed

[2021-09-24 15:36] inlet commented on #313
Thanks for letting me know! 😉

[2021-09-29 20:55] qpwo opened #314 "RFC: provide app ticker in custom components"
I'm aware of `useTick` but want to manage my animations in plain js without `useState`s.

In my ideal world I could write this code:

[code]

I don't know if this would work but if it's possible could be very useful. I imagine it's more performant when a page has a lot of animations.

[2021-09-30 10:52] inlet commented on #314
Hi Luke,

What you want is already there, have a look at [Custom Components](https://reactpixi.org/custom-components). As custom components are created in the reconciliation process, it does not have direct access to any PIXI.Application specific logic like loaders or tickers.

In your example you use a simple `<Sprite>` component, in that case I'd recommend you compose a simple React component to

[2021-09-30 10:52] #314 closed

[2021-09-30 15:07] qpwo commented on #314
And here's the start of a generic version although it's not quite right

export function PixiAppComponent<
    T extends typeof PixiComponent,
    S extends DisplayObject>
    (props:
        {
            Component: T,
            componentProps: React.Props<T>
        }): JSX.Element {
    const { ticker } = useApp()
    const [sprite, setSprite] = useState<S | null>(null)

    useEffect((): voi

[2021-10-02 19:55] qpwo commented on #281
Now that is a useful trick

[2021-10-02 20:47] qpwo commented on #281
Typescript version for future readers

[code]

[2021-10-02 20:50] qpwo commented on #281
If you try to make to have a prop `Parent: React.FC<{ children: React.ReactNode }>` then your likely to have an unfixable runtime react error in development mode where it can't verify `children` is valid children. See here: https://stackoverflow.com/questions/49274143/react-typescript-hoc-passing-component-as-the-prop

[2021-10-15 07:28] Specy opened #315 "Render only when state changes"
I have a question, is it possible to cause a render only when state changes? (not faster than the request animation frame)
Or whenever I want to cause a render?
In my webapp I change state every 80/100 ms, sometimes it doesn't change anything for many seconds too, and I find it a resource waste to re render a static content Everytime.

[2021-11-02 01:30] spassvogel opened #316 "Proper way to create PixiComponent in typescript"
### Description
Hi, ever since upgrading pixi.js to `6.2.0` typescript complains

This is my code (simplified)
[code]

am I doing something wrong?

Versions:

[code]

[2021-11-02 15:33] inlet commented on #316
🤔  I cannot reproduce this issue, can you perhaps share your `tsconfig.json`?

Can you also try to add the types for react and react-dom?

[code]

[2021-11-02 16:26] spassvogel commented on #316
Okay this is extremely weird but after `rm -rf node_modules  && rm packacke-lock.json` and installing dependencies again it works. So sorry

[2021-11-02 16:27] inlet commented on #316
No worries, glad it works

[2021-11-02 16:27] #316 closed

[2021-11-09 10:19] sudongyuer opened #317 "ts error"
### Description

ts error

![image](https://user-images.githubusercontent.com/76603360/140906092-c0be3497-ac22-4a25-b7aa-6698f8d7a00c.png)

### Steps to reproduce

1. npm run dev
2. error

### Additional info

- `@inlet/react-pixi` version: ^6.6.5
- `React` version: ^17.0.0
- `ReactDOM` version: ^17.0.0
- `PIXI` version: ^6.2.0

[2021-11-09 14:31] inlet commented on #317
Hi @sudongyuer,

I cannot reproduce the issue. Are you sure you've included the react types:

[code]

Could you perhaps share your `tsconfig.json`?

[2021-11-18 21:54] lanyusan opened #318 "How does react-pixi handle culling?"
Pixi's guide talked about it in length.

How does react-pixi handle it? Automatically or should developers deal with it manually? Or any helper function?

Thanks.

I am evaluating canvas libraries for a project. This feature would be very helpful.

[2021-11-18 22:37] lanyusan opened #319 "A small suggestion: add a link to github repo at the documentation nav menu"
I found this lib's doc site reactpixi.org by googling `react pixi` and found it a good fit for a project by going through it. It took me a while to look for the github link.

I think it would be very convenient for readers if you put an explicit link to your github repo at your nav menu.

Just a minor suggestion.

[2021-11-19 15:57] inlet commented on #318
Hi @lanyusan,

Thanks for pointing out, culling is not part of this lib. This lib simply is a React wrapper for PIXI. However there are plenty of PIXI third party extensions available that support culling.

[2021-11-19 15:57] #318 closed

[2021-11-19 15:58] inlet commented on #319
Thanks good one! I'll see if I can add one

[2021-11-20 16:38] inlet commented on #319
Done, just added the link to the docs.. thanks for pointing out!

[2021-11-20 16:38] #319 closed

[2021-11-28 16:38] Specy opened #320 "Possible memory leak when unmounting"
### Description
I made a memory profile for the first time today and think that i have a memory leak in my app (somewhere, i have no idea how to find it), i've looked through the code and i dont think i can find anything which might cause it. One thing which i did notice tho was that whenever i change page (so in theory unmounting the parent that holds the Stage) and then go back to it (4/5 times)

[2021-11-29 10:50] inlet commented on #320
Duplicate #313

Basically it means that mounting a `<Stage>` component it creates a `PIXI.Application` which instantiates a WebGL context. This is related to PIXI itself and it is harmless.

In this (react-pixi) lib we destroy the application on unmount, however PIXI caches the webgl context ids in memory causing the warning to be thrown at the console. I've made several tests and I cannot see any

[2021-11-29 10:50] #320 closed

[2021-11-30 23:24] unicornware commented on #306
@inlet are there are any temporary solutions?

[2021-12-01 07:47] inlet commented on #306
@unicornware I haven't got the time to make this library react 18 compatible, but please feel free to open a PR and we can work together on the implementation.

[2021-12-01 09:15] inlet commented on #306
Great to hear you've found a workaround! I'll see if I have time the coming weeks to update this library

[2022-01-25 19:32] afogel opened #321 "Create support for a Gif component"
### Description

Hi @inlet , Thanks again for this amazing library. I was wondering -- would you be open to supporting pixi plugins as native component? Or is this something that you'd suggest individual projects develop for themselves using [custom components](https://reactpixi.org/custom-components)?

If you're open to it, I'm interested in contributing to build a react-pixi component that suppo

[2022-01-26 05:09] Jtfinlay commented on #139
About two years late to the party, but the following worked for me using `"@inlet/react-pixi": "^6.6.5",`, typescript, and rollup. Will hopefully help others.

[code]

Trying to load from `import { Stage, Graphics } from '@inlet/react-pixi/index';` leads to export errors with rollup.

[2022-01-27 08:28] inlet commented on #321
Hi Ariel,

Thank you for reaching out!

So to answer your question, in order to keep the footprint as small as possible I believe it's best to separate add-ons like these from the core.

Basically the custom components are built for these kind of add-ons, giving users the power to tap into the React reconciliation with custom written logic. But maybe you've another idea how this should work, could

[2022-01-27 14:13] #321 closed

[2022-02-03 08:36] AdrienLemaire opened #322 "Could not find ID for fiber"
### Description

Using React Developer Tools 4.23.0 (1/24/2022), I cannot debug the props and hooks of components that fall within react-pixi's fiber tree.

![](https://i.imgur.com/zlOyTrR.png)

### Additional info

- `@inlet/react-pixi` version: 6.6.3
- `React` version: 17.0.2
- `ReactDOM` version: 17.0.2
- `PIXI` version: 6.1.1

[2022-02-03 10:38] inlet commented on #322
[This demo](https://cdpn.io/pen/debug/yLVmPWv) works as expected, not sure why yours isn't working though.

This demo uses:

- `PIXI`version: 6.0.0
- `React` version: 17.0.2
- `ReactDOM`: version 17.0.2
- `@inlet/react-pixi`: version 6.6.5

Can you try updating `@inlet/react-pixi`?

[2022-02-06 22:39] Specy opened #323 "Update to pixi.js 6.3 once it updates"
### Description
In the new 6.3 version there will be support for server side apps, not giving errors when the library is loaded server side, i'd hope you could update to that version so that it will be easier to use this module in apps that use server side rendering
https://github.com/pixijs/pixijs/pull/8050

[2022-02-06 22:48] inlet commented on #322
I’ll close this issue for now as I cannot reproduce it. Let me know if we need to reopen this issue

[2022-02-06 22:48] #322 closed

[2022-02-16 00:47] Heilemann opened #324 "PIXI.Rectangle should have `intersects` method, but doesn't?"
Here's a rectangle I made, note the methods it has do not include `intersects`, but the [pixi.js documentation lists it as a method it should have](https://pixijs.download/release/docs/PIXI.Rectangle.html#intersects). Am I doing something wrong?

<img width="432" alt="CleanShot 2022-02-15 at 19 46 10@2x" src="https://user-images.githubusercontent.com/203049/154174781-8e4d7f63-2b21-4d3c-99bd-1309c2

[2022-02-16 02:08] Heilemann commented on #324
But then [this other version of the doc doesn't have `intersects`](https://pixijs.download/v6.0.0/docs/PIXI.Rectangle.html), so I'm confused. Both seem to be v6.2.2?

[2022-02-22 13:51] inlet commented on #323
Thanks for the suggestion, although I'm not planning to implement this on short term.

However feel free to collaborate and create a PR with the implementation and tests. Thanks!

[2022-02-22 13:51] #323 closed

[2022-02-22 13:56] inlet commented on #324
Hi @Heilemann,

Please file an issue in the Pixi.js repo, this is related to Pixi itself (not this library).
I'll close this issue, please let me know if you think we should reopen it.

Thanks!

[2022-02-22 13:56] #324 closed

[2022-02-22 14:38] jmcoder1 opened #325 "react-pixi Stage options.backgroundColor don't change with state"
State changes affect other React-Pixi Stage props, such as height or width. But, when I attempt to change the Stack options.backgroundColor, the backgroundColor does not change on state change.

Here's my code:

[code]

[2022-02-23 02:33] kevinz917 opened #326 "Component re-renders wrong Sprite"
### Description

Hey! I'm currently using react-pixi to power my game and I'm running into issues of the renderer mis-rendering blocks. I have a mobx store that stores the tile type on each coordinate and the React component is re-rendering using mobx, but the library is consistently rendering the tile images wrong. However if I refresh the whole webpage again it's rendered correctly. I was wonder

[2022-02-23 07:36] inlet commented on #326
Hi @kevinz917,

I’m afraid I won’t be able to help you with this. The complete React reconciliation + each components behavior has been tested thoroughly. We haven’t faced this issue before. I guess there must be something in your code that’s causing this issue..

I’ve tested react-pixi with different state managers, including mobx, and everything works as expected.

Feel free to dive in and isola

[2022-02-23 07:36] #326 closed

[2022-03-04 15:49] vijayth2-cerebras opened #327 "Use GraphicsGeometry to initialise Graphics to reduce memory footprint"
### Description
Graphics component has only a draw method. It will be nice if it also accepts GraphicsGeometry object as a prop. If the prop is available, the draw function will get a Graphics object created from the GraphicsGeometry object. This helps in reducing the memory footprint.

### Steps to reproduce
Playground without optimisation - https://www.pixiplayground.com/#/edit/Oq-cKLUW9M_Ar5Vyk

[2022-03-04 17:26] Specy opened #328 "Sprite from texture not showing up"
Im using a pixi app to create my own textures (in this case basic rectangles) that i then use in the sprites. Sort of a cache
I previously used canvas and converted it to a URL to then use that url as image of the sprite, but i now wanted to convert that to a pixi app to have more "control" of how i create things

I generate the texture like this:
[code]
and use it like this in the react component

[2022-03-05 12:36] inlet commented on #328
Not sure why yours isn’t working, but it might be the way you create the actual texture, here’s a working demo:

https://codepen.io/inlet/pen/WNGodOa

[2022-03-05 19:12] Specy commented on #328
https://codepen.io/specy-the-bold/pen/eYeXvdx?editors=0110
Here it shows the problem, i think that the texture needs to come from the same renderer for it to work, i tried to use a third pixi app to render it and then add it to the second app, and that also didnt show up.

Do you know some other feature i could use to get a similar outcome? Im just trying to create my own texture to then use it in

[2022-03-05 19:14] inlet commented on #328
Sure you can use the `useApp` hook and get the app renderer:

https://reactpixi.org/hooks#useapp

[2022-03-06 09:26] Specy commented on #328
I'm using class components so I'll have to use ref I guess, I'll see what I can do. Thanks for the help!

[2022-03-06 09:26] #328 closed

[2022-03-07 19:54] Specy commented on #328
For anyone which might need this in the future, yes the issue was that you can render only a texture that comes from the same renderer. If you want to create your own cache, get the ref of the app from the stage, then use that to generate the textures

[2022-03-08 08:20] inlet commented on #327
Hi Vijay

Thanks for contributing to the project. Yes we could add a `geometry` prop that will set `new Graphics(geometry)` in the constructor. This same graphics will then be passed to the `draw` method.

Can you please share a snippet how you would approach this in plain PIXI/javascript, thanks!

[2022-03-08 08:20] inlet commented on #327
Also feel free to create a PR with the fix

[2022-03-14 10:53] adamsmasher opened #329 "Using RenderTexture"
Apologies if this isn't the appropriate place to ask questions:

Is there any way to use a `RenderTexture` with react-pixi? That is, I'd like to render a react-pixi component to a texture. I've googled around and haven't been able to find any examples of doing this.  The custom `render` function, which seemed like it might be appropriate, requires a `Container`, which `RenderTexture` is not.

Than

[2022-03-14 11:31] inlet commented on #329
I believe this is what you’re looking for https://github.com/inlet/react-pixi/issues/328

This is not really related to this lib but more to PIXI itself

[2022-03-14 11:31] #329 closed

[2022-03-14 11:51] adamsmasher commented on #329
If I'm understanding that ticket correctly (apologies if I'm not!), it concerns trying to draw traditional PIXI objects onto a texture and then rendering that texture using React Pixi.

In my case, I have existing React Pixi components that I'd like to render onto a texture. I don't believe I can use `app.renderer` for that, can I? I'd imagine it only understands true PIXI objects - I can't just i

[2022-03-23 05:18] zzmingo opened #330 "How to make react-router works?"
For examples:

[code]

`Inner` should be render when push path to `/game/inner`,  but actually not.

[2022-03-23 05:51] inlet commented on #330
Should work indeed, can you please create a sample on codesandbox/codepen? Thanks

[2022-03-23 07:35] zzmingo commented on #330
After looking at ContextBridge, the issue was solved by bridging LocationContext and NavigationContext of `react-router`.

[2022-03-23 07:35] #330 closed

[2022-03-24 17:27] GorgeousPuree commented on #225
I'm sorry, but isn't it possible that devs like us won't bump into these cors errors? I just wanted to display a picture from my google bucket in the `Sprite` component and it threw me the same error. Why do we need to dive into implementation details, do extra research if my picture is loaded when I use default `img` html element?

[2022-03-24 18:53] inlet commented on #225
Hi @GorgeousPuree,

These are not implementation details, but simply the way cross domain requests work in browsers. And they exists for valid reasons.

Simply put, if you’re requesting a resource from another domain then you need to make sure the CORS headers from the requested domain allows you to use their resource on your domain.

[2022-03-27 22:15] spassvogel opened #332 "update pixi.js dep to 6.3.0"
### Description
After updating pixi.js in my project to [6.3.0 ](https://github.com/pixijs/pixijs/releases/tag/v6.3.0) I'm getting a typescript error

<img width="1245" alt="image" src="https://user-images.githubusercontent.com/985892/160303010-db89ee26-d68f-449d-9a6a-5427fa4717fa.png">

### Additional info

- `@inlet/react-pixi` version:      "@inlet/react-pixi": "^6.6.5",
- `React` version:

[2022-03-28 12:05] inlet commented on #332
I think it has something to do with `PixiViewport`, can you please share a codesandbox with a demo? thanks in advance!

[2022-03-28 16:31] adamsmasher commented on #329
@inlet would just like to clarify here - am I misunderstanding something about that linked issue? Or is there no way to do this with React-Pixi at the moment?

[2022-03-28 17:32] inlet commented on #329
Hi @adamsmasher,

This isn’t implemented in this lib, but you can easily achieve this by ref’ing the display object (I.e Sprite, Container etc) and use imperative pixi code..

pseudo code (not tested):

[code]

Or create a hook for it.

I hope this helps you

[2022-03-29 02:54] sabigara opened #333 "Can't install @pixi/events plugin"
### Description

First of all, thank you for creating this awesome library! It's been helping me a lot.

I'm trying to use `@pixi/events` plugin ([doc](https://api.pixijs.io/@pixi/events.html)) with `react-pixi` but experiencing trouble.

We need to delete the default `interaction` plugin before installing `@pixi/events`:

[code]

But `react-pixi` is trying to set the resolution of `interaction` a

[2022-03-29 07:01] inlet commented on #333
Sounds like a good solution, yes please create a PR. Thanks!

[2022-03-29 07:02] inlet commented on #327
Hi @vijayth2-cerebras, any updates on this?

[2022-03-29 07:05] vijayth2-cerebras commented on #327
Sorry got busy with something else. I will raise a PR shortly.

________________________________
From: Patrick Brouwer ***@***.***>
Sent: Tuesday, March 29, 2022 12:32:19 PM
To: inlet/react-pixi ***@***.***>
Cc: Vijay Thirugnanam ***@***.***>; Mention ***@***.***>
Subject: Re: [inlet/react-pixi] Use GraphicsGeometry to initialise Graphics to reduce memory footprint (Issue #327)

Hi @vijayth2-cereb

[2022-03-29 07:08] inlet commented on #327
Thanks Vijay that would be great!

[2022-03-30 08:02] spassvogel commented on #332
So weird.. the problem went away after deleting node_modules and reinstalling deps.. thx !

[2022-03-30 08:02] #332 closed

[2022-03-30 08:12] inlet commented on #332
That's odd indeed, but glad the issue is resolved. Thanks!

[2022-03-30 08:52] inlet commented on #333
Fixed in #335

[2022-03-30 08:52] #333 closed

[2022-03-31 14:13] #327 closed

[2022-04-07 21:02] milofultz opened #336 "Using Jest with React Pixi results in a TypeError"
### Description

I'm looking to implement the Jest testing framework with React Pixi and am unable to get past this TypeError:

[code]

Before this, I tried using `forceCanvas` and the `canvas` NPM library, but I couldn't get past a WebGL error despite using that `forceCanvas` option (not sure if opening a separate issue for that would be beneficial; if so let me know and I'll do that as well). Th

[2022-04-07 21:19] milofultz commented on #336
Realizing as I'm going through again that I believe this is an issue with Pixi and not your repo, so I'll go ahead and close this. Sorry for the trouble!

[2022-04-07 21:19] #336 closed

[2022-04-23 02:12] plantain-00 opened #337 "Error with react 18"
### Description

seems related: https://github.com/inlet/react-pixi/issues/306

[code]

### Steps to reproduce

1. Use the code from https://reactpixi.org/components/graphics
2. The error above appears.

### Additional info

- `@inlet/react-pixi` version: 6.7.0
- `React` version: 18.0.0
- `ReactDOM` version: 18.0.0
- `PIXI` version: 6.3.0

[2022-04-28 12:15] Ledzz opened #339 "Multiple apps rendered simultaneously"
### Description
If using more than one app on the page, they all are rendered simultaneously.
I'd like to create PR to fix this behavior.
My idea is to fire `__REACT_PIXI_REQUEST_RENDER__ ` events on the canvas instead of window.
@inlet are you ok with this approach? If yes, I'll make a PR in a few days.

[2022-04-28 13:38] inlet commented on #339
Thanks @Ledzz good point!

It does indeed make sense to move the events to the canvas element.
Thanks you for your collaboration, looking forward to review your PR.

Please add tests for multiple scenario's.

Thanks 🙏

[2022-05-06 11:56] dcaminos opened #341 "Typescript error when add children to a Container component (may be related with React 18)"
### Description
I'm getting a typescript error only when add children to any Container

<img width="758" alt="Screen Shot 2022-05-06 at 08 54 13" src="https://user-images.githubusercontent.com/22157341/167126544-5895cfdf-d86b-4a73-b119-ee5efd51b310.png">

### Steps to reproduce

1. Just add any kind of children to a Container component

### Posible solution

Replace `export const Container: React.

[2022-05-06 14:20] dcaminos commented on #341
Yes I'm `@types/react": "^18.0.8"`

[2022-05-06 14:24] inlet commented on #341
Yes that's causing the issue, we're working on a React 18 implementation

[2022-05-06 14:35] inlet commented on #341
If you switch back to React 17 this will work

[2022-05-06 16:25] Heilemann opened #342 "Typescript says 'width' isn't allowed on <Stage />"
### Description

Seeing this typescript error on Stage, but it doesn't make sense to me? Pretty sure Stage is supposed to take a width. [The documentation page for it](https://reactpixi.org/stage) says so at least.

<img width="1235" alt="CleanShot 2022-05-06 at 12 20 08@2x" src="https://user-images.githubusercontent.com/203049/167172715-b85d3262-ab95-4cfe-b25c-6c313b2ed5aa.png">

### Additional i

[2022-05-06 17:30] inlet commented on #342
Are you using @types/react v 18 perhaps?

[2022-05-06 17:31] Heilemann commented on #342
Doesn't look like it, from my package.json: `"@types/react": "^17.0.37",`

[2022-05-20 10:16] #339 closed

[2022-05-20 10:21] inlet commented on #342
![image](https://user-images.githubusercontent.com/232559/169507752-307654d0-ef33-44cf-b53c-9cad7db48c9f.png)

Unfortunately I cannot reproduce the issue.. it's working as expected:

![image](https://user-images.githubusercontent.com/232559/169508197-0bfea669-36c7-441a-bbb5-9d34af2aab7f.png)

[2022-05-20 10:21] #342 closed

[2022-05-20 10:22] inlet commented on #342
Closing the issue as I cannot reproduce this, please let me know if and why we should reopen this issue. Thanks!

[2022-05-20 10:23] inlet commented on #342
Maybe your typescript settings are incorrect? can you check your `tsconfig.json`

[2022-05-20 10:24] inlet commented on #341
I'll close this issue as this is related to #338. Once react-pixi is working with React 18 this should also be fixed

[2022-05-20 10:24] #341 closed

[2022-05-20 10:58] Heilemann commented on #342
Looks like this:

`{
  "compilerOptions": {
    "target": "es5",
    "lib": [
      "dom",
      "dom.iterable",
      "esnext"
    ],
    "allowJs": true,
    "skipLibCheck": true,
    "esModuleInterop": true,
    "allowSyntheticDefaultImports": true,
    "strict": true,
    "forceConsistentCasingInFileNames": true,
    "noFallthroughCasesInSwitch": true,
    "module": "esnext",
    "moduleResolu

[2022-05-20 10:59] inlet commented on #342
Can you try a CRA?

[2022-06-06 12:24] scq000 opened #343 "TSLint error"
### Description
When I use the demo in my code, the following error shows by tslint:

[code]

### Additional info

- `@inlet/react-pixi` version: 6.8.0
- `React` version: 17.0.44
- `ReactDOM` version: 17.0.16
- `PIXI` version: 6.4.2

[2022-06-06 12:32] scq000 commented on #343
And I found when I config the `module` item to "commonjs" in `tsconfig.json` file, the error has been disappeared.  And now the value of `module` item in my project is "esnext".

[2022-06-06 16:52] romansavchuk1 opened #344 "I tried to install this package after create react-app newly, but it's been failed."
### Description
I tried to install this package after create react-app, but it's failed.
![image](https://user-images.githubusercontent.com/106656648/172207706-09f6b5dc-b8c7-46de-b0e1-336f7ef310ae.png)

### Steps to reproduce

1. npx create-react-app my-app
2. npm install @inlet/react-pixi --save

### Additional info

- `@inlet/react-pixi` version:
- `React` version: 18.1.0
- `ReactDOM` version: 1

[2022-06-06 19:53] mark-strudwick commented on #344
This is also failing for me. I believe it's because react is now on version 18, but this only supports 17

[2022-06-07 11:20] inlet commented on #344
Yes this is because this lib is not yet compatible with React 18

[2022-06-07 11:27] romansavchuk1 commented on #344
I see, I solved it by changing of react version.

[2022-06-07 11:28] #344 closed

[2022-06-07 12:21] romansavchuk1 opened #345 "I tried to use useTick, but An error has been appeared."
### Description
I tried to use useTick, but An error has been appeared in React.
![2022-06-07_14h26_53](https://user-images.githubusercontent.com/106656648/172377458-1f8d1eff-ff01-40f9-8a29-6e94eb6aa2b1.png)
![2022-06-07_14h27_24](https://user-images.githubusercontent.com/106656648/172377470-e8943861-2a6d-4baa-8e40-e290fdd049af.png)

### Steps to reproduce

1.
2.

### Additional info

- `@inlet/re

[2022-06-07 12:24] inlet commented on #345
You must wrap the component with `<Stage>` as stated in the error message

[2022-06-07 12:24] #345 closed

[2022-06-07 12:31] romansavchuk1 commented on #345
![image](https://user-images.githubusercontent.com/106656648/172379332-f53d3327-c096-4eba-9876-aa47deafe09a.png)

But same error has been appeared.

[2022-06-07 12:34] inlet commented on #345
You need to wrap the `NumberAnimation` component in `<Stage>`:

[code]

[2022-06-07 12:39] romansavchuk1 commented on #345
I got it, I solved it.

[2022-06-14 08:07] MorookaKotaro opened #346 "Any way to run destroy() of PIXI.Sprite?"
### Description
I have this following code, but it causes memory leaking only in Safari, since the Sprite is completely removed. (seems GC not working)

[code]

<img width="716" alt="image" src="https://user-images.githubusercontent.com/62707539/173523779-00e3666b-3fa9-4f12-a239-d3d0471e025c.png">

I simulated the same situation with raw PIXI.js. I guess, since the destroy method is running, the m

[2022-06-14 08:13] inlet commented on #343
Unfortunately I cannot reproduce this issue, are you using React 18 types perhaps?

[2022-06-14 08:20] inlet commented on #346
On the other hand, in your code above the Sprite never gets destroyed because it will never unmount. Which is good.. you are only changing the texture.

It might be possible that there's something else happening in your code that's causing the memory leak?

[2022-06-14 09:00] MorookaKotaro commented on #346
Hello @inlet

Thank you for replying.
Okay, I'll create react-pixi demo in a moment.

Yes, that's exactly what I was thinking.
Since only the texture changes, Sprite will never unmount.
Which means new Sprite object is created every time as the texture changes, though the older ones are not removed.
That's why I was looking for the way to run destroy method manually.

Anyway, I'm going to create t

[2022-06-14 09:01] inlet commented on #346
That's why I was looking for the way to run destroy method manually.

Only 1 Sprite object will be created only the `texture` member will be updated

[2022-06-14 11:33] MorookaKotaro commented on #346
@inlet

Hmm.. It seems working well with minimum demo...
https://codesandbox.io/s/frosty-darkness-wvs8ds?file=/src/index.tsx

It could be my source code's fault.
Sorry for opening a mistaken issue :_(

I'm going to investigate more, then I will contact you if anything founded.

Thank you.

[2022-06-14 12:05] inlet commented on #346
Sure, keep me posted so I can close this issue. Thanks!

[2022-06-15 05:46] yzbaoo opened #347 "react-pixi export new pixi() ?"
### Description
i want to manage textureCache, but,when i use` <Sprite image="***">`,
how do i get the textureCache or BaseTextureCache?

### Additional info

- `@inlet/react-pixi` version: 6.8
- `React` :17
- `ReactDOM` :17
- `PIXI` version:6.4

[2022-06-15 05:59] yzbaoo commented on #347
[code]

[2022-06-15 06:19] MorookaKotaro commented on #346
Hello @inlet
I may found the issue.
As the total image size is larger, the memory seems never released in Safari.
![image](https://user-images.githubusercontent.com/62707539/173754467-f3a0147d-e00e-414f-b71e-366b9d3f9149.png)

On the other hand, in Chrome, JS Heap size works well.
![image](https://user-images.githubusercontent.com/62707539/173755855-0b8853c8-9086-4cec-b9db-baaca1dfe82f.png)

I wou

[2022-06-15 07:15] inlet commented on #346
I don’t see any issues with your demo, it must have to do something with how Safari handles GPU GC.

It might be worth filing an issue in the PIXI repo? Have you tried it with vanilla PIXI?

[2022-06-15 07:36] MorookaKotaro commented on #346
It might be because of machine's speck. I'll make it load more image, then you could see the issue.

Yes. The first one is with vanilla.
When the destroy method is not called, the memory graph looks similar as the one with react-pixi
https://codesandbox.io/s/staging-architecture-tl7v0x?file=/src/index.ts

[2022-06-15 07:38] inlet commented on #346
Right so we can confirm the same logic happens with vanilla PIXI.

I’ll close this issue as it’s not related to react-pixi but with PIXI in general

[2022-06-15 07:38] #346 closed

[2022-06-15 07:54] inlet commented on #346
Have you tested it out with Sprite that’s getting removed? As you can see in our reconciler tests all unmounted components are getting destroyed properly.

https://github.com/inlet/react-pixi/blob/master/test/reconciler.test.js#L309

[2022-06-15 07:55] inlet commented on #346
In your example you’re updating the `texture` prop, please try setting a `key` prop that unmounts the old and mounts a new one

[2022-06-15 08:04] #347 closed

[2022-06-15 11:39] MorookaKotaro commented on #346
@inlet
FYI:
Although it actually works with following code to some extent, it's necessary to set a key prop on Stage component  for much heavier images..
(By the way, it didn't work to set a key prop on Sprite component)
[code]

[2022-06-15 12:09] inlet commented on #346
Thanks for the reference 😁

[2022-06-25 17:04] mutewinter opened #348 "Incorrect TypeScript Type for `oldProps` in CustomComponent#applyProps"
### Description

`oldProps` is defined [here](https://github.com/inlet/react-pixi/blob/master/index.d.ts#L333) as `oldProps: Readonly<P>,`, however on first render it is an empty object. This can cause errors when attempting to access `oldProps` values on first render.

### Steps to reproduce

1. Create a custom component
2. Define `applyProps`
3. See invalid type for `oldProps`

### Additional in

[2022-06-28 10:47] inlet commented on #348
This is correctly, on initial render it doesn't have any old props on it.. we might set the type to something like `Readonly<P> | undefined`?

[2022-07-01 14:00] Thel27 opened #349 "Use of SmoothGraphics"
### Description
Hello ! First of all, a big thanks for this library. It's really cool !
For the context : I'm a young student currently working in internship in a startup and I'm making a DXF file editor with Pixi using your library.
I use PixiViewport that I integrate in my app like [in your codepen](https://codepen.io/inlet/pen/yLVmPWv)
I would like to have very thin line like in [this example](

[2022-07-03 22:05] mutewinter commented on #348
Currently it’s an empty object, which means it doesn’t throw when accessing one level deep props. But I agree with changing it to undefined is more clear. It would be a breaking change.

[2022-07-11 12:50] akkadaska commented on #343
I found the same issue and resolved by making the react and also **its types** versions from 18 to 17.0.2.
Please make sure you don't use not only react version 18 but also @types/react version 18 as @LeoTheG mentioned.

[2022-07-12 12:29] inlet commented on #349
Hi @Thel27,

You can achieve this with [custom components](https://reactpixi.org/custom-components), just create a custom component that creates a `PIXI.smooth.SmoothGraphics` component and you're set 😁

[2022-07-12 12:29] #349 closed

[2022-07-12 12:32] inlet commented on #343
I close this issue as this is related to React 18, see #337

[2022-07-12 12:32] #343 closed

[2022-07-21 09:57] Thel27 commented on #349
Hello, thank you for your answer. The problem is that I have already tried but was not successful. I want to keep the same syntax as your \<Graphics\> component with the draw method because my whole application uses it...

Is it possible? If yes, how?

One of my attempts :

[code]

[2022-07-21 12:06] Thel27 commented on #349
Hi, thanks for the respond. I just can't use GraphicSmooth anyway because it's not available on pixi js v5

[2022-08-28 10:10] Firas88Alkhatib opened #350 "Erro with Container component type"
### Description

Error with "Container" component type,
the children prop is omitted

### Steps to reproduce

1.Create React functional component
2. returns Container component with Graphics component as children
 `<Container>
      <Graphics />
    </Container>`

### Additional info

- `@inlet/react-pixi` version: 6.8.0
- `React` version: 17.0.1
- `ReactDOM` version: 17.0.1
- `PIXI` version: 6.5.

[2022-08-29 16:05] GorgeousPuree opened #351 "React pixi crashes with opened dev-tools"
### Description
Greetings, I've faced some strange bevahior. If I refresh the page with opened dev-tools, pixi crashes. If it's closed, pixi works good.
Project contains bare `Stage` component. I guess there's something wrong with versions, as half of the year ago I didn't have such errors.

![pixi](https://user-images.githubusercontent.com/46875481/187244221-92735747-2986-45ec-a71e-c539636d81b8.g

[2022-09-09 08:35] james-arn commented on #350
I've experienced this too, you can turn off typescript using @ts-ignore and it somewhat works for some props like position, however height and width doesn't. I've had to revert to pixi.js.

[2022-09-12 19:59] duckforce opened #352 "Error when using Stage"
### Description

<img width="379" alt="image" src="https://user-images.githubusercontent.com/20500565/189744094-66f2fb25-989c-4f39-a851-d1af0613fe6d.png">

<img width="450" alt="image" src="https://user-images.githubusercontent.com/20500565/189744508-2bd8ef09-a167-4869-8026-95c49b738ecc.png">

### Steps to reproduce

1.  I just added Stage at any components and get error "Cannot set properties of

[2022-09-14 11:17] nanachi-code commented on #350
I dived into the type def and looks like the they are omitting the children props. Not sure if this is intentional.
[code]

[2022-09-14 12:05] james-arn commented on #350
OP was using react 17 so it can't be a version issue. I also tried rolling back with no luck

[2022-09-19 14:56] saitonakamura commented on #350
@Firas88Alkhatib can you provide a repro? I'm struggling to understand the issue. As for the react 18 they did remove `childern` prop from `FC` and `Component`, but none of the topic starter version suggests it's react 18 issue

[2022-09-19 15:10] saitonakamura commented on #352
@duckforce I'm puzzled and struggling to reproduce via codesandbox, https://codesandbox.io/s/angry-wave-1ly78t?file=/src/App.tsx. Can you provide a repro?

[2022-09-19 15:18] saitonakamura commented on #351
@GorgeousPuree first of all, if you're using react 18, you should use beta version from #338 (`@saitonakamura/react-pixi@7.0.0-beta-5` is the latest one currently). Secondly, we experienced this issue when pixi asked to create and destroy 2 apps in quick succession (which happens in strict mode), more info here

https://github.com/inlet/react-pixi/pull/338#issuecomment-1203170876

Not sure how dev

[2022-09-19 15:29] GorgeousPuree commented on #351
@saitonakamura I see, didn't know about the beta version, so I downgraded react to 17th version. Haven't found out how dev tools affecting it too.

[2022-09-19 18:09] nanachi-code commented on #350
mb I wasnt paying attention to op's react version but I was also facing the same problem when using react 17. I think its because the Container component doesnt have the children prop from the type def I found in the previous comment.

[2022-09-20 01:28] jdlee022 commented on #337
Is there a solution for this?

[2022-09-20 01:49] plantain-00 commented on #337
I couldn't find any solution in the past several months, so I migrated to raw WebGL instead.

[2022-09-20 08:12] saitonakamura commented on #350
@nanachi-code this is done intentionally so the pixi `children` class field (which is omitted) won't clash with react concept of children (which effectively replaces pixi one). If you have repro we can investigate, but otherwise I don't really understand what may cause it

[2022-09-30 14:35] shryt commented on #350
I also faced the same issue, and it should be because I forgot to downgrade `@types/react `and `@types/react-dom`. It might solve to downgrade those to version 17 manually, or I recommend you to use `typesync`(https://github.com/jeffijoe/typesync), which automatically install missing TypeScript typings for dependencies.

[2022-10-01 10:19] adnanlah opened #353 "Error: "(alias) const Container: React.FC<_ReactPixi.IContainer> import Container Type '{ children: Element; x: number; y: number; }' is not assignable to type 'IntrinsicAttributes & Partial<Omit<Container<DisplayObject>""
### Description
I get this error when I try this example:

![image](https://user-images.githubusercontent.com/8447982/193404636-844e36af-bdad-479c-84c3-a1e24d92c2fd.png)

[code]

### Steps to reproduce

1. install @inlet/react-pixi and pixi.js in a Vite react app.
2. Try a small example in a React component.

### Additional info

- `@inlet/react-pixi` version: "^6.8.0"
- `React` version: "^18.2.0"

[2022-10-07 09:28] saitonakamura commented on #337
@plantain-00 @jdlee022  You can use `@saitonakamura/react-pixi@17.0.0-beta-5`, it has support for react 18 and we've being using it in production for a month

[2022-10-07 09:29] saitonakamura commented on #353
@plantain-00 @jdlee022  You can use `@saitonakamura/react-pixi@17.0.0-beta-5`, it has support for react 18 and we've being using it in production for a month

[2022-10-11 09:33] duckforce commented on #352
I solve problem with removing hot-loader @pmmmwh/react-refresh-webpack-plugin.

Could you solve this problem?
@saitonakamura

[2022-10-11 13:19] saitonakamura commented on #352
If you can provide a repro, we can look into it, but I'm not too well-versed in hot reload shenanigans to know how to approach it

[2022-10-12 08:38] aabmets opened #354 "ERROR - unable to resolve dependency tree"
### Description
[code]

### Steps to reproduce

1. `npm install @inlet/react-pixi`

### Additional info

- `@inlet/react-pixi` version: 6.8.0
- `React` version: 18.2.0
- `ReactDOM` version: 18.2.0
- `PIXI` version: 6.5.6

[2022-10-20 16:10] designspin commented on #354
Looks like the issue is in hand though: https://github.com/inlet/react-pixi/pull/338 , great stuff!

[2022-11-02 11:20] sebastian-budka-mir commented on #350
It was working fine on React 17. But after migration to 18 it stoped working due to `children` props removal in `React.FC` (as @saitonakamura mentioned).

[2022-11-22 22:46] darwin67 opened #355 "Library breaks with pixi.js v7"
### Description
The library seems to be completely broken from pixi.js v7.

![error](https://user-images.githubusercontent.com/5746693/203436613-dee6f8f5-e27d-4775-8ac4-ec7c0997e30e.png)

### Steps to reproduce

1. Create a new react-app with latest pixi and react-pixi
2. Follow https://reactpixi.org/#usage and try mounting a pixi application with `Stage`

Error should show.

### Additional info